<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <style>
      tr .modified {
        background-color: rgba(255, 255, 0, 0.3);
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">검사 코드 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-3">
          <div class="col-3">
            <label class="col-form-label" for="testName">검사명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="testName" name="testName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="testSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-9 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="add" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" id="delete" style="height: 38px">삭제</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div id="grid"></div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;

          //그리드폼 시작
          const grid = new tui.Grid({
            el: document.getElementById("grid"),
            contextMenu: null,
            data: {
              contentType: "application/json",
              api: {
                readData: {
                  url: "/qip/getTCodeList",
                  method: "GET",
                },
                modifyData: {
                  url: "/qip/tCodeModifyAjax",
                  method: "POST",
                  withCredentials: true,
                },
              },
            },
            bodyHeight: 700,
            scrollX: false,
            rowHeaders: [{ type: "checkbox", header: ` ` }],
            columns: [
              {
                header: "검사코드",
                name: "testCode",
                align: "center",
              },
              {
                header: "검사명",
                name: "testName",
                editor: "text",
                align: "center",
              },
              {
                header: "검사설명",
                name: "testDetail",
                editor: "text",
                align: "center",
                width: 800,
              },
            ],
          });
          //그리드 폼 끝

          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          grid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          grid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              alert("데이터가 저장되었습니다.");
            } else if (result == "Fail") {
              alert("데이터 저장중 에러가 발생했습니다.");
            }
          });

          //tui grid의 언어세팅
          tui.Grid.setLanguage("ko");

          //수정된 행 색칠 시작
          grid.on("afterChange", (e) => {
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          //수정된 행 색칠 끝

          //그리드 세팅 끝

          //저장기능 시작
          $("#save").click(() => {
            //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
            grid.finishEditing();
            grid.request("modifyData");
          });

          //저장기능 끝

          //검사 조회 기능 grid.readData
          $("#testSearchBtn").click(() => {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true

            let testName = $("#testName");
            // 변경점이 없다면
            if (noChange) {
              // input이 비어있지 않으면
              if (testName.val() != "") {
                grid.setRequestParams({ testName: testName.val() });
                grid.readData();
                grid.setRequestParams();
                // input이 비어있으면
              } else {
                grid.readData();
              }
            } else {
              // 변경점이 있다면 confirm 창을 띄운다.
              if (confirm("조회시 저장되지않은 데이터가 소실됩니다. 조회하겠습니까?")) {
                // input이 비어있지 않으면
                if (testName.val() != "") {
                  grid.setRequestParams({ testName: testName.val() });
                  grid.readData();
                  grid.setRequestParams();
                  // input이 비어있으면
                } else {
                  grid.readData();
                }
                nextCode = null;
              }
            }
          });
          //검사 조회기능 끝

          //검사 추가 시작
          let nextCode; // testCode
          $("#add").click((e) => {
            // if (!nextCode) {
            //   // 코드를 가져온적이 없으면 새로 가져옴
            //   $.ajax({
            //     url: "/qip/getTestCode",
            //     async: false,
            //   }).done((r) => {
            //     nextCode = r;
            //   });
            // } else {
            //   // 코드를 이미 가져왔다면 코드에 1을 추가함
            //   let word = nextCode.substr(0, 5);
            //   let num = parseInt(nextCode.substr(5)) + 1 + "";
            //   nextCode = word + num.padStart(5, "0");
            // }
            grid.appendRow({}, { focus: true }); // 행을 추가하고 마우스 커서를 이동
            grid.addRowClassName(grid.getFocusedCell().rowKey, "modified");
          });
          //검사 추가 끝

          //검사 삭제 시작
          $("#delete").click((e) => {
            if (grid.getCheckedRowKeys().length == 0) {
              alert("삭제할 행을 체크해주십시오.");
            } else {
              grid.removeCheckedRows(true);
            }
          });
          //검사 삭제 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
              grid.restore();
              nextCode = null;
            }
          });
          //초기화 버튼 끝
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
