<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pen.app.qip.mapper.TestMapper">
	<!-- 자재 입고검사 모달 리스트 조회 -->
	<select id="matTestList" resultType="TestMatModalVO">
		SELECT MAT_DTAORDCODE,
				MAT_ORDERNUM,
				TO_CHAR(MAT_ORDERDATE,'YYYY-MM-DD') AS MAT_ORDERDATE,
				MAT_CODE,
				MAT_NAME,
				MAT_ORDER_QY,
				MAT_UNIT,
				ACC_CODE,
				ACC_NAME,
				ACC_TEL
		FROM(SELECT MAT_DTAORDCODE,
					MAT_ORDERNUM,
					MAT_ORDERDATE,
					MAT_CODE,
					MAT_ORDER_QY,
					ACC_CODE,
					ACC_NAME,
					ACC_TEL
			FROM MAT_ORDER JOIN MAT_ORDER_HEADER USING(MAT_ORDERNUM) JOIN COM_CODE_ACCOUNT USING(ACC_CODE)) JOIN COM_CODE_MAT USING(MAT_CODE)
		WHERE MAT_DTAORDCODE NOT IN (SELECT MAT_DTAORDCODE
									FROM QIP_LIST_MAT)
		ORDER BY MAT_ORDERDATE
	</select>

	<select id="expTestList" resultType="TestExpModalVO">
		SELECT MAT_LOT AS EXP_LOT,
				MAT_CODE AS EXP_CODE,
				MAT_INVNTRY.MAT_NAME AS EXP_NAME,
				MAT_QNT AS EXP_CNT,
				MAT_UNIT AS EXP_UNIT,
				TO_CHAR(MAT_KEEPDATE, 'YYYY-MM-DD') AS EXP_DATE
		FROM MAT_INVNTRY JOIN COM_CODE_MAT USING(MAT_CODE)
		WHERE MAT_STATE = '검사필요'
	</select>

	<insert id="insertMatTest">
		INSERT ALL
		INTO QIP_LIST_MAT VALUES(
		'TEST-MAT-'||LPAD(TEST_MAT_SEQ.NEXTVAL,6,'0'),
		#{rVO.targetCode},
		#{rVO.testDate},
		#{rVO.empNum},
		#{rVO.testNum},
		#{rVO.testTnumDef},
		#{rVO.testTnumPass}
		)
		<foreach collection="list" item="vo" separator=" ">
			INTO
			QIP_LIST_DETAIL VALUES (
			GET_TEST_DETAIL_SEQ(),
			'TEST-MAT-'||LPAD(TEST_MAT_SEQ.NEXTVAL,6,'0'),
			#{vo.testCode},
			#{vo.testNumDef}
			)
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<insert id="insertExpTest">
	DECLARE BEGIN
		INSERT ALL
		INTO QIP_LIST_EXPIRED VALUES(
		'TEST-EXP-'||LPAD(TEST_EXP_SEQ.NEXTVAL,6,'0'),
		#{rVO.targetCode},
		#{rVO.testDate},
		#{rVO.empNum},
		#{rVO.testNum},
		#{rVO.testTnumDef},
		#{rVO.testTnumPass}
		)
		
		INTO MAT_DSUSE VALUES(
		MAT_DSUSE_SEQ.NEXTVAL,
		'TEST-EXP-'||LPAD(TEST_EXP_SEQ.NEXTVAL,6,'0'),
		#{rVO.targetCode},
		#{rVO.testNum},
		#{rVO.testTnumDef},
		#{rVO.testTnumPass},
		#{rVO.testExpDate}
		)
		<foreach collection="list" item="vo" separator=" ">
			INTO
			QIP_LIST_DETAIL VALUES (
			GET_TEST_DETAIL_SEQ(),
			'TEST-EXP-'||LPAD(TEST_MAT_SEQ.NEXTVAL,6,'0'),
			#{vo.testCode},
			#{vo.testNumDef}
			)
		</foreach>
		SELECT * FROM DUAL
		;
		
		UPDATE MAT_INVNTRY
		SET
		MAT_STATE = '검사완료',
		MAT_KEEPDATE = #{rVO.testExpDate},
		WHERE MAT_LOT = #{rVO.targetCode};
		
	END; 
	</insert>
</mapper>