<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/template}">

<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>자재조정조회</title>

  <style>
    .ordersearch {
      border: 1px solid black;
      padding: 20px;
    }
    .text1 {
      padding: 0 5px 0 ;
    }
    
    #dlivy{
	margin : 10px;
	float:right;
	margin-right:10px;

	}
    #lotadjustgride{
      margin: 20px 0 0px;
    }
    .form-control {
	width: 170px;
	}
	input.form-control{
	display:inline-block;
	}
	.ordersearch label{
    padding: 5px;
    }
    .ordersearch button{
    height : 38px;
    }
    

  </style>
  <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>


<body>
  <div layout:fragment="title">
    <h3>자재조정조회</h3>
  </div>
  
  <div layout:fragment="content">
    <form id="searchform">
    <div class="ordersearch">
     <div class="row justify-content-center" style ="margin:15px 0 15px 0;">

    <div class="col-3" style="text-align:right;">
      <label>LOT번호</label>
      <input class="text1 form-control" type="text" id="lotnum" name="matLot" style="margin-right:10px;"> 
      </div>


	<div class="row col-4">
     <label>조정일자</label>
	<div class="col-4">
     <input class="form-control" type="date" name="matMdatdate" id="matMdatdate"></div>
      <div class="col-1"> ~</div>
	 <div class="col-5" style="position:relative; left:-30px;">
     <input class="form-control" type="date" id="matMdatdate1" name="matMdatdate1">
	</div>
	</div>

    <div class="row col-2" style="position:relative; left:-35px;">
      <div class="col-4">
	  <input  type="radio" name="matMdev" id="alladj" value="">
	  <label class="form-check-label" for="alladj">전체</label>
	  </div>
	  <div class="col-4">
	  <input  type="radio" name="matMdev" id="dli" value="출고">
	  <label class="form-check-label" for="dli">출고</label>
	  </div>
	  <div class="col-4">
	  <input type="radio" name="matMdev" id="inv" value="입고">
	  <label class="form-check-label" for="inv">입고</label>
	  </div>
</div>
     <div class="col-2" style="text-align:left;">
      <button type="button" class="btn btn-primary fa-solid fa-magnifying-glass" id="submitbtn">조회</button>    
    </div>
     </div>
    </div>
	</form>
	<div id="lotadjustgride"></div>
	
	
    <script>	
    const token = $('meta[name="_csrf"]').attr("content");
    const header = $('meta[name="_csrf_header"]').attr("content");

    //lot리스트
    var lotadjustgride = new tui.Grid({
        el: document.getElementById('lotadjustgride'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['rowNum'],
        bodyHeight : 600,
        columns: [{
        header: 'LOT번호',
        name: 'matLot',
        align: "center"
        },
        {
        header: '자재명',
        name: 'matName',
        align: "center"
        },
        {
        header: '자재코드',
        name: 'matCode',
        align: "center"
        },
        {
        header: '처리 전 재고량',
        name: 'bmatQnt',
        align: "center"
        },
        {
        header: '재고량',
        name: 'matQnt',
        align: "center"
        },
        {
        header: '자재조정수량',
        name: 'matMdatqnt',
        align: "center"
        },
        {
        header: '조정일시',
        name: 'matMdatdate',
        align: "center"
        },
        {
        header: '조정구분',
        name: 'matMdev',
        align: "center"
        },
        {
        header: '조정사유',
        name: 'matMdatresn',
        align: "center"
        }
        ]
        });
    
    
    $.ajax({
        url : "/mat/allmatadjustlist",
        method : "GET",
        dataType : "JSON",
        success : function(result){
        	console.log(result);
        	lotadjustgride.resetData(result);
        	lotadjustgride.refreshLayout();
        }
      });
	
    
  

    
   //조회버튼
   $("#submitbtn").on('click',function(){
			   
	   $.ajax({
		 url: "/mat/matadjustsearchlist",
		 method: "GET",
		 data :$('#searchform').serialize(),
		 success : function(result){
			 console.log(result)
			 lotadjustgride.resetData(result);
			 lotadjustgride.refreshLayout();
		 },
		 error : function(reject){
			 console.log(reject)
		 }
	   });
   })
   
   
   //날짜설정
   function get_date(days) {
 	 var date = new Date();
  	date.setDate(date.getDate() + days);
  		return date;
	}

   document.getElementById('matMdatdate').valueAsDate = get_date(-7);
   document.getElementById('matMdatdate1').valueAsDate = new Date();	
 
    </script>

    </div>
    
    </body>
    
    </html>