<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/template}">

<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>자재조정관리</title>

  <style>
	.ordersearch {
      border: 1px solid black;
      padding: 20px;
    }
    .text1 {
    padding: 0 5px 0 ;
    }
    
    #dlivy{
	margin : 10px;
	float:right;
	}
	#subtn{
	margin : 10px;
	float:right;	
	}
    #lotadjustgride{
      margin: 20px 0 0px;
    }
    #matadjustgrid{
     display:none;
    }
    .ordersearch label{
    padding: 5px;
    }
    .ordersearch button{
    height : 38px;
    margin:0 0 3px;
    }
    input.form-control{
	display:inline-block;
	}
	.form-control {
	width: 200px;
	}


  </style>
  <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
  <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>


<body>
  <div layout:fragment="title">
    <h3>자재조정관리</h3>
  </div>
  
  <div layout:fragment="content">
  <form id = "searchform">
    <div class="ordersearch">
     <div class="row justify-content-center" style ="margin:15px 0 15px 0;">
    <div class="col-3">
      <label>자재명</label>
      <input class="text1 form-control" type="text" id="matmodalmatname" name="matName" readonly	>
      <input class="text1" type="hidden" id="matmodalmatcode" name="matCode" readonly	>
      <button id="matmodalBtn" type="button" class="btn btn-primary fa-solid fa-magnifying-glass" data-toggle="modal" data-target="#matmodal"></button>
      </div>
      <div class="col-3" style="position:relative; left:-50px;">
      <label>LOT번호</label>
      <input class="text1 form-control" type="text" id="matlot" name="matLot" >
      </div>
        <div class="row col-2" style="position:relative; left:-70px;">
      <button type="button" class="btn btn-primary fa-solid fa-magnifying-glass" id="submitbtn">조회</button>
      </div>
      </div>
      </div>
    </form>
      <input class="text1" type="hidden" id="empId" name="empId" th:value="${#authentication.principal.username}"  readonly>    


    <!-- 자재명모달 -->
    <div class="modal fade bd-example-modal-lg" id="matmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">자재목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <label>자재명</label>
        <input class="modaltext" type="text" id="ckmat-text">
        <button class="btn btn-primary fa-solid fa-magnifying-glass" type="button" id="ckmat">조회</button>
      	<div id="mat-modal-grid"></div>
      </div>
    </div>
  </div>
</div>


	<div id="lotadjustgride"></div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<input class="text1" type="hidden" id="empId" name="empId" th:value="${#authentication.principal.username}" readonly>
     <button type="button" class="btn btn-primary" id="subtn">입고</button>
     <button type="button" class="btn btn-primary" id="dlivy">출고</button>
	</div>
	<div id="matadjustgrid"></div>
	
	
    <script>
    const token = $('meta[name="_csrf"]').attr("content");
    const header = $('meta[name="_csrf_header"]').attr("content");

  	//알람
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        timer: 1500,
        customClass: { container: "swalAlert" },
        showConfirmButton: false,
      });
	
    
    //lot리스트
    var lotadjustgride = new tui.Grid({
        el: document.getElementById('lotadjustgride'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['rowNum'],
        bodyHeight : 250,
        columns: [{
        header: 'LOT번호',
        name: 'matLot',
        align: "center"
        },
        {
        header: '자재명',
        name: 'matName',
        align: "center"
        },
        {
        header: '자재코드',
        name: 'matCode',
        align: "center"
        },
        {
        header: '거래처명',
        name: 'matBcncname',
        align: "center"
        },
        {
        header: '수량',
        name: 'matQnt',
        align: "center"
        },
        ]
        });
    
 
    
  //자재명모달
    $.ajax({
        url : "/mat/matlist",
        method : "GET",
        dataType : "JSON",
        success : function(result){
        	console.log(result);
          modal_grid.resetData(result);
          modal_grid.refreshLayout();
        }
      });


	  
      var modal_grid = new tui.Grid({
        el: document.getElementById('mat-modal-grid'),

        scrollX: false,
        scrollY: false,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '자재코드',
          name: 'matCode',
          align: "center"
        },
        {
          header: '자재명',
          name: 'matName',
          align: "center"
        }
      ]
    })
      
    
    $(function(){  
    $('#matmodal').on('shown.bs.modal', function(e){
    	//자재모달
    	//자동커서
    	$('#ckmat-text').focus();
    	modal_grid.refreshLayout();
    });
    })
	
     //자재모달엔터키
      $("#ckmat-text").on('keyup',function(e){
    	  if(e.keyCode == 13){
			$("#ckmat").click();   		  
    	  }
      })	
    
    //자재모달검색조회
    $("#ckmat").on('click', function(){
    	let result2 = document.querySelector('#matmodal #ckmat-text').value;
		$("#ckmat-text").val('');
    	
    	$.ajax({
    		 url : "/mat/matminilist",
    	     method : "GET",
    	     data : {'result' : result2},
    	     success : function(result){
    	     modal_grid.resetData(result);
    	     modal_grid.refreshLayout();	
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
  
      		}
    	})
    });
     
    //자재모달선택
    modal_grid.on('click', ev=> {
      console.log(ev.rowKey)
      console.log(ev.columns)

      const focusCell = modal_grid.getFocusedCell()
      console.log(focusCell)

      let dataRow = modal_grid.getRow(ev.rowKey);
      console.log(dataRow);

      console.log('자재코드 : ' + dataRow.matCode + ', 자재명 : ' + dataRow.matName);
      $('#matmodalmatname').val(dataRow.matName);
      $('#matmodalmatcode').val(dataRow.matCode);

      
      $('#matmodal').modal('hide');
      
      $.ajax({
          url : "/mat/matlist",
          method : "GET",
          dataType : "JSON",
          success : function(result){
          	console.log(result);
            modal_grid.resetData(result);
            modal_grid.refreshLayout();
          }
        });
    })	

    
   //조회버튼
   $("#submitbtn").on('click',function(){
	   
	   $.ajax({
		 url: "/mat/matadjustsearch",
		 method: "GET",
		 data : $('#searchform').serialize(),
		 success : function(result){
			 console.log(result)
			 lotadjustgride.resetData(result);
			 lotadjustgride.refreshLayout();
		 },
		 error : function(reject){
			 console.log(reject)
		 }
	   });
   })
   
    
     
	//조정수량
   var matadjustgrid = new tui.Grid({
    el: document.getElementById('matadjustgrid'),
    scrollX: false,
    scrollY: false,
    rowHeaders: ['checkbox'],
    bodyHeight : 250,
    columns: [{
    header: 'LOT번호',
    name: 'matLot',
    align: "center"
    },
    {
    header: '자재코드',
    name: 'matCode',
    align: "center"
    },
    {
    header: '자재명',
    name: 'matName',
    align: "center"
    },
    {
    header: '수량',
    name: 'matQnt',
    align: "center"
    },
    {
    header: '자재조정수량',
    name: 'matMdatqnt',
    editor: 'text',
    align: "center"
    },
    {
    header: '조정사유',
    name: 'matMdatresn',
    editor:'text',
    align: "center"
    },
    {
    header: '사원번호',
    name: 'empId',
    hidden: true
    }
    ]
    });

    lotadjustgride.on('click', ev =>{
    	console.log('클릭');
    	document.getElementById('matadjustgrid').setAttribute('style', 'display:block;');
    	var matLot = lotadjustgride.getRow(ev.rowKey).matLot;
    	console.log(matLot)
    	
    	$.ajax({
	   		 url : "/mat/matadjustlot",
	   	     method : "GET",
	   	     data : {"matLot" : matLot},
	   	     success : function(result){
	   	    	 console.log(result)
	   	    	matadjustgrid.resetData(result);
	   	    	matadjustgrid.refreshLayout();
	   	     },
	   	     error: function(reject){
	   	    	 console.log(reject)
	     }
	   }); 
    	
    })
    
    //입고버튼
    document.getElementById('subtn').addEventListener('click', function(){
    	let checked = matadjustgrid.getCheckedRows();
    	
    	console.log(checked);
    	checked[0].matMdev= '입고'; 
    	checked[0].empId =$('#empId').val();
   
    		
    	
    	 $.ajax({
    	  		url : "/mat/matadjustregister",
    	  		method : "POST",
    	  		data : JSON.stringify(checked),
    	  		beforeSend: function (xhr) {
    	            xhr.setRequestHeader(header, token);
    	          },
    	  		dataType : "JSON",
    	  		contentType: "application/json",
    	  		success : function(result3){
    	  			console.log('입고후알람');
    	  			Toast.fire({
		                 icon: "success", //success, error, warning, info, question
		                 title: "입고가 완료되었습니다.",
		                 width: 400,
		               });
    	  			console.log(result3);
    	  			
    	  		},
    	  		error: function(reject){
    	  			console.log(reject)
    	  		}
    	         
    	  	});

    	 matadjustgrid.removeCheckedRows(false);
    	
    })
    
    //출고버튼
    document.getElementById('dlivy').addEventListener('click', function(){
    	let checked2 = matadjustgrid.getCheckedRows();
    	console.log(checked2);
    	
    	checked2[0].matMdev='출고';
    	checked2[0].empId =$('#empId').val();
    	
    	$.ajax({
	  		url : "/mat/matadjustdliregister",
	  		method : "POST",
	  		data : JSON.stringify(checked2),
	  		beforeSend: function (xhr) {
	            xhr.setRequestHeader(header, token);
	          },
	  		dataType : "JSON",
	  		contentType: "application/json",
	  		success : function(result3){
	  			console.log(result3);
	  			Toast.fire({
	                 icon: "success", //success, error, warning, info, question
	                 title: "출고가 완료되었습니다.",
	                 width: 400,
	               });
	  		},
	  		error: function(reject){
	  			console.log(reject)
	  		}
	         
	  	});    	 	
    	 matadjustgrid.removeCheckedRows(false);
    })  
    
    
    
    
    </script>

    </div>
    
    </body>
    
    </html>