<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/template}">

<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>자재발주관리</title>

  <style>
    .ordersearch {
      border: 1px solid black;
      padding: 20px;
    }

    .addmatbtn {
      width: 5px 10px;
      background-color: #282cff;
      border: none;
      color: white;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      float: right;
      margin: 0 10px;
    }

    .submitbtn {
      width: 5px 10px;
      background-color: #282cff;
      border: none;
      color: white;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      float: right;
      margin: 0 10px;
    }

    #grid {
      margin: 20px 0 10px;
    }
	#deletematbtn{
	display:none;
	float:right;
	margin-right:10px;
	}
	#suBtn{
	display:none;
	float:right;
	}
    .text1 {
      margin: 15px;
      padding: 0 5px 0 0;
    }
    
    #ckgrid{
     margin-top: 30px;
    }

  </style>
  <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
  <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

</head>


<body>
  <div layout:fragment="title">
    <h3>자재발주관리</h3>
  </div>
  
  <div layout:fragment="content">
    <div class="ordersearch">
      <label>발주번호</label>
      <input id="orderCode" class="text1" readonly>
      <label>자재명</label>
      <input class="text1" type="text" id="matmodalmatname" readonly	>
      <input class="text1" type="hidden" id="matmodalmatcode" readonly	>
      <button id="matmodalBtn" type="button" class="btn btn-primary fa-solid fa-magnifying-glass" data-toggle="modal" data-target="#matmodal"></button>
      <label>납기일</label>
      <input class="text1" type="date" id="matReqdate"><br>
      <label>거래처명</label>
      <input class="text1" type="text" id="accmodalname" readonly	>
      <input class="text1" type="hidden" id="accmodalcode" readonly	>
      <button type="button" class="btn btn-primary fa-solid fa-magnifying-glass" data-toggle="modal" data-target="#accmodal"></button>
      <label>담당자</label>
      <input class="text1" type="text" id ="matCharger" th:value="${#authentication.principal.username}" readonly>
      <button type="button" id="addmatbtn">추가</button>
     
      
      
    </div>

    <!-- 자재명모달 -->
    <div class="modal fade bd-example-modal-lg" id="matmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">자재목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <label>자재명</label>
        <input class="modaltext" type="text" id="ckmat-text">
        <button class="ckmatmodalbtn" type="button" id="ckmat">조회</button>
      	<div id="mat-modal-grid"></div>
      </div>
    </div>
  </div>
</div>


	<!-- 거래처목록모달 -->
	 <div class="modal fade bd-example-modal-lg" id="accmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">거래처목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <label>거래처코드</label>
        <input class="modaltext" type="text" id="ckacc-text">
        <button class="ckaccmodalbtn" type="button" id="ckacc">조회</button>
      	<div id="acc-modal-grid"></div>
      </div>
    </div>
  </div>
</div>


	
	<div id="grid"></div>
    <button type="button" class="btn btn-primary" id="suBtn">발주요청</button>
	<button type="button" class="btn btn-danger" id="deletematbtn">삭제</button>
	
	<div id="ckgrid"></div>

    <script>
    const token = $('meta[name="_csrf"]').attr("content");
    const header = $('meta[name="_csrf_header"]').attr("content");

    // 당일발주건리스트
    $.ajax({
  		url : "/mat/todaymatregister",
  		method : "GET",
  		dataType : "JSON",
  		success : function(result){
  			console.log(result);
  			ckgrid.resetData(result);
  			ckgrid.refreshLayout();
  		}
  	});
     

    var grid = new tui.Grid({
    el: document.getElementById('grid'),
    scrollX: false,
    scrollY: false,
    rowHeaders: ['checkbox'],
    columns: [{
    header: '발주번호',
    name: 'matOrdernum'
    },
    {
    header: '발주명',
    name: 'matOrdername',
    editor: 'text'
    },
    {
    header: '거래처코드',
    name: 'accCode'
    },
    {
    header: '거래처명',
    name: 'accName'
    },
    {
    header: '자재코드',
    name: 'matCode'
    },
    {
    header: '자재명',
    name: 'matName'
    },
    {
    header: '발주량',
    name: 'matOrderQy',
    editor: 'text'
    },
    {
    header: '단가',
    name: 'matUntpc',
    editor: 'text'
    },
    {
     header: '총금액',
     name: 'matTotamt'
    },
    {
    header: '납기일',
    name: 'matReqdate'
    },
    {
    header: '담당자',
    name: 'matCharger'
    },
    {
    header: '발주일자',
    name: 'matOrderdate',
    hidden: true
    }
    ],
    summary:{
    	 height:40,
    	 position:'bottom',
    	 columnContent:{
    	 	matOrderQy:{
    	 template: function(valueMap) {
              return `TOTAL: ${valueMap.sum}`;
    	 }
     },
     	matTotamt:{
     		template: function(valueMap) {
              return `TOTAL: ${valueMap.sum}`;
     	}
     	}
     }
    }
    });
  
    
    //총금액
    grid.on('editingFinish', ev=>{
    	let row = grid.getRow(ev.rowKey);
    	grid.setValue(ev.rowKey,'matTotamt', row.matUntpc * row.matOrderQy, false)
    	
    })
    
    
    
    
  //자재명모달
    $.ajax({
        url : "/mat/matlist",
        method : "GET",
        dataType : "JSON",
        success : function(result){
        	console.log(result);
          modal_grid.resetData(result);
          modal_grid.refreshLayout();
        }
      });


	  
      var modal_grid = new tui.Grid({
        el: document.getElementById('mat-modal-grid'),

        scrollX: false,
        scrollY: false,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '자재코드',
          name: 'matCode'
        },
        {
          header: '자재명',
          name: 'matName'
        }
      ]
    })
      
    
    $(function(){  
	    $('#matmodal').on('shown.bs.modal', function(e){
	    	modal_grid.refreshLayout();
	    });
	    
	    
    	$('#accmodal').on('shown.bs.modal', function(e){
       		//거래처모달
	
	        $.ajax({
	     		url : "/mat/acclist",
	     		method : "GET",
	     		data : {matName : $('#matmodalmatname').val() },
	     		dataType : "JSON",
	     		success : function(result){
	     			console.log(result);
	     			accmodal_grid.resetData(result);
	     			accmodal_grid.refreshLayout();
	     		}
	     	});
    		
    	})
    
    
    })
    
    
    
    
    
    //자재모달검색조회
    $("#ckmat").on('click', function(){
    	console.log(document.getElementById('ckmat-text').value)
    	let data0 = document.getElementById('ckmat-text').value;
    	let result2 = "%";
    	result2+=document.getElementById('ckmat-text').value;
    	result2+="%";
		$("#ckmat-text").val('');
    	
    	$.ajax({
    		 url : "/mat/matminilist",
    	     method : "GET",
    	     data : {'result' : result2},
    	     success : function(result){
    	     modal_grid.resetData(result);
    	     modal_grid.refreshLayout();	
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
  
      		}
    	})
    });
     
    //자재모달선택
    modal_grid.on('click', ev=> {
      console.log(ev.rowKey)
      console.log(ev.columns)

      const focusCell = modal_grid.getFocusedCell()
      console.log(focusCell)

      let dataRow = modal_grid.getRow(ev.rowKey);
      console.log(dataRow);

      console.log('자재코드 : ' + dataRow.matCode + ', 자재명 : ' + dataRow.matName);
      $('#matmodalmatname').val(dataRow.matName);
      $('#matmodalmatcode').val(dataRow.matCode);

      
      $('#matmodal').modal('hide');
      
      $.ajax({
          url : "/mat/matlist",
          method : "GET",
          dataType : "JSON",
          success : function(result){
          	console.log(result);
            modal_grid.resetData(result);
            modal_grid.refreshLayout();
          }
        });
    })	

    

    
    var accmodal_grid = new tui.Grid({
      el: document.getElementById('acc-modal-grid'),

      scrollX: false,
      scrollY: false,
      rowHeaders: ['rowNum'],
      columns: [
        {
          header: '거래처코드',
          name: 'accCode'
        },
        {
          header: '거래처명',
          name: 'accName'
        }  
      ]
    });
    
     $(function(){  
        $('#accmodal').on('shown.bs.modal', function(){
        	accmodal_grid.refreshLayout();
        });
        })
        
        
        //거래처모달검색조회
         $("#ckacc").on('click', function(){
        	console.log(document.getElementById('ckacc-text').value)
        	let data1 = document.getElementById('ckacc-text').value;
        	let result = "%";
        	result += data1;
        	result += "%";
    		$("#ckacc-text").val('');
        	
        	$.ajax({
        		 url : "/mat/accminilist",
        	     method : "GET",
        	     data : {'result' : result},
        	     success : function(result){
        	     accmodal_grid.resetData(result);
        	     accmodal_grid.refreshLayout();	
        	     },
        	     error: function(reject){
        	    	 console.log(reject)
          }
        })
        }); 
    
   		//거래처모달선택
     accmodal_grid.on('click', ev=> {
       console.log(ev.rowKey)
       console.log(ev.columns)
       const focusCell = accmodal_grid.getFocusedCell()
       console.log(focusCell)

       let dataRow = accmodal_grid.getRow(ev.rowKey);
       console.log(dataRow);

       console.log('거래처코드 : ' + dataRow.accCode + ', 거래처명 : ' + dataRow.accName);
       $('#accmodalcode').val(dataRow.accCode);
       $('#accmodalname').val(dataRow.accName);
       $('#accmodal').modal('hide');
       
       $.ajax({
    		url : "/mat/acclist",
    		method : "GET",
    		dataType : "JSON",
    		success : function(result){
    			console.log(result);
    			accmodal_grid.resetData(result);
    			accmodal_grid.refreshLayout();
    		}
    	});
     })	
         
     
     //추가버튼
    document.getElementById('addmatbtn').addEventListener('click', function(){
      //grid
    
     if($('#matmodalmatname').val()=='' || $('#matmodalmatcode').val()=='' || $('#accmodalcode').val()=='' || $('#matReqdate').val()=='' || $('#matCharger').val()=='' || $('#matmodaltestuntpc').val()==''){
    	 alert('뭔가 비어있는게 있어요');
    	 false;
     }else{
     let necc = {matOrdernum: $('#orderCode').val(),
    		 	matName: $('#matmodalmatname').val() ,
    	  		matCode: $('#matmodalmatcode').val() ,
    	  		accCode: $('#accmodalcode').val(),
    	  		accName: $('#accmodalname').val(),
    	  		matReqdate: $('#matReqdate').val(),
    	  		matCharger: $('#matCharger').val()

      };
     grid.appendRow(necc);
     $('#matmodalmatname').val("");
     $('#matmodalmatcode').val("");
     $('#matReqdate').val("");
	if(grid.getData().length>0){
		document.getElementById('suBtn').setAttribute('style','display:block;');
		document.getElementById('deletematbtn').setAttribute('style','display:block');
	}
    }
    })
     
    //삭제버튼
     document.getElementById('deletematbtn').addEventListener('click', function(){
       let checked = grid.getCheckedRows();
       for(let i = 0;i<checked.length;i++){
       grid.removeRow(checked[i].rowKey);
       };
       if(grid.getData().length==0){
    	   document.getElementById('suBtn').setAttribute('style','display:none');
    	   document.getElementById('deletematbtn').setAttribute('style','display:none');
       }
  })
     
  //발주번호
  $.ajax({
	  url : "/mat/matordercode",
		method : "GET",
  }).done((result)=>{
	  $('#orderCode').val(result);
  })
  
  
  //발주요청버튼
  document.getElementById('suBtn').addEventListener('click', function(){
	  let checked = grid.getCheckedRows();
	  checked.forEach(function(ele,i){
		  checked[i].matOrderdate=new Date().toISOString().slice(0, 10);
	  });
		    
	  
	  console.log(checked);
	  $.ajax({
  		url : "/mat/matregister",
  		method : "POST",
  		data : JSON.stringify(grid.getCheckedRows()),
  		beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
  		dataType : "JSON",
  		contentType: "application/json",
  		success : function(result3){
  			let app = result3;
	  		ckgrid.appendRows(app);
  			console.log(result3);
  			
  		}
         
  	});
	  grid.removeCheckedRows(false);

	  $.ajax({
  		url : "/mat/todaymatregister",
  		method : "GET",
  		dataType : "JSON",
  		success : function(result){
  			console.log(result);
  			ckgrid.resetData(result);
  			ckgrid.refreshLayout();
  		}
  	});
	  
  })
     
  
  
  var ckgrid = new tui.Grid({
    el: document.getElementById('ckgrid'),
    scrollX: false,
    scrollY: false,
    rowHeaders: ['rowNum'],
    columns: [{
    header: '발주번호',
    name: 'matOrdernum'
    },
    {
    header: '발주명',
    name: 'matOrdername',
    editor: 'text'
    },
    {
    header: '거래처코드',
    name: 'accCode'
    },
    {
    header: '거래처명',
    name: 'accName'
    },
    {
    header: '자재코드',
    name: 'matCode'
    },
    {
    header: '자재명',
    name: 'matName'
    },
    {
    header: '발주량',
    name: 'matOrderQy',
    editor: 'text'
    },
    {
    header: '단가',
    name: 'matUntpc',
    editor: 'text'
    },
    {
     header: '총금액',
     name: 'matTotamt'
    },
    {
    header: '납기일',
    name: 'matReqdate'
    },
    {
    header: '담당자',
    name: 'matCharger'
    },
    {
    header: '발주일자',
    name: 'matOrderdate'
    }
    ],
    summary:{
   	 height:40,
   	 position:'bottom',
   	 columnContent:{
   	 	matOrderQy:{
   	 template: function(valueMap) {
             return `TOTAL: ${valueMap.sum}`;
   	 }
    },
    	matTotamt:{
    		template: function(valueMap) {
             return `TOTAL: ${valueMap.sum}`;
    	}
    	}
    }
   }
    });

		  

   



   
    </script>

    </div>
    
    </body>
    
    </html>