<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pen.app.fac.mapper.FacMapper">
  <!--설비단건조회 -->
  <select id="getFac" resultType="FacInfoVO">
   select *
   from fac_info
   where fac_code = #{facCode}
  </select>
  
  <!-- 설비정보목록조회 -->
  <select id="getList" resultType="FacInfoVO">
select fac_code,fac_name,operate_check,check_cycle,to_char(install_date,'yyyy-MM-dd') installDate,maker_name,temp_min,temp_max,emp_num from fac_info
  </select>
  
  <!-- 설비등록 -->
  <insert id="insert">
     insert into fac_info values('EQMAN'||fac_seq.nextval,#{fac_name},#{install_date},#{temp_min},#{temp_max},#{maker_name},#{check_cycle},#{operate_check},#{emp_num})
  </insert>
  
  <insert id="insertSelectKey">
     <selectKey keyProperty="facCode" order ="BEFORE" resultType="String">
     select 'EQMAN'||fac_seq.nextval from dual
     </selectKey>
     
     insert into fac_info values('EQMAN'||fac_seq.nextval,#{fac_name},#{install_date},#{temp_min},#{temp_max},#{maker_name},#{check_cycle},#{operate_check},#{emp_num})
  </insert>
  
  
  
     <!-- 공정코드목록 -->
  <select id="getproclist" resultType="FacConnProcVO">
  select proc_code, proc_name from MAK_CODE_PROC
  </select>
  
  <!-- 공정코드검사조회 -->
  <select id="getprocminilist" resultType="FacConnProcVO">
  select proc_code, proc_name from MAK_CODE_PROC where proc_name like #{keyword}
  </select>
  
  
</mapper>