<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pen.app.fac.mapper.FacMapper">
	<!--설비단건조회 -->
	<select id="getFac" resultType="FacInfoVO">
		select *
		from fac_info
		where fac_code = #{facCode}
	</select>
	
	<!-- 설비전체조회 -->
	<select id ="getList" resultType="FacInfoVO">
 	select fac_code,fac_name,operate_check,check_cycle,to_char(install_date,'yyyy-MM-dd') 
	installDate,maker_name,temp_min,temp_max,emp_num from fac_info
	</select>
	
	<!-- 설비정보목록조회
	<select id="getList" resultType="FacInfoVO">
		
		select fac_code ,fac_name,proc_name
		,proc_code,operate_check,check_cycle
		,to_char(install_date,'yyyy-MM-dd') installDate,maker_name
		,temp_min,temp_max ,emp_num from FAC_INFO join FAC_CONN_PROC
		using(fac_code) join COM_CODE_PROC using(proc_code)
	</select> -->

	<!-- 설비등록-->
	<insert id="facRegister" parameterType="FacInfoVO">
		insert into fac_info
		values('EQMAN'||fac_seq.nextval,#{facName},#{installDate},#{tempMin},#{tempMax},#{makerName},#{checkCycle},#{operateCheck},#{empNum})
	</insert> 
	
	
	<!-- 공정+설비등록 -->

  <insert id="insertFacList" parameterType="FacInfoListVO">
  insert all into fac_info values('EQMAN'||fac_seq.nextval,#{list[0].facName},#{list[0].installDate},#{list[0].tempMin},#{list[0].tempMax},#{list[0].makerName},#{list[0].checkCycle},#{list[0].operateCheck},#{list[0].empNum}) 
  <foreach collection="list" item="vo" close="SELECT * FROM DUAL" separator=" ">
        into FAC_CONN_PROC values(fac_conn_proc_seq.nextval,'EQMAN'||fac_seq.currval,#{vo.procCode})
    </foreach>
  </insert>

	
	<!-- 설비수정 -->
	<update id="facUpdate" parameterType="FacInfoVO">
	update fac_info
	set fac_name = #{facName},
    temp_min = #{tempMin},
    temp_max = #{tempMax},
    maker_name = #{makerName},
    check_cycle = #{checkCycle},
    operate_check =#{operateCheck},
    emp_num = #{empNum}
	where fac_code = #{facCode}
	</update>
	
	<!-- 설비삭제 -->	
	<delete id="facDelete" parameterType="FacInfoVO">
	delete from fac_info where fac_code=#{facCode}
	</delete>
		
	<!-- 공정코드목록 -->
	<select id="getproclist" resultType="FacConnProcVO">
		select proc_code, proc_name from COM_CODE_PROC
	</select>
	
	<!-- 공정코드검색조회 -->
	<select id="getprocminilist" resultType="FacConnProcVO">
		select proc_code, proc_name from COM_CODE_PROC where proc_name like
		#{keyword}
	</select>


</mapper>