<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pen.app.fac.mapper.FacMapper">

  <select id="getFac" resultType="FacInfoVO">
	select *
	from fac_info
	where fac_code = #{facCode}
  </select>
  
  
  <select id="getList" resultType="FacInfoVO">
select fac_code,fac_name,operate_check,check_cycle,to_char(install_date,'yyyy-MM-dd') installDate,maker_name,temp_min,temp_max,emp_num from fac_info
  </select>
  
  	<!-- 공정코드목록 -->
  <select id="getproclist" resultType="FacConnProcVO">
  select proc_code, proc_name from MAK_CODE_PROC
  </select>
  
  <!-- 공정코드검사조회 -->
  <select id="getprocminilist" resultType="FacConnProcVO">
  select proc_code, proc_name from MAK_CODE_PROC where proc_name like #{keyword}
  </select>
  
  
</mapper>