<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<style>
.container-fluid .col-form-label{
font-size:10pt;
height:28px;
width:140px;
}
.container-fluid .form-control{
height:28px;
font-size:10pt;
}
.container-fluid .form-group{
margin-bottom:22px;
height:28px;
}
</style>
</head>
<body>
<h2 layout:fragment="title">생산 지시 관리(직접지시건)</h2>
<div layout:fragment="content">
<!-- 생산지시 페이지 -->
<div  style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" id="frm0" style="float:left; width:800px;">
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시명</label>
<input class="form-control col-7" id="indNmi">
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">지시일자</label>
<input class="form-control col-7" id="indDatei" readonly>

</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-primary" id="subBtn">등록</button>
</div>
</div>

<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">제품명</label>
<input class="form-control col-5" id="prodNmi" readonly>
<ion-icon class="col-1" name="search" id="getPlanNm" data-toggle="modal" data-target=".bd-example-modal-lg">
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">지시량</label>
<input class="form-control col-7" type="number" id="ordrQnti">
</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-primary" disabled id="modBtn">수정</button>
</div>
</div>


<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시시작일자</label>
<input type="date" class="form-control col-7" id="stDatei">
</div>
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시종료일자</label>
<input type="date" class="form-control col-7" id="clsDatei">
</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-danger" disabled id="delBtn">삭제</button>
</div>
</div>
</div>
<div class="card-body" style="float:left; width:700px;">
<div id="grid"></div>
</div>
</div>
</div>
<div style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:500px;">
<div id="proc_grid"></div>
</div>
<div class="card-body" style="float:left; width:500px;">
<div id="bom_grid"></div>
</div>
<div class="card-body" style="float:left; width:500px;">
<div id="mat_grid"></div>
</div>
</div>
</div>
<form id="hiddenFrm">

</form>
<!-- 모달 시작 -->
   <div class="modal fade bd-example-modal-lg" id="matmodalbtn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">계획상세목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <div class="form-group row" id="modal-search">
        <div class="col-12">
        <label class="col-3">계획종료기간</label>
        <input type="date" class="col-3" id="sOrdCon"> - 
		<input type="date" class="col-3" id="clsOrdCon">
		<button class="col-2 btn btn-primary" id="modal-selBtn" onclick='getModalCon()'>조회</button>
		</div>
        </div>
      	<div id="modal-grid"></div>
      </div>
    </div>
  </div>
</div>
<!-- 모달 끝 -->
<!-- 화면 그리드 -->



<script>
const token = $('meta[name="_csrf"]').attr("content");
const header = $('meta[name="_csrf_header"]').attr("content");
var grid = null;
var modal_grid = null;
var grid2 = null;
var grid3 = null;
var grid4 = null;
var planData=[];
var procData=[];
var prodCode="";
var pdCode ="";
var modData=null;
var modReQnt=0;
var indicaCode="";
$(function () {
	//기본값 설정
    $('#indDatei').val(new Date().toISOString().slice(0, 10));
    $('#stDatei').val(new Date().toISOString().slice(0, 10));
    $('#clsDatei').val(new Date().toISOString().slice(0, 10));
    document.getElementById('stDatei').min=new Date().toISOString().slice(0, 10);
    document.getElementById('clsDatei').min=new Date().toISOString().slice(0, 10);
	//그리드 구성
	//기본 그리드(지시서 등록 내용)
	grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        bodyHeight: 100,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '지시명',
          name: 'indicaNm'
        },
        {
          header: '제품명',
          name: 'prodName'
        },
        {
          header: '지시수량',
          name: 'ordrQnt'
        },
        {
      	  header: '지시시작일자',
      	  name : 'stDate'
        },
        {
      	  header:'지시종료일자',
      	  name: 'clsDate'
        },
        {
        	  header:'지시상태',
        	  name: 'indicaState'
          }
      ]
      });
	//공정(검수제외?)
	grid2 = new tui.Grid({
        el: document.getElementById('proc_grid'),
        scrollX: false,
        bodyHeight: 200,
        columns: [{
          header: '공정순서',
          name: 'procOrder'
        },
        {
       	  header: '공정분류',
       	  name : 'procType'
          },
        {
          header: '공정명',
          name: 'procName'
        }
      ]
      });
	//투입 자재
	grid3 = new tui.Grid({
        el: document.getElementById('bom_grid'),
        scrollX: false,
        bodyHeight: 200,
        columns: [
        {
          header: '자재명',
          name: 'bomProdName'
        },
        {
          header: '필요자재량(1ea)',
          name: 'bomMatUsage'
        },
        {
            header: '투입예정량',
            name: 'makUsage'
          },
        {
      	  header: '투입공정',
      	  name : 'procName'
        }
      ]
      });
	//현재 자재명별 자재재고
	grid4 = new tui.Grid({
        el: document.getElementById('mat_grid'),
        scrollX: false,
        bodyHeight: 200,
        columns: [{
          header: '설비명',
          name: 'facName'
        },
        {
          header: '가동여부',
          name: 'operateCheck'
        },
        {
        	header: '공정명',
        	name:'procName'
        }
      ]
      });
	 //모달 내부 상세계획 구성 
    modal_grid = new tui.Grid({
        el: document.getElementById('modal-grid'),
        scrollX: false,
        bodyHeight: 200,
        columns: [{
          header: '제품코드',
          name: 'prodCode' 
        },
      {
      	  header:'제품명',
      	  name: 'prodName'
        }
      ]
      });
    $.ajax({
		url:"/ind/dirIndList",
		method : "GET",
		success:function(result){
			grid.resetData(result);
		}
	})
    //모달 그리드 설정
    modal_grid.on("dblclick",function(e){
    	let planModalData = modal_grid.getRow(e.rowKey);
    	let planProdCode = modal_grid.getRow(e.rowKey).prodCode;
    	prodCode = planProdCode;
    	console.log(planProdCode);
    	pdCode = modal_grid.getRow(e.rowKey).pdCode;
    	console.log(planModalData);
  	  $('#matmodalbtn').modal('hide'); 
      $('#matmodalbtn').hide();
      $('.bd-example-modal-lg').hide();
      //인풋에 데이터 넣기
      $('#prodNmi').val(planModalData.prodName);
      //시작일자 지정
      $('#stDatei').val(new Date().toISOString().slice(0, 10));
      //지시종료일자 지정
      $('#clsDatei').val(new Date().toISOString().slice(0, 10));
     
      
      //공정 bom 데이터 넣기
	      $.ajax({
	    	  url : "/ind/planFlow",
	          method : "POST",
	          data : {"prodCode":planProdCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	        	grid3.textContent="";
	            grid3.resetData(result);
	            let limit = grid3.getData();
	            //결과값 받아온 수량과 매칭해서 소모예정량 수정
	            limit.forEach(function(ele,idx){
	          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
	            })
	            
	            let innerData = [];
	            //결과값에서 추출하는 반복문
	          	  result.forEach(function(ele){
	          		  if(ele.parentCode!=null){
	          	  let leastData = {"bomMatType":ele.bomMatType,
	          			  "bomProdCode":ele.bomProdCode,
	          			  "parentCode":ele.parentCode,
	          			  "procCode":ele.procCode};
	          	innerData.push(leastData);
	          		  };
	          	  })
	          	  //반복문 끝
	          	  
	          	  let flowCondition={"list":innerData};
	            //공정정보 불러오기
	          	  $.ajax({
	          		  url:"/ind/getFlowList",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(resolve){
	   	            	grid2.resetData(resolve);
	   	            }
	          	  });
	          	//설비 가동여부 불러오기
	          	 $.ajax({
	          		  url:"/ind/operateCheck",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(result2){
	   	            	grid4.resetData(result2);
	   	            }
	          	  });
	            
	          }
	        });


    });
    //지시수량 keyup이벤트
    $('#ordrQnti').keyup(function(e){
    	  let limit = grid3.getData();
            limit.forEach(function(ele,idx){
          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
            });
    });
    //삭제버튼 클릭이벤트
    $('#delBtn').click(function(){
    	let makMat = grid3.getData();
    	let innerData = [];
    	console.log($('#stDatei').val());
    	console.log(makMat);
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		console.log(ele);
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaCode": indicaCode,
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"prodCode" : prodCode,
    			"makBomCode" : ele.makBomCode,
    			"amount" : ele.amount
    	};
    	console.log("그리드3 : "+ makMat[i]);
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//수정 아작스 시작
    	$.ajax({
    		url:"/ind/delIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			console.log(result);
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('ion-icon[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    			$.ajax({
    				url:"/ind/dirIndList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	});
    	//삭제 아작스 끝
    });
    //수정버튼 클릭이벤트
    $('#modBtn').click(function(){
    	let makMat = grid3.getData();
    	let innerData = [];
    	console.log($('#stDatei').val());
    	console.log(makMat);
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		console.log(ele);
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaCode": indicaCode,
    			"ordrQnt" : Math.abs($('#ordrQnti').val()),
    			"stDate" : $('#stDatei').val(),
    			"clsDate" : $('#clsDatei').val(),
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"amount":ele.makUsage,
    			"prodCode" : prodCode,
    			"reQnt" : ele.amount-ele.makUsage,
    			"makBomCode" : ele.makBomCode
    	};
    	console.log("그리드3 : "+ makMat[i]);
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//수정 아작스 시작
    	$.ajax({
    		url:"/ind/updateIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			console.log(result);
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('ion-icon[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    			$.ajax({
    				url:"/ind/dirIndList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//수정 아작스 끝
    })
    grid.setWidth(660);
    //모달창 열릴떄 작동
	$('#matmodalbtn').on('shown.bs.modal', function(){
        modal_grid.refreshLayout();
        $.ajax({
            url : "/ind/product",
            method : "GET",
            success : function(result){
          	  modal_grid.textContent="";
          	  
              modal_grid.resetData(result);
            }
          });     
       });	
    //등록버튼 클릭시 이벤트
	$('#subBtn').click(function(){
		console.log(pdCode);
		
		if($('#indNmi').val()==''){
    		alert('지시명을 지정해주세요.');
    		return false;
    	};
    	if($('#stDatei').val()==$('#clsDatei').val()){
    		if(confirm("지시 시작일자와 종료일자가 동일합니다. \n그대로 진행하시겠습니까?")){
    		}else{
    			return false;
    		};
    	};
    	if($('#planNmi').val()==''){
    		alert('계획을 선택해주세요');
    		return false;
    	}
    	let makFlow = grid2.getData();
    	let makMat = grid3.getData();
    	let innerData = [];
    	console.log($('#stDatei').val());
    	
    	
     	//그리드2 반복
    	makFlow.forEach(function(ele,i){
    		console.log(ele);
    		console.log("그리드2 : "+makFlow);
    		let insertData = {
    				"makFlowStep" : makFlow[i].procOrder,
    				"procCode" : makFlow[i].procCode
    		}
    		innerData.push(insertData);
    	});
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		console.log(ele);
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaNm" : $('#indNmi').val(),
    			"indicaDate" : $('#indDatei').val(),
    			"ordrQnt" : Math.abs($('#ordrQnti').val()),
    			"stDate" : $('#stDatei').val(),
    			"clsDate" : $('#clsDatei').val(),
    			"pdCode" : pdCode,
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"makStep":ele.procOrder,
    			"amount":ele.makUsage,
    			"prodCode" : prodCode
    	};
    	console.log("그리드3 : "+ makMat[i]);
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//등록 아작스 시작
    	$.ajax({
    		url:"/ind/insertIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			console.log(result);
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	$('#ordQnti').val('0');
    		    	$('#planNmi').val('');
    		    	$('#prodNmi').val('');
    		    	$('#indNmi').val('');
    		    	
    			$.ajax({
    				url:"/ind/dirIndList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//등록 아작스 끝
	});
    //등록버튼 끝
    
    grid.on('dblclick',function(e){
    	modData = grid.getRow(e.rowKey);
    	pdCode=modData.pdCode;
    	indicaCode=modData.indicaCode;
    	prodCode=modData.prodCode;
    	console.log(indicaCode);
    	$('#subBtn').attr('disabled',true);
    	//수정버튼 활성화
    	if(modData.indicaState=="미작업"||modData.indicaState=="작업중"){
    		$('#modBtn').attr('disabled',false);
    	}
    	//삭제버튼 활성화
    	if(modData.indicaState=="미작업"){
    		$('#delBtn').attr('disabled',false);
    	}
    	$('#indNmi').val(modData.indicaNm);
    	$('#indNmi').attr('readonly',true);
    	$('#ordrQnti').val(modData.ordrQnt);
    	$('#clsDatei').val(modData.clsDate);
    	$('#stDatei').val(modData.stDate);
    	$('#planNmi').val(modData.planNm);
    	$('#prodNmi').val(modData.prodName);
    	$('#indDatei').val(modData.indicaDate);
    	$('#reQnti').val(modData.reQnt);
    	modReQnt=modData.reQnt+modData.ordrQnt;
    	if(modData.indicaState=='작업중'){
    	$('stDatei').attr('readonly',true);
    	}
    	console.log(modData);
    	
    	//검색버튼 숨기기
    	$('ion-icon[name="search"]').css('display','none');
    	//공정 bom 데이터 넣기
	      $.ajax({
	          url : "/ind/getIndicatedBom",
	          method : "POST",
	          data : {"indicaCode":modData.indicaCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	        	grid3.textContent="";
	            console.log(result);
	            grid3.resetData(result);
	            let limit = grid3.getData();
	            //결과값 받아온 수량과 매칭해서 소모예정량 수정
	            limit.forEach(function(ele,idx){
	          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
	            })
	            
	            let innerData = [];
	            //결과값에서 추출하는 반복문
	          	  result.forEach(function(ele){
	          		  if(ele.parentCode!=null){
	          	  let leastData = {"bomMatType":ele.bomMatType,
	          			  "bomProdCode":ele.bomProdCode,
	          			  "parentCode":ele.parentCode,
	          			  "procCode":ele.procCode};
	          	innerData.push(leastData);
	          		  };
	          	  })
	          	  //반복문 끝
	          	  
	          	  let flowCondition={"list":innerData};
	            //공정정보 불러오기
	          	  $.ajax({
	          		  url:"/ind/getFlowList",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(resolve){
	   	            	grid2.resetData(resolve);
	   	            }
	          	  });
	          	//설비 가동여부 불러오기
	          	 $.ajax({
	          		  url:"/ind/operateCheck",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(result2){
	   	            	grid4.resetData(result2);
	   	            }
	          	  });
	            
	          }
	        });
    });
    //그리드 더블클릭 끝
    //초기화버튼 시작
    $('#resetBtn').click(function(){
    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('ion-icon[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    	//그리드 내용 삭제
    	 let grid2Rows = grid2.getData();
    	grid2Rows.forEach(function(ele,i){
    		grid2.removeRow(grid2Rows[i].rowKey);
    	});
    	let grid3Rows = grid3.getData();
    	grid3Rows.forEach(function(ele,i){
    		grid3.removeRow(grid3Rows[i].rowKey);
    	});
    	let grid4Rows = grid4.getData();
    	grid4Rows.forEach(function(ele,i){
    		grid4.removeRow(grid4Rows[i].rowKey);
    	})
    	
    })

     }); 
//모달 내부 계획 상세 조회 기능
function getModalCon(){
	
}
</script>

</div>
</body>
</html>