<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
<script src="/pdfjs/pdfmake.min.js"></script>
<script src="/pdfjs/vfs_fonts.js"></script>
<script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
<style>
.container-fluid .col-form-label{
font-size:10pt;
height:28px;
width:140px;
}
.container-fluid .form-control{
height:28px;
font-size:10pt;
}
.container-fluid .form-group{
margin-bottom:10px;
height:28px;
}
      .swalAlert {
        top: 60px !important;
      }
      .swal2-popup.swal2-toast .swal2-title {
        margin-top: 11px !important;
      }
            #getPlanNm {
        cursor: pointer;
      }
</style>
</head>
<body>
<h2 layout:fragment="title">생산 지시 관리</h2>
<div layout:fragment="content">
<!-- 생산지시 페이지 -->

<div style="float:right; padding-right:70px; display:none;" id="pdfDiv">
<button style="width:48px; height:48px;" class="btn btn-primary fa-regular fa-file-pdf fa-xl" id="pdfmake"></button>
</div>

<div  style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" id="frm0" style="float:left; width:800px;">
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시명</label>
<input class="form-control col-7" id="indNmi">
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">지시일자</label>
<input class="form-control col-7" id="indDatei" readonly>

</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-primary" id="subBtn">등록</button>
</div>
</div>

<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">계획상세명</label>
<input class="form-control col-5" id="planNmi" readonly>
 <button type="button" class="col-2 btn btn-primary fa-solid fa-magnifying-glass" name="search" id="getPlanNm" data-toggle="modal" data-target="#matmodalbtn" style="height:28px;"></button>
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">제품명</label>
<input class="form-control col-7" id="prodNmi" readonly>
</div>

<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-primary" disabled id="modBtn">수정</button>
</div>
</div>

<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시량</label>
<input class="form-control col-7" type="number" id="ordrQnti">
</div>
<div class="form-group row col-5">
<label class="col-5 col-form-label">미지시량</label>
<input class="form-control col-7" type="number" id="reQnti" readonly>
</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-danger" disabled id="delBtn">삭제</button>
</div>
</div>
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시시작일자</label>
<input type="date" class="form-control col-7" id="stDatei">
</div>
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시종료일자</label>
<input type="date" class="form-control col-7" id="clsDatei">
</div>
<div class="form-group row col-2">
<button style="margin-left:20px;" class="btn btn-primary" id="resetBtn">초기화</button>
</div>
</div>

</div>
<div class="card-body" style="float:left; width:700px;">
<div id="grid"></div>
</div>
</div>
</div>

<div style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:500px;">
<h5 class="font-weight-bold">제조공정</h5>
<div id="proc_grid"></div>
</div>
<div class="card-body" style="float:left; width:700px;">
<h5 class="font-weight-bold">투입자재</h5>
<div id="bom_grid"></div>
</div>
<div class="card-body" style="float:left; width:300px;">
<h5 class="font-weight-bold">설비가동여부</h5>
<div id="mat_grid"></div>
</div>
</div>
</div>

<form id="hiddenFrm">

</form>
<!-- 모달 시작 -->
   <div class="modal fade bd-example-modal-lg" id="matmodalbtn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">계획상세목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
      <!--   <div class="form-group row" id="modal-search">
        <div class="col-12">
        <label class="col-3">계획종료기간</label>
        <input type="date" class="col-3" id="sOrdCon"> - 
		<input type="date" class="col-3" id="clsOrdCon">
		<button class="col-2 btn btn-primary" id="modal-selBtn" onclick='getModalCon()'>조회</button>
		</div>
        </div> -->
      	<div id="modal-grid"></div>
      </div>
    </div>
  </div>
</div>
<!-- 모달 끝 -->
<!-- 화면 그리드 -->






<script>
var pdfTable = [];
    $("#pdfmake").click(function () { //버튼 id pdfmake 발생시 행동할 이벤트
    	 $.ajax({
  	          url : "/ind/getIndicatedBom",
  	          method : "POST",
  	          data : {"indicaCode":modData.indicaCode},
  	          beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
  	            async : false,
  	          success : function(result){
  	        	  console.log(result);
  	        	pdfTable=[];
  	        	let pdfTableHeader = ['공정명', '공정분류', '투입자재명','현재 보유재고', '산출물'];
  	            pdfTable.push(pdfTableHeader);
  	            result.forEach(function(ele){
  	            	let pdfInnerTable = [{text : ele.procName},{text : ele.procType},{text : ele.bomProdName},{text : ele.amount.toString()},{text : ele.prodName}];
  	            	pdfTable.push(pdfInnerTable);            
  	            	})
  	        }
         });
  
        /* documentDefinition : pdf파일에 들어갈 내용 및 여러가지를 정의 */
        var documentDefinition = {
        		
            //content : pdf의 내용을 정의 
            content: [ 
            	{
                style: 'headerTable',
                table: {
                    widths: [50, 50, 50],
                    headerRows:1,
                    body: [
                    	[{text:'작업자'},{text:'현장반장'},{text:'담당자'}],
                    	[{text:'\n\n'},{text:'\n\n'},{text:'\n\n'}]
                    ]
                }
            },
                {
                    text: $('#indNmi').val()+' 생산지시서',
                    style: 'style_test'
                }, // style 부분에 정의된 style_test 적용해보기 및 한글 꺠짐 테스트
                {
                	text: '지시명 : '+$('#indNmi').val()
                },
                {
                	text: '지시일자 : '+$('#indDatei').val()
                },
                {
                	text : '제품명 : '+$('#prodNmi').val()
                },
                {
                	text : '지시량 : '+$('#ordrQnti').val()
                },
                {
                	text : '지시기간 : '+$('#stDatei').val()+' ~ '+$('#clsDatei').val()
                },
                {
                	text : '출력일자 : '+  new Date().toISOString().slice(0,10)
                },
                {
                    style: 'tableExample',
                    table: {
                        widths: [100,80,100,80, '*'],
                        body: pdfTable
                    }
                }//테이블 그리기 
            ],
            //하단의 현재페이지 / 페이지 수 넣기 
            footer: function (currentPage, pageCount) {
                return {
                    margin: 10,
                    columns: [{
                        fontSize: 9,
                        text: [{
                                text: '--------------------------------------------------------------------------' +
                                    '\n',
                                margin: [0, 20]
                            },
                            {
                                text: '' + currentPage.toString() + ' of ' +
                                    pageCount,
                            }
                        ],
                        alignment: 'center'
                    }]
                };

            },
            //필요한 스타일 정의하기 
            styles: {
                style_test: {
                    fontSize: 18,
                    bold: true,
                    margin: [0, 0, 0, 0],
                    alignment: 'center'
                },
                tableExample: {
                    margin: [0, 10, 5, 15]
                },
                headerTable: {
                	margin:[350,0,0,5],
                	alignment:'center'
                }
         	 },
            // 페이지 크기 용지의 크기 사이즈 넣기 또는 특정 사이즈 넣기 { width: number, height: number }
            pageSize: 'A4',

            /* 페이지 방향 portrait : 가로 , landscape : 세로 */
            pageOrientation: 'portrait',
        };

        var pdf_name = $('#indNmi').val()+'생산지시서.pdf'; // pdf 만들 파일의 이름 
        pdfMake.createPdf(documentDefinition).download(pdf_name);
  	       
    })
</script>

<script>
const Toast = Swal.mixin({
    toast: true,
    position: "top-end",
    timer: 1500,
    customClass: { container: "swalAlert" },
    showConfirmButton: false,
  });
//전역변수 선언부
const token = $('meta[name="_csrf"]').attr("content");
const header = $('meta[name="_csrf_header"]').attr("content");
var grid = null;
var modal_grid = null;
var grid2 = null;
var grid3 = null;
var grid4 = null;
var planData=[];
var procData=[];
var prodCode="";
var pdCode ="";
var modData=null;
var modReQnt=0;
var indicaCode="";
$(function () {
	//기본값 설정
    $('#indDatei').val(new Date().toISOString().slice(0, 10));
    $('#stDatei').val(new Date().toISOString().slice(0, 10));
    $('#clsDatei').val(new Date().toISOString().slice(0, 10));
    document.getElementById('stDatei').min=new Date().toISOString().slice(0, 10);
    document.getElementById('clsDatei').min=new Date().toISOString().slice(0, 10);
	//그리드 구성
	//기본 그리드(지시서 등록 내용)
	grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        bodyHeight: 100,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '지시명',
          name: 'indicaNm'
        },
        {
          header: '제품명',
          name: 'prodName'
        },
        {
          header: '지시수량',
          name: 'ordrQnt'
        },
        {
      	  header: '지시시작일자',
      	  name : 'stDate'
        },
        {
      	  header:'지시종료일자',
      	  name: 'clsDate'
        },
        {
        	  header:'지시상태',
        	  name: 'indicaState'
          }
      ],
      columnOptions: {
          resizable: true
        }
      });
	//공정(검수제외?)
	grid2 = new tui.Grid({
        el: document.getElementById('proc_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [{
          header: '공정순서',
          name: 'procOrder'
        },
        {
       	  header: '공정분류',
       	  name : 'procType'
          },
        {
          header: '공정명',
          name: 'procName'
        }
      ]
      });
	//투입 자재
	grid3 = new tui.Grid({
        el: document.getElementById('bom_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [
        {
          header: '자재명',
          name: 'bomProdName'
        },
        {
          header: '필요자재량(1ea)',
          name: 'bomMatUsage'
        },
        {
            header: '투입예정량',
            name: 'makUsage'
          },
        {
      	  header: '투입공정',
      	  name : 'procName'
        }
      ]
      });
	//현재 자재명별 자재재고
	grid4 = new tui.Grid({
        el: document.getElementById('mat_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [{
          header: '설비명',
          name: 'facName'
        },
        {
          header: '가동여부',
          name: 'operateCheck'
        },
        {
        	header: '공정명',
        	name:'procName'
        }
      ]
      });
	 //모달 내부 상세계획 구성 
    modal_grid = new tui.Grid({
        el: document.getElementById('modal-grid'),
        scrollX: false,
        bodyHeight: 200,
        columns: [{
          header: '계약상세명',
          name: 'planNm'
        },
        {
          header: '제품명',
          name: 'prodName'
        },
        {
          header: '계획수량',
          name: 'planQnt'
        },
        {
          header: '미지시량',
          name: 'reQnt'
        },
        {
      	  header: '계획시작일자',
      	  name : 'planSdate'
        },
        {
      	  header:'계획종료일자',
      	  name: 'planClsdate'
        }
      ]
      });
    $.ajax({
		url:"/ind/indList",
		method : "GET",
		success:function(result){
			grid.resetData(result);
		}
	})
    //모달 그리드 설정
    modal_grid.on("dblclick",function(e){
    	let planModalData = modal_grid.getRow(e.rowKey);
    	let planProdCode = modal_grid.getRow(e.rowKey).prodCode;
    	prodCode = planProdCode;
    	
    	pdCode = modal_grid.getRow(e.rowKey).pdCode;
    	
  	  $('#matmodalbtn').modal('hide'); 
      $('#matmodalbtn').hide();
      $('.bd-example-modal-lg').hide();
      //인풋에 데이터 넣기
      $('#planNmi').val(planModalData.planNm);
      $('#prodNmi').val(planModalData.prodName);
      $('#reQnti').val(planModalData.reQnt);
      $('#ordrQnti').val(planModalData.reQnt);
      document.getElementById('ordrQnti').max=planModalData.reQnt;
      //시작일자 지정
      if(planModalData.planSdate<new Date().toISOString().slice(0, 10)){
      $('#stDatei').val(new Date().toISOString().slice(0, 10));
      }else{
    	  $('#stDatei').val(planModalData.planSdate);
    	  document.getElementById('stDatei').min=planModalData.planSdate;
      };
      //지시종료일자 지정
      $('#clsDatei').val(planModalData.planClsdate);
     
      document.getElementById('clsDatei').max=planModalData.planClsdate;
      
      //공정 bom 데이터 넣기
	      $.ajax({
	    	  url : "/ind/planFlow",
	          method : "POST",
	          data : {"prodCode":planProdCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	        	grid3.textContent="";
	            grid3.resetData(result);
	            let limit = grid3.getData();
	            //결과값 받아온 수량과 매칭해서 소모예정량 수정
	            limit.forEach(function(ele,idx){
	          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
	            })
	            
	            let innerData = [];
	            //결과값에서 추출하는 반복문
	          	  result.forEach(function(ele){
	          		  if(ele.parentCode!=null){
	          	  let leastData = {"bomMatType":ele.bomMatType,
	          			  "bomProdCode":ele.bomProdCode,
	          			  "parentCode":ele.parentCode,
	          			  "procCode":ele.procCode};
	          	innerData.push(leastData);
	          		  };
	          	  })
	          	  //반복문 끝
	          	  
	          	  let flowCondition={"list":innerData};
	            //공정정보 불러오기
	          	  $.ajax({
	          		  url:"/ind/getFlowList",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(resolve){
	   	            	grid2.resetData(resolve);
	   	            }
	          	  });
	          	//설비 가동여부 불러오기
	          	 $.ajax({
	          		  url:"/ind/operateCheck",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(result2){
	   	            	grid4.resetData(result2);
	   	            }
	          	  });
	            
	          }
	        });


    });
    //지시수량 keyup이벤트
    $('#ordrQnti').keyup(function(e){
    	
    	  let limit = grid3.getData();
            limit.forEach(function(ele,idx){
          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
            });
            if(Math.abs($('#ordrQnti').val())>modReQnt){
            	$('#ordrQnti').val(modReQnt);
            }
    		if($('#modBtn').attr('disabled')!='disabled'){
    			$('#reQnti').val(modReQnt-Math.abs($('#ordrQnti').val()));
    		}
    });
    //삭제버튼 클릭이벤트
    $('#delBtn').click(function(){
    	let makMat = grid3.getData();
    	let innerData = [];
    	
    	
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaCode": indicaCode,
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"prodCode" : prodCode,
    			"makBomCode" : ele.makBomCode,
    			"amount" : ele.amount
    	};
    	
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//수정 아작스 시작
    	$.ajax({
    		url:"/ind/delIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			 Toast.fire({
      		          icon: 'success', //success, error, warning, info, question
      		          title: '삭제완료'
      		        });
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('button[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    			$.ajax({
    				url:"/ind/indList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	});
    	//삭제 아작스 끝
    });
    //수정버튼 클릭이벤트
    $('#modBtn').click(function(){
    	let makMat = grid3.getData();
    	let innerData = [];
    	
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaCode": indicaCode,
    			"ordrQnt" : Math.abs($('#ordrQnti').val()),
    			"stDate" : $('#stDatei').val(),
    			"clsDate" : $('#clsDatei').val(),
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"amount":ele.makUsage,
    			"prodCode" : prodCode,
    			"reQnt" : ele.amount-ele.makUsage,
    			"makBomCode" : ele.makBomCode
    	};
    	
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//수정 아작스 시작
    	$.ajax({
    		url:"/ind/updateIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			 Toast.fire({
      		          icon: 'success', //success, error, warning, info, question
      		          title: '수정등록'
      		        });
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('button[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    			$.ajax({
    				url:"/ind/indList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//수정 아작스 끝
    })
    grid.setWidth(660);
    //모달창 열릴떄 작동
	$('#matmodalbtn').on('shown.bs.modal', function(){
        modal_grid.refreshLayout();
        $.ajax({
            url : "/ind/planning",
            method : "GET",
            success : function(result){
          	  modal_grid.textContent="";
          	  
              modal_grid.resetData(result);
            }
          });     
       });	
    //등록버튼 클릭시 이벤트
	$('#subBtn').click(function(){
		
		
		if($('#indNmi').val()==''){
		      Toast.fire({
		          icon: 'warning', //success, error, warning, info, question
		          title: '지시명을 지정해주세요'
		        });
    		return false;
    	};
    	if($('#stDatei').val()==$('#clsDatei').val()){
    		if(confirm("지시 시작일자와 종료일자가 동일합니다. \n그대로 진행하시겠습니까?")){
    		}else{
    			return false;
    		};
    	};
    	if($('#planNmi').val()==''){
    	      Toast.fire({
    	          icon: 'warning', //success, error, warning, info, question
    	          title: '계획을 선택해주세요'
    	        });
    		return false;
    	}
    	let makFlow = grid2.getData();
    	let makMat = grid3.getData();
    	let innerData = [];
    	
    	
    	
     	//그리드2 반복
    	makFlow.forEach(function(ele,i){
    		
    		
    		let insertData = {
    				"makFlowStep" : makFlow[i].procOrder,
    				"procCode" : makFlow[i].procCode
    		}
    		innerData.push(insertData);
    	});
    	
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    		
    		if(ele.procCode!=null){
    			
    	let insertData = {
    			"indicaNm" : $('#indNmi').val(),
    			"indicaDate" : $('#indDatei').val(),
    			"ordrQnt" : Math.abs($('#ordrQnti').val()),
    			"stDate" : $('#stDatei').val(),
    			"clsDate" : $('#clsDatei').val(),
    			"pdCode" : pdCode,
    			"procCode":ele.procCode,
    			"bomProdCode":ele.bomProdCode,
    			"makStep":ele.procOrder,
    			"bomMatUsage":ele.bomMatUsage,
    			"amount":ele.makUsage,
    			"prodCode" : prodCode,
    			"resultCode":ele.parentCode
    	};
    	
    	innerData.push(insertData);
    		}
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//등록 아작스 시작
    	$.ajax({
    		url:"/ind/insertIndica",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			 Toast.fire({
      		          icon: 'success', //success, error, warning, info, question
      		          title: '지시등록'
      		        });
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	let grid4Rows = grid4.getData();
    		    	grid4Rows.forEach(function(ele,i){
    		    		grid4.removeRow(grid4Rows[i].rowKey);
    		    	})
    		    	$('#ordQnti').val('0');
    		    	$('#planNmi').val('');
    		    	$('#prodNmi').val('');
    		    	$('#indNmi').val('');
    		    	
    			$.ajax({
    				url:"/ind/indList",
    				method : "GET",
    				success:function(result){
    					grid.resetData(result);
    				}
    			})
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//등록 아작스 끝
	});
    //등록버튼 끝
    
    grid.on('dblclick',function(e){
    	$('#pdfDiv').css('display','block');
    	modData = grid.getRow(e.rowKey);
    	pdCode=modData.pdCode;
    	indicaCode=modData.indicaCode;
    	prodCode=modData.prodCode;
    	
    	$('#subBtn').attr('disabled',true);
    	//수정버튼 활성화
    	if(modData.indicaState=="미작업"||modData.indicaState=="작업중"){
    		$('#modBtn').attr('disabled',false);
    	}
    	//삭제버튼 활성화
    	if(modData.indicaState=="미작업"){
    		$('#delBtn').attr('disabled',false);
    	}
    	$('#indNmi').val(modData.indicaNm);
    	$('#indNmi').attr('readonly',true);
    	$('#ordrQnti').val(modData.ordrQnt);
    	$('#clsDatei').val(modData.clsDate);
    	$('#stDatei').val(modData.stDate);
    	$('#planNmi').val(modData.planNm);
    	$('#prodNmi').val(modData.prodName);
    	$('#indDatei').val(modData.indicaDate);
    	$('#reQnti').val(modData.reQnt);
    	modReQnt=modData.reQnt+modData.ordrQnt;
    	if(modData.indicaState=='작업중'){
    	$('stDatei').attr('readonly',true);
    	}
    	document.getElementById('clsDatei').max = modData.planClsdate;
    	document.getElementById('ordrQnti').max=modData.ordrQnt+modData.reQnt;
    	
    	
    	//검색버튼 숨기기
    	$('button[name="search"]').css('display','none');
    	//공정 bom 데이터 넣기
	      $.ajax({
	          url : "/ind/getIndicatedBom",
	          method : "POST",
	          data : {"indicaCode":modData.indicaCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	        	grid3.textContent="";
	            
	            grid3.resetData(result);
	            let limit = grid3.getData();
	            //결과값 받아온 수량과 매칭해서 소모예정량 수정
	            limit.forEach(function(ele,idx){
	          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#ordrQnti').val()*ele.bomMatUsage),false);
	            })
	            
	            let innerData = [];
	            //결과값에서 추출하는 반복문
	          	  result.forEach(function(ele){
	          		  if(ele.parentCode!=null){
	          	  let leastData = {"bomMatType":ele.bomMatType,
	          			  "bomProdCode":ele.bomProdCode,
	          			  "parentCode":ele.parentCode,
	          			  "procCode":ele.procCode};
	          	innerData.push(leastData);
	          		  };
	          	  })
	          	  //반복문 끝
	          	  
	          	  let flowCondition={"list":innerData};
	            //공정정보 불러오기
	          	  $.ajax({
	          		  url:"/ind/getFlowList",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(resolve){
	   	            	grid2.resetData(resolve);
	   	            }
	          	  });
	          	//설비 가동여부 불러오기
	          	 $.ajax({
	          		  url:"/ind/operateCheck",
	          		  method:"POST",
	          		  data:JSON.stringify(flowCondition),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(result2){
	   	            	grid4.resetData(result2);
	   	            }
	          	  });
	            
	          }
	        });
    });
    //그리드 더블클릭 끝
    //초기화버튼 시작
    $('#resetBtn').click(function(){
    	//인풋 초기화
    	$('#indNmi').val('');
    	$('#planNmi').val('');
    	$('#ordrQnti').val('');
    	$('#reQnti').val('');
    	$('#prodNmi').val('');
    	$('#stDatei').val(new Date().toISOString().slice(0, 10));
    	$('#clsDatei').val(new Date().toISOString().slice(0, 10));
    	$('#indDatei').val(new Date().toISOString().slice(0, 10));
    	//검색버튼 활성화
    	$('button[name="search"]').css('display','block');
    	//버튼 비활성화
    	$('#subBtn').attr('disabled',false);
    	$('#modBtn').attr('disabled',true);
    	$('#delBtn').attr('disabled',true);
    	$('#indNmi').attr('readonly',false);
    	$('#stDatei').attr('readonly',false);
    	$('#pdfDiv').css('display','none');
    	//그리드 내용 삭제
    	 let grid2Rows = grid2.getData();
    	grid2Rows.forEach(function(ele,i){
    		grid2.removeRow(grid2Rows[i].rowKey);
    	});
    	let grid3Rows = grid3.getData();
    	grid3Rows.forEach(function(ele,i){
    		grid3.removeRow(grid3Rows[i].rowKey);
    	});
    	let grid4Rows = grid4.getData();
    	grid4Rows.forEach(function(ele,i){
    		grid4.removeRow(grid4Rows[i].rowKey);
    	})
    	
    })

     }); 
//모달 내부 계획 상세 조회 기능
/* function getModalCon(){
	
} */
</script>

</div>
</body>
</html>