<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">

<style>
.container-fluid .col-form-label{
font-size:10pt;
height:28px;
width:140px;
}
.container-fluid .form-control{
height:28px;
font-size:10pt;
}
.container-fluid .form-group{
margin-bottom:22px;
height:28px;
}

#useri option:disabled{
background-color:red}
#facNmi option:disabled{
background-color:red}

.swalAlert {
	top:60px !important;
}
.swal2-popup.swal2-toast .swal2-title{
margin-top : 11px;
font-size : 1.2em;
}
</style>
</head>
<body>
<h2 layout:fragment="title">공정실적 관리</h2>
<div layout:fragment="content">
<!-- 생산지시 페이지 -->
<div  style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:1500px;">
<div id="grid"></div>
</div>
</div>
</div>
<div style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:400px;">
<div id="proc_grid"></div>
</div>
<div class="card-body" style="float:left; width:1100px;">
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">지시명</label>
<input class="form-control col-7" id="indNmi" readonly>
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">작업일자</label>
<input class="form-control col-7" id="indDatei" readonly>

</div>
</div>

<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">공정명</label>
<input class="form-control col-7" id="procNamei" readonly>
</div>

<div class="form-group row col-5">
<label class="col-5 col-form-label">작업량</label>
<input class="form-control col-7" id="prodCnti" type="number" value="0">
</div>
</div>

<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">사용가능한 설비</label>
<select class="form-control col-7"  id="facNmi">
</select>
</div>
<div class="form-group row col-5">
<label class="col-5 col-form-label">투입자재</label>
<div style="width:250px;" id='bom_grid'></div>
</div>
</div>
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">작업자</label>
<select class="form-control col-7"  id="useri">
</select>
</div>
<div class="form-group row col-2">
</div>
</div>
<div class="form-group row">
<div class="from-group row col-12">
<div class="col-2"></div>
<div class="col-10">
<button  class="btn btn-primary" id="stBtn" disabled>작업시작</button>
<button style="margin-left:20px;" class="btn btn-danger" id="endBtn" disabled>작업종료</button>
</div>
</div>
</div>
<div class="form-group row">
<div class="form-group row col-5">
<label class="col-5 col-form-label">작업취소</label>
<select class="form-control col-7"  id="procUseri">
</select>
</div>
</div>

<div class="form-group row">
<div class="from-group row col-12">
<div class="col-2"></div>
<div class="col-10">
<button  class="btn btn-danger" id="cancelBtn" disabled>작업취소</button>
</div>
</div>
</div>

</div>
</div>
</div>
<form id="hiddenFrm">

</form>
<!-- 모달 시작 -->
 <!--   <div class="modal fade bd-example-modal-lg" id="matmodalbtn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">계획상세목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <div class="form-group row" id="modal-search">
        <div class="form-group row col-12">
        <label class="col-3">제품명</label>
      	<input class="form-control col-4" id="modalProd"> 
		<button style="margin-left:10px;" class="col-2 btn btn-primary" id="modal-selBtn" onclick='getModalCon()'>조회</button>
		</div>
        </div>
      	<div id="modal-grid"></div>
      </div>
    </div>
  </div>
</div> -->
<!-- 모달 끝 -->
<!-- 화면 그리드 -->



<script>
const Toast = Swal.mixin({
	  toast: true,
	  position: 'top-end',
 	  timer: 1500,
	  customClass: {container: 'swalAlert'},
	  showConfirmButton: false,
	});
const token = $('meta[name="_csrf"]').attr("content");
const header = $('meta[name="_csrf_header"]').attr("content");
var grid = null;
var grid2 = null;
/* var grid3 = null; */
var planData=[];
var procData=[];
var prodCode="";
var pdCode ="";
var modData=null;
var modReQnt=0;
var indicaCode="";
var prdtNm="";
var minQnt = 0;
var miniQnt = 100000;
$(function () {
	

		
	
	
	//기본값 설정
    $('#indDatei').val(new Date().toISOString().slice(0, 10));
    $('#stDatei').val(new Date().toISOString().slice(0, 10));
    $('#clsDatei').val(new Date().toISOString().slice(0, 10));
	//그리드 구성
	//기본 그리드(지시서 등록 내용)
	grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        bodyHeight: 200,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '지시명',
          name: 'indicaNm'
        },
        {
          header: '제품명',
          name: 'prodName'
        },
        {
          header: '지시수량',
          name: 'ordrQnt'
        },
        {
      	  header: '지시시작일자',
      	  name : 'stDate',
      	 sortable: true,
         filter: {
             type: 'date',
             options: {
               format: 'yyyy.MM.dd'
             }
           }
        },
        {
      	  header:'지시종료일자',
      	  name: 'clsDate',
      	 sortable: true,
         filter: {
             type: 'date',
             options: {
               format: 'yyyy.MM.dd'
             }
           }
        },
        {
        	  header:'지시상태',
        	  name: 'indicaState',
        	   filter: 'select'
          }
      ]
      });
	//공정(검수제외) --공정 등록 이 후 작업량에 따라 띄우는게 달라져야함
	grid2 = new tui.Grid({
        el: document.getElementById('proc_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [{
          header: '공정명',
          name: 'procName'
        },
        {
       	  header: '지시량',
       	  name : 'ordrQnt'
          },
          {
        	  header : '남은지시량',
        	  name : 'reQnt'
          }
      ]
      });
	 //투입 자재
	grid3 = new tui.Grid({
        el: document.getElementById('bom_grid'),
        scrollX: false,
        bodyHeight: 250,
        columns: [
        {
          header: '자재명',
          name: 'prodName'
        },
        {
          header: '현재재고',
          name: 'cnt'
        },
        {
            header: '소모량',
            name: 'makUsage'
          }
      ]
      }); 

      //지시서 리스트 불러오기
    $.ajax({
		url:"/ind/perfIndList",
		method : "GET",
		success:function(result){
			grid.resetData(result);
		}
	})
	//사원정보 불러오기
    		    	$.ajax({
    		    		url:"/ind/userList",
    		    		method : "GET",
    		    		success:function(result){
    		    			
    		    			$('#useri option').remove();
    		    			$('#procUseri option').remove();
    		    			result.forEach(function(ele,i){
    		    				if(ele.prcsFlDate!=null||ele.prcsFlDate==null&&ele.facCode!=null||ele.prcsFlDate==null&&ele.facCode==null){
    		    				let options = document.createElement("option");
    		    				options.setAttribute('name',ele.empNum);
    		    				options.dataset.num=i;
    		    				options.dataset.procCode=ele.procCode;
    		    				options.dataset.indicaCode=ele.indicaCode;
    		    				options.dataset.facCode=ele.facCode;
    		    				options.dataset.fldate=ele.prcsFlDate;
    		    				options.append(ele.empName);
    		    				if(ele.prcsFlDate==null&&ele.facCode!=null){
    		    					let option2 = document.createElement("option");
        		    				option2.setAttribute('name',ele.empNum);
        		    				option2.dataset.num=i;
        		    				option2.dataset.procCode=ele.procCode;
        		    				option2.dataset.indicaCode=ele.indicaCode;
        		    				option2.dataset.facCode=ele.facCode;
        		    				option2.dataset.fldate=ele.prcsFlDate;
        		    				option2.dataset.prcsCode=ele.prcsCode;
        		    				option2.append(ele.empName);
        		    				
        		    				option2.append("-");
    		    					options.append("-");
    		    					let getindicaNm = grid.getData();
    		    					getindicaNm.forEach(function(ind){
    		    						options.append(ind.indicaNm);
    		    						option2.append(ind.indicaNm);
    		    					});
    		    					console.log('??');
    		    					
    		    					console.log(options);
    		    					options.append("-");
    		    					options.append(ele.procCode);
    		    					option2.append("-");
    		    					option2.append(ele.procCode);
    		    					
    		    					document.getElementById('procUseri').appendChild(option2);
    		    					
    		    				}
    		    				if(ele.facCode!=null){
    		    					options.setAttribute('disabled',true);
    		    				}else{
    		    					options.removeAttribute('disabled');
    		    				}
    		    				document.getElementById('useri').appendChild(options);
    		    					$('#cancelBtn').prop('disabled',true);
    		    					$('#procUseri').val('');
    		    				}
    		    				
    		    			})
    		    			
    		    		}
    		    	})
    //공정 그리드 설정
     grid2.on("click",function(e){
    	minQnt=0;
    	miniQnt=100000;
    	$('#stBtn').prop('disabled',false);
    	let planProcData = grid2.getRow(e.rowKey);
    	$('#procUseri').val('');
    	$('#cancelBtn').prop('disabled',true);
  	 $('#facNmi option').remove();
  	 $('#procNamei').val(planProcData.procName);
  	 $('#procNamei').data('procCode',planProcData.procCode);
  	 $('#prodCnti').val('0');
  	 for(i=0;i<$('#useri option').length;i++){
  		 if($('#useri option').eq(i).data('procCode')!=null){
  			if($('#procNamei').data('procCode')==$('#useri option').eq(i).data('procCode') && $('#indNmi').data('indicaCode')==$('#useri option').eq(i).data('indicaCode')){
  				$('#useri option').eq(i).prop('disabled',false);
			}else{
				if($('#useri option').eq(i).prop('selected')){
					$('#useri').val('');
				}
				$('#useri option').eq(i).prop('disabled',true);
				}
  		 }
  	 }
    	

  	 let insertData = {
  			 "procCode" : planProcData.procCode,
  			 "indicaCode" : planProcData.indicaCode
  	 };
	            //공정정보 불러오기
	          	   $.ajax({
	          		  url:"/ind/getProcList",
	          		  method:"POST",
	          		  data:JSON.stringify(insertData),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(resolve){
	   	            	let result = [];
	   	            	resolve.forEach(function(ele,i){
	   	            		
	   	            		
	   	            	})
	   	            	resolve.forEach(function(ele,i){
	   	            		 if(ele.facName==null) {
	   	            			 if(ele.matName==null){
	   	            				 ele.prodName=ele.semiName;
	   	            				result.push(ele);
	   	            			 }else{
	   	            				 ele.prodName=ele.matName;
								result.push(ele);
	   	            			 };
	   	            			 
							 }else{
								let options = document.createElement("option");
								options.setAttribute('name',ele.facCode);
								options.dataset.num=i;
								options.dataset.procCode=ele.procCode;
								options.dataset.indicaCode=ele.indicaCode;
								options.dataset.facCode=ele.facCode;
								options.dataset.fldate=ele.prcsFlDate;
								options.append(ele.facName);
								if(ele.indicaCode!=null){
									options.append('-');
									$('#useri option').each(function(idx,userNm){
										if(userNm.getAttribute('name')==ele.empNum){
											options.append(userNm.value);
										}
										
									})
									
								}
								if(ele.indicaCode!=null&&ele.prcsFlDate==null){
									options.setAttribute('disabled',true);
								}else{
									options.removeAttribute('disabled');
								}
								if($('#procNamei').data('procCode')==options.dataset.procCode&&$('#useri option:selected').data('facCode')==options.dataset.facCode){
									options.removeAttribute('disabled');
								}
								
								document.getElementById('facNmi').appendChild(options);	
								
							 }
	   	            	})
	   	       	
	             	result.forEach(function(ele,idx){

	              	if(ele.cnt>ele.ordrQnt*ele.bomMatUsage){
	              		if(minQnt<ele.ordrQnt){
	              		minQnt=ele.ordrQnt;
	              		}
	              	}
	              	if(ele.cnt==ele.ordrQnt*ele.bomMatUsage){
	              		if(minQnt<ele.ordrQnt){
	              		minQnt=ele.ordrQnt;
	              		}
	              	}
	              	if(ele.cnt<ele.ordrQnt*ele.bomMatUsage){
	              		if(miniQnt>ele.cnt/ele.bomMatUsage){
	              			miniQnt=ele.cnt/ele.bomMatUsage;
	              		}
	              	}
	              });
	   	            	grid3.resetData(result);
	   	            }
	          	  });
	         
    }); 
    //지시수량 keyup이벤트
    $('#prodCnti').keyup(function(e){
      	let limit = grid3.getData();
           if(miniQnt==100000){
          	if(Math.abs($('#prodCnti').val())>minQnt){
          		$('#prodCnti').val(minQnt);
          	}
          	limit.forEach(function(ele,idx){
          	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#prodCnti').val()*ele.bomMatUsage),false);
          	})
           }else{
        	   if(Math.abs($('#prodCnti').val())>miniQnt){
             		$('#prodCnti').val(miniQnt);
             	}
        	   limit.forEach(function(ele,idx){
               	  grid3.setValue(ele.rowKey,'makUsage',Math.abs($('#prodCnti').val()*ele.bomMatUsage),false);
               	}) 
           }
    });
    $('#useri').change(function(){
    	
    	//설비 선택제어
    	for(let i =0;i<$('#facNmi').length;i++){
    		if($('#facNmi option').eq(i).data('indicaCode')!=null){
    	if($('#useri option:selected').data('facCode')==$('#facNmi option').eq(i).attr('name')){
    		$('#facNmi option').eq(i).prop('disabled',false);
    	}else{
    		$('#facNmi option').eq(i).prop('disabled',true);
    		$('#facNmi').val("");
    	}
    	}
    	}
    	
    	if($('#useri option:selected').data('facCode')!=null){
    		$('#stBtn').prop('disabled',true);
    		$('#endBtn').prop('disabled',false);
    	}else{
    		$('#stBtn').prop('disabled',false);
    		$('#endBtn').prop('disabled',true);
    	}
    })
    $('#procUseri').change(function(){
    	$('#cancelBtn').prop('disabled',false);
    })
    //종료버튼 클릭이벤트
    $('#endBtn').click(function(){
    	 let makMat = grid3.getData(); 
    	let innerData = [];
    	console.log(makMat);
    	//그리드3 반복;; 홀드테이블도 같이
    	makMat.forEach(function(ele,i){
    	let insertData = {
    			"cnt": ele.makUsage,
    			"matLot":ele.matLot,
    			"prodCode" : ele.resultCode,
    			"makBomCode" : ele.makBomCode,
    			"empNum" : $('#useri option:selected').attr('name'),
    			"indicaCode":$('#indNmi').data('indicaCode'),
    			"procCode":$('#procNamei').data('procCode'),
    			"prodCnt" : $('#prodCnti').val(),
    			"prodName" : ele.prodName,
    			"matCode":ele.matCode,
    			"matName" : ele.prodName,
    			"prdtNm" : prdtNm,
    			"resultCode" : ele.parentCode
    	};
    	innerData.push(insertData);
    	});
    	
    	let insertData = {"list" : innerData}
    	
    	//종료 아작스 시작
    	$.ajax({
    		url:"/ind/updateProcProd",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	 let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	}); 
    		    	//인풋 초기화
    	$('#prodCnti').val('0');
    		    	$('#indNmi').val('');
    		    	$('#facNmi option').remove();
    		    	$('#procNamei').val('');
    		    	$('#useri option').remove();
    		    	$('#useri').val('');
    		    	$('#endBtn').prop('disabled',true);
    		    	//그리드 다시 불러오기
    		    	 $.ajax({
    		    			url:"/ind/perfIndList",
    		    			method : "GET",
    		    			success:function(result){
    		    				grid.resetData(result);
    		    				Toast.fire({
    		    					  icon: 'success',
    		    					  title: '공정종료',
    		    					});
    		    			}
    		    		});
    		    	//사원정보 불러오기
    		    	$.ajax({
    		    		url:"/ind/userList",
    		    		method : "GET",
    		    		success:function(result){
    		    			
    		    			$('#useri option').remove();
    		    			$('#procUseri option').remove();
    		    			result.forEach(function(ele,i){
    		    				if(ele.prcsFlDate!=null||ele.prcsFlDate==null&&ele.facCode!=null||ele.prcsFlDate==null&&ele.facCode==null){
    		    				let options = document.createElement("option");
    		    				options.setAttribute('name',ele.empNum);
    		    				options.dataset.num=i;
    		    				options.dataset.procCode=ele.procCode;
    		    				options.dataset.indicaCode=ele.indicaCode;
    		    				options.dataset.facCode=ele.facCode;
    		    				options.dataset.fldate=ele.prcsFlDate;
    		    				options.append(ele.empName);
    		    				if(ele.prcsFlDate==null&&ele.facCode!=null){
    		    					let option2 = document.createElement("option");
        		    				option2.setAttribute('name',ele.empNum);
        		    				option2.dataset.num=i;
        		    				option2.dataset.procCode=ele.procCode;
        		    				option2.dataset.indicaCode=ele.indicaCode;
        		    				option2.dataset.facCode=ele.facCode;
        		    				option2.dataset.fldate=ele.prcsFlDate;
        		    				option2.dataset.prcsCode=ele.prcsCode;
        		    				option2.append(ele.empName);
        		    				
        		    				option2.append("-");
    		    					options.append("-");
    		    					let getindicaNm = grid.getData();
    		    					getindicaNm.forEach(function(ind){
    		    						options.append(ind.indicaNm);
    		    						option2.append(ind.indicaNm);
    		    					});
    		    					
    		    					console.log(options);
    		    					options.append("-");
    		    					options.append(ele.procCode);
    		    					option2.append("-");
    		    					option2.append(ele.procCode);
    		    					
    		    					document.getElementById('procUseri').appendChild(option2);
    		    					
    		    				}
    		    				if(ele.facCode!=null){
    		    					options.setAttribute('disabled',true);
    		    				}else{
    		    					options.removeAttribute('disabled');
    		    				}
    		    				document.getElementById('useri').appendChild(options);
    		    				$('#cancelBtn').prop('disabled',true);
    		    				$('#procUseri').val('');
    		    				}
    		    				
    		    			})
    		    			
    		    		}
    		    	})
    		    	//사원정보 불러오기 끝
    			
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//종료 아작스 끝
    });
  
    /* grid.setWidth(660); */
    //모달창 열릴떄 작동
/* 	$('#matmodalbtn').on('shown.bs.modal', function(){
        modal_grid.refreshLayout();
        $.ajax({
            url : "/ind/product",
            method : "GET",
            success : function(result){
          	  modal_grid.textContent="";
          	  
              modal_grid.resetData(result);
            }
          });     
       });	 */
    //시작버튼 클릭시 이벤트
	$('#stBtn').click(function(){
		
    	let makFlow = grid3.getData();
    	
    	let innerData = [];
    	let insertData={
    			"prodCode": makFlow[0].resultCode,
    			"indicaCode":$('#indNmi').data('indicaCode'),
    			"procCode":$('#procNamei').data('procCode'),
    			"facCode":$('#facNmi option:selected').attr('name'),
    			"empNum":$('#useri option:selected').attr('name'),
    			"prodCnt":$('#prodCnti').val()
    	};

		
    	//등록 아작스 시작
    	$.ajax({
    		url:"/ind/insertProcProd",
    		method : "POST",
    		data : JSON.stringify(insertData),
    		contentType : "application/json",
    		 beforeSend: function (xhr) {
  	              xhr.setRequestHeader(header, token);
  	            },
    		success : function(result){
    			
    			 let grid2Rows = grid2.getData();
    		    	grid2Rows.forEach(function(ele,i){
    		    		grid2.removeRow(grid2Rows[i].rowKey);
    		    	});
    		    	 let grid3Rows = grid3.getData();
    		    	grid3Rows.forEach(function(ele,i){
    		    		grid3.removeRow(grid3Rows[i].rowKey);
    		    	});
    		    	
    		    	$('#prodCnti').val('0');
    		    	$('#indNmi').val('');
    		    	$('#facNmi option').remove();
    		    	$('#procNamei').val('');
    		    	$('#stBtn').prop('disabled',true);
    		    	$('#useri').val('');
    		    	$('#facNmi').val('');
    				grid.resetData(result);
    				$('#useri option').remove();
    				//사원정보 불러오기
    		    	$.ajax({
    		    		url:"/ind/userList",
    		    		method : "GET",
    		    		success:function(result){
    		    			Toast.fire({
		    					  icon: 'success',
		    					  title: '공정시작',
		    					});
    		    			$('#useri option').remove();
    		    			$('#procUseri option').remove();
    		    			result.forEach(function(ele,i){
    		    				if(ele.prcsFlDate!=null||ele.prcsFlDate==null&&ele.facCode!=null||ele.prcsFlDate==null&&ele.facCode==null){
    		    				let options = document.createElement("option");
    		    				options.setAttribute('name',ele.empNum);
    		    				options.dataset.num=i;
    		    				options.dataset.procCode=ele.procCode;
    		    				options.dataset.indicaCode=ele.indicaCode;
    		    				options.dataset.facCode=ele.facCode;
    		    				options.dataset.fldate=ele.prcsFlDate;
    		    				options.append(ele.empName);
    		    				if(ele.prcsFlDate==null&&ele.facCode!=null){
    		    					let option2 = document.createElement("option");
        		    				option2.setAttribute('name',ele.empNum);
        		    				option2.dataset.num=i;
        		    				option2.dataset.procCode=ele.procCode;
        		    				option2.dataset.indicaCode=ele.indicaCode;
        		    				option2.dataset.facCode=ele.facCode;
        		    				option2.dataset.fldate=ele.prcsFlDate;
        		    				option2.dataset.prcsCode=ele.prcsCode;
        		    				option2.append(ele.empName);
        		    				
        		    				option2.append("-");
    		    					options.append("-");
    		    					let getindicaNm = grid.getData();
    		    					getindicaNm.forEach(function(ind){
    		    						options.append(ind.indicaNm);
    		    						option2.append(ind.indicaNm);
    		    					});
    		    					console.log('??');
    		    					
    		    					console.log(options);
    		    					options.append("-");
    		    					options.append(ele.procCode);
    		    					option2.append("-");
    		    					option2.append(ele.procCode);
    		    					
    		    					document.getElementById('procUseri').appendChild(option2);
    		    					
    		    				}
    		    				if(ele.facCode!=null){
    		    					options.setAttribute('disabled',true);
    		    				}else{
    		    					options.removeAttribute('disabled');
    		    				}
    		    				document.getElementById('useri').appendChild(options);
    		    				$('#cancelBtn').prop('disabled',true);
    		    				$('#procUseri').val('');
    		    				}
    		    				
    		    			})
    		    			
    		    		}
    		    	})
    		    	//사원정보 불러오기 끝
    		},
    		error:function(reject){
    			console.error(reject);
    		}
    	}); 
    	//등록 아작스 끝
	});
    //등록버튼 끝
    //삭제버튼 시작
    $('#cancelBtn').click(function(){
    	let delProcsCode=$('#procUseri option:selected').data('prcsCode');
    	//삭제이벤트
    	 $.ajax({
	          url : "/ind/delProcProd",
	          method : "POST",
	          data : {"prcsCode":delProcsCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){

	    			 let grid2Rows = grid2.getData();
	    		    	grid2Rows.forEach(function(ele,i){
	    		    		grid2.removeRow(grid2Rows[i].rowKey);
	    		    	});
	    		    	 let grid3Rows = grid3.getData();
	    		    	grid3Rows.forEach(function(ele,i){
	    		    		grid3.removeRow(grid3Rows[i].rowKey);
	    		    	});
	    		    	
	    		    	$('#prodCnti').val('0');
	    		    	$('#indNmi').val('');
	    		    	$('#facNmi option').remove();
	    		    	$('#procNamei').val('');
	    		    	$('#stBtn').prop('disabled',true);
	    		    	$('#useri').val('');
	    		    	$('#facNmi').val('');
	    				$('#useri option').remove();
	    				//사원정보 불러오기
	    		    	$.ajax({
	    		    		url:"/ind/userList",
	    		    		method : "GET",
	    		    		success:function(result){
	    		    			Toast.fire({
			    					  icon: 'success',
			    					  title: '공정시작',
			    					});
	    		    			$('#useri option').remove();
	    		    			$('#procUseri option').remove();
	    		    			result.forEach(function(ele,i){
	    		    				if(ele.prcsFlDate!=null||ele.prcsFlDate==null&&ele.facCode!=null||ele.prcsFlDate==null&&ele.facCode==null){
	    		    				let options = document.createElement("option");
	    		    				options.setAttribute('name',ele.empNum);
	    		    				options.dataset.num=i;
	    		    				options.dataset.procCode=ele.procCode;
	    		    				options.dataset.indicaCode=ele.indicaCode;
	    		    				options.dataset.facCode=ele.facCode;
	    		    				options.dataset.fldate=ele.prcsFlDate;
	    		    				options.append(ele.empName);
	    		    				if(ele.prcsFlDate==null&&ele.facCode!=null){
	    		    					let option2 = document.createElement("option");
	        		    				option2.setAttribute('name',ele.empNum);
	        		    				option2.dataset.num=i;
	        		    				option2.dataset.procCode=ele.procCode;
	        		    				option2.dataset.indicaCode=ele.indicaCode;
	        		    				option2.dataset.facCode=ele.facCode;
	        		    				option2.dataset.fldate=ele.prcsFlDate;
	        		    				option2.dataset.prcsCode=ele.prcsCode;
	        		    				option2.append(ele.empName);
	        		    				
	        		    				option2.append("-");
	    		    					options.append("-");
	    		    					let getindicaNm = grid.getData();
	    		    					getindicaNm.forEach(function(ind){
	    		    						options.append(ind.indicaNm);
	    		    						option2.append(ind.indicaNm);
	    		    					});
	    		    					console.log('??');
	    		    					
	    		    					console.log(options);
	    		    					options.append("-");
	    		    					options.append(ele.procCode);
	    		    					option2.append("-");
	    		    					option2.append(ele.procCode);
	    		    					
	    		    					document.getElementById('procUseri').appendChild(option2);
	    		    					
	    		    				}
	    		    				if(ele.facCode!=null){
	    		    					options.setAttribute('disabled',true);
	    		    				}else{
	    		    					options.removeAttribute('disabled');
	    		    				}
	    		    				document.getElementById('useri').appendChild(options);
	    		    				$('#cancelBtn').prop('disabled',true);
	    		    				$('#procUseri').val('');
	    		    				}
	    		    				
	    		    			})
	    		    			
	    		    		}
	    		    	})
	    		    	//사원정보 불러오기 끝

	          }
    	 })
    })
    grid.on('click',function(e){
    	modData = grid.getRow(e.rowKey);
    	prdtNm=modData.prodName;
    	pdCode=modData.pdCode;
    	indicaCode=modData.indicaCode;
    	prodCode=modData.prodCode;
    	$('#cancelBtn').prop('disabled',true);
    	$('#procUseri').val('');
    	$('#stBtn').prop('disabled',true);
    	$('#endBtn').prop('disabled',true);
    	//수정버튼 활성화
		$('#facNmi option').remove();
    	$('#indNmi').val(modData.indicaNm);
		$('#indNmi').data("indicaCode",indicaCode);
		$('#procNamei').val("");
		$('#facNmi').val("");
		$("#useri").val("");
		$('#procnamei').data('procCode',"");
		 let grid2Rows = grid2.getData();
	    	grid2Rows.forEach(function(ele,i){
	    		grid2.removeRow(grid2Rows[i].rowKey);
	    	});
	    	 let grid3Rows = grid3.getData();
	    	grid3Rows.forEach(function(ele,i){
	    		grid3.removeRow(grid3Rows[i].rowKey);
	    	});
    	
    	 for(i=0;i<$('#useri').length;i++){
      		 if($('#useri option').eq(i).data('indicaCode')!=null){
      			if($('#procNamei').data('procCode')==$('#useri option').eq(i).data('procCode')&&$('#indNmi').data('indicaCode')==$('#useri option').eq(i).data('indicaCode')){
    				$('#useri option').eq(i).prop('disabled',false);
    			}else{
    				if($('#useri option').eq(i).prop('selected')){
    					$('#useri option').eq(++i).prop('selected','selected');
    				}
    				$('#useri option').eq(i).prop('disabled',true);
    			}
      		 }
      	 }
    	
    	//공정 bom 데이터 넣기
	      $.ajax({
	          url : "/ind/oerfProcList",
	          method : "POST",
	          data : {"indicaCode":modData.indicaCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	        	let def=0;
	        	let divide=0;
	            result.forEach(function(ele,idx){
	            	if(ele.testTnumDef>0){
	            	def+=ele.testTnumDef;
	            	divide++;
	            	};
	            	if(def>0){
	            	if(ele.makFlowStep>1){
	            		def = Math.ceil(def/divide);
	            		ele.reQnt=ele.reQnt-def;
	            	};
	            	};
	            });
	            grid2.resetData(result);

	          }
	        });
    });


     }); 

</script>

</div>
</body>
</html>