<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<style>
.container-fluid .col-form-label{
font-size:10pt;
height:28px;
width:140px;
}
.container-fluid .form-control{
height:28px;
font-size:10pt;
}
.container-fluid .form-group{
margin-bottom:22px;
height:28px;
}
</style>
</head>
<body>
<h2 layout:fragment="title">공정실적 조회</h2>
<div layout:fragment="content">
<!-- 생산지시 페이지 -->
<div  style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:1500px;">
<h5 class="font-weight-bold">지시서 목록</h5>
<div id="grid"></div>
</div>
</div>
</div>
<div style="text-align:left;">
<div class="card card-outline" style="display:inline-block;">
<div class="card-body" style="float:left; width:400px;">
<h5 class="font-weight-bold">공정목록</h5>
<div id="proc_grid"></div>
</div>
<div class="card-body" style="float:left; width:1100px;">
<h5 class="font-weight-bold">실적내역</h5>
<div id="bom_grid"></div>
</div>
</div>
</div>
<form id="hiddenFrm">

</form>
<!-- 모달 시작 -->
 <!--   <div class="modal fade bd-example-modal-lg" id="matmodalbtn" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      	<h5 class="modal-title">계획상세목록</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      <div class="modal-body">
        <div class="form-group row" id="modal-search">
        <div class="form-group row col-12">
        <label class="col-3">제품명</label>
      	<input class="form-control col-4" id="modalProd"> 
		<button style="margin-left:10px;" class="col-2 btn btn-primary" id="modal-selBtn" onclick='getModalCon()'>조회</button>
		</div>
        </div>
      	<div id="modal-grid"></div>
      </div>
    </div>
  </div>
</div> -->
<!-- 모달 끝 -->
<!-- 화면 그리드 -->



<script>
const token = $('meta[name="_csrf"]').attr("content");
const header = $('meta[name="_csrf_header"]').attr("content");
var grid = null;
var grid2 = null;
var grid3 = null;
var planData=[];
var procData=[];
var prodCode="";
var pdCode ="";
var modData=null;
var modReQnt=0;
var indicaCode="";
$(function () {
	//기본값 설정
    $('#indDatei').val(new Date().toISOString().slice(0, 10));
    $('#stDatei').val(new Date().toISOString().slice(0, 10));
    $('#clsDatei').val(new Date().toISOString().slice(0, 10));
	//그리드 구성
grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        bodyHeight: 200,
        rowHeaders: ['rowNum'],
        columns: [{
          header: '지시명',
          name: 'indicaNm'
        },
        {
          header: '제품명',
          name: 'prodName'
        },
        {
          header: '지시수량',
          name: 'ordrQnt'
        },
        {
      	  header: '지시시작일자',
      	  name : 'stDate',
      	 sortable: true,
         filter: {
             type: 'date',
             options: {
               format: 'yyyy.MM.dd'
             }
           }
        },
        {
      	  header:'지시종료일자',
      	  name: 'clsDate',
      	 sortable: true,
         filter: {
             type: 'date',
             options: {
               format: 'yyyy.MM.dd'
             }
           }
        },
        {
        	  header:'지시상태',
        	  name: 'indicaState',
        	   filter: 'select'
          }
      ]
      });
	//공정(검수제외) --공정 등록 이 후 작업량에 따라 띄우는게 달라져야함
	grid2 = new tui.Grid({
        el: document.getElementById('proc_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [{
          header: '공정명',
          name: 'procName'
        },
        {
       	  header: '지시량',
       	  name : 'ordrQnt'
          },
          {
        	  header : '작업상태',
        	  name : 'indicaState'
          }
      ]
      });
	//작업자 내역
	grid3 = new tui.Grid({
        el: document.getElementById('bom_grid'),
        scrollX: false,
        bodyHeight: 350,
        columns: [
        {
          header: '작업자',
          name: 'empNum'
        },
        {
          header: '시작일시',
          name: 'prcsFrDate'
        },
        {
            header: '종료일시',
            name: 'prcsFlDate'
          },
        {
      	  header: '작업량',
      	  name : 'prodCnt'
        },
          {
        	  header: '불량량',
        	  name : 'reQnt'
          },
        {
        	  header: '사용설비',
        	  name : 'facName'
          }
      ]
      });
	  //지시서 리스트 불러오기
    $.ajax({
		url:"/ind/resultIndList",
		method : "GET",
		success:function(result){
			grid.resetData(result);
		}
	})

    //공정 그리드 설정
     grid2.on("click",function(e){
    	let planProcData = grid2.getRow(e.rowKey);

  	 let insertData = {
  			 "procCode" : planProcData.procCode,
  			 "indicaCode" : planProcData.indicaCode
  	 };
	            //공정정보 불러오기
	          	   $.ajax({
	          		  url:"/ind/getProcProdInfo",
	          		  method:"POST",
	          		  data:JSON.stringify(insertData),
	          		  contentType : "application/json",
	          		 beforeSend: function (xhr) {
	   	              xhr.setRequestHeader(header, token);
	   	            },
	   	            success : function(result){
/* 	   	            	let result = [];
	   	            	resolve.forEach(function(ele,i){
	   	            		 if(ele.facName==null) {
	   	            			 if(ele.matName==null){
	   	            				 ele.prodName=ele.semiName;
	   	            				result.push(ele);
	   	            			 }else{
	   	            				 ele.prodName=ele.matName;
								result.push(ele);
	   	            			 }
							 }else{
								let options = document.createElement("option");
								options.setAttribute('name',ele.facCode);
								options.dataset.num=i;
								options.dataset.procCode=ele.procCode;
								options.dataset.indicaCode=ele.indicaCode;
								options.dataset.facCode=ele.facCode;
								options.dataset.fldate=ele.prcsFlDate;
								options.append(ele.facName);
								if(ele.indicaCode!=null){
									options.append('-');
									$('#useri option').each(function(idx,userNm){
										if(userNm.getAttribute('name')==ele.empNum){
											options.append(userNm.value);
										}
									})
									
								}
								
								document.getElementById('facNmi').appendChild(options);	
								
							 }
	   	            	}) */
	   	            	
	   	       	
	             
	   	            	grid3.resetData(result);
	   	            }
	          	  });
	         
    }); 

    
    grid.on('click',function(e){
    	modData = grid.getRow(e.rowKey);
    	prdtNm=modData.prodName;
    	pdCode=modData.pdCode;
    	indicaCode=modData.indicaCode;
    	prodCode=modData.prodCode;
    	
		 let grid2Rows = grid2.getData();
	    	grid2Rows.forEach(function(ele,i){
	    		grid2.removeRow(grid2Rows[i].rowKey);
	    	});
	    	 let grid3Rows = grid3.getData();
	    	grid3Rows.forEach(function(ele,i){
	    		grid3.removeRow(grid3Rows[i].rowKey);
	    	});
    	
    	
    	//공정 bom 데이터 넣기
	      $.ajax({
	          url : "/ind/oerfProcList",
	          method : "POST",
	          data : {"indicaCode":modData.indicaCode},
	          beforeSend: function (xhr) {
	              xhr.setRequestHeader(header, token);
	            },
	          success : function(result){
	        	grid2.textContent="";
	            
	            grid2.resetData(result);

	          }
	        });
    });


     }); 

</script>

</div>
</body>
</html>