<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pen.app.mak.mapper.MakIndMapper">

<select id="ordPlanning" resultType="PlanVO">
select * from ordplan_view
</select>

<select id="contPlanning" resultType="PlanVO">
select * from conplan_view
</select>

<!-- 공통에서 떼오는 BOM 쿼리문 -->
<!-- <select id="">
SELECT 
    LEVEL LEV,
    PARENT_CODE,
    BOM_MAT_TYPE,
    BOM_PROD_CODE,
    BOM_PROD_NAME,
    BOM_MAT_UNIT,
    BOM_MAT_USAGE,
    PROC_CODE
FROM (SELECT  B.BOM_PROD_CODE AS PARENT_CODE, BOM_MAT_TYPE, A.BOM_PROD_CODE, A.BOM_PROD_NAME, BOM_MAT_UNIT, BOM_MAT_USAGE, PROC_CODE
FROM (SELECT BOM_PROD_CODE, BOM_PROD_NAME
FROM
(SELECT BOM_PROD_CODE, BOM_PROD_NAME, BOM_MAT_CODE, BOM_MAT_NAME FROM COM_BOM
WHERE BOM_PROD_CODE = #{받아오기} OR BOM_PROD_CODE IN (SELECT BOM_MAT_CODE FROM COM_BOM WHERE BOM_PROD_CODE = #{받아오기}))
UNION
SELECT BOM_MAT_CODE, BOM_MAT_NAME
FROM
(SELECT BOM_PROD_CODE, BOM_PROD_NAME, BOM_MAT_CODE, BOM_MAT_NAME FROM COM_BOM
WHERE BOM_PROD_CODE = #{받아오기} OR BOM_PROD_CODE IN (SELECT BOM_MAT_CODE FROM COM_BOM WHERE BOM_PROD_CODE = #{받아오기}))) A LEFT OUTER JOIN COM_BOM B ON (A.BOM_PROD_CODE = B.BOM_MAT_CODE))
START WITH PARENT_CODE IS NULL
CONNECT BY PARENT_CODE = PRIOR BOM_PROD_CODE
</select> -->
</mapper>