<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pen.app.mat.mapper.MatMapper">
	<select id="getorderlist" resultType="OrderVO">
		select h.MAT_ORDERNUM, h.MAT_ORDERNAME, h.MAT_CHARGER, h.ACC_CODE, o.MAT_UNTPC, o.MAT_ORDER_QY, o.MAT_TOTAMT, o.MAT_ORDERNUM, o.MAT_REQDATE, o.MAT_CODE, o.MAT_NAME,o.MAT_DTAORDCODE
		from MAT_ORDER_HEADER h, MAT_ORDER o
		where h.MAT_ORDERNUM=o.MAT_ORDERNUM
		and o.mat_name='자재명'
	</select>
	
	<!-- 모달자재목록 -->
	<select id="getmatlist" resultType="OrderVO">
		select distinct a.mat_code, a.mat_name, b.mat_untpc, c.mat_ordername from COM_CODE_MAT a join MAT_ORDER b on (a.mat_name=b.mat_name) join mat_order_header c on(b.mat_ordernum = c.mat_ordernum)
	</select>
	
	<!-- 모달자재검색조회 -->
	<select id="getmatminilist" resultType="OrderVO">
		select distinct a.mat_code, a.mat_name, b.mat_untpc, c.mat_ordername from COM_CODE_MAT a join MAT_ORDER b on (a.mat_name=b.mat_name) join mat_order_header c on(b.mat_ordernum = c.mat_ordernum) where a.mat_name like #{keyword}
	</select>
	
	<!-- 모달거래처목록 -->
	<select id="getacclist" resultType="OrderVO">
		SELECT b.mat_name, c.acc_code, c.acc_name FROM COM_ACCOUNT_ITEM A JOIN COM_CODE_MAT B ON (A.ACC_ITEM = b.mat_code) JOIN COM_CODE_ACCOUNT C ON (a.acc_code = c.acc_code)
	</select>
	
	<!-- 모달거래처검색조회 -->
	<select id="getaccminilist" resultType="OrderVO">
		SELECT b.mat_name, c.acc_code, c.acc_name FROM COM_ACCOUNT_ITEM A JOIN COM_CODE_MAT B ON (A.ACC_ITEM = b.mat_code) JOIN COM_CODE_ACCOUNT C ON (a.acc_code = c.acc_code) where b.mat_name like #{keyword}
	</select>
	
	<select id="getmatordercode" resultType="String">
		SELECT COM_CODE||'-'||(select LPAD(MAX(REGEXP_REPLACE(MAT_ORDERNUM, '[^0-9]')+1),6,'0') AS NUM FROM MAT_ORDER_HEADER) AS MAT_CODE FROM COM_CODE WHERE CODE_NAME =  '자재코드'
	</select>
	
	
	
	<select id="getmatregister" statementType="CALLABLE">
		{call mo_prc(
			#{vo.accCode, mode = IN, jdbcType = VARCHAR}, #{vo.matCharger, mode = IN, jdbcType = VARCHAR}, #{vo.matOrdername, mode = IN, jdbcType = VARCHAR},
			#{vo.matUnit, mode = IN, jdbcType = VARCHAR}, #{vo.matOrderQy, mode = IN, jdbcType = VARCHAR}, #{vo.matTotamt, mode = IN, jdbcType = VARCHAR},
			#{vo.matUnit, mode = IN, jdbcType = VARCHAR}, #{vo.matReqdate, mode = IN, jdbcType = VARCHAR}, #{vo.matOrderdate, mode = IN, jdbcType = VARCHAR},
			#{vo.matName, mode = IN, jdbcType = VARCHAR}, #{vo.matCode, mode = IN, jdbcType = VARCHAR}, #{vo.matStd, mode = IN, jdbcType = VARCHAR}
		)
		}
		
	</select>
</mapper>
