<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pen.app.bns.mapper.BnsMapper">

<!-- 주문서 전체 조회 -->
  <select id="getOrdList" resultType="BnsOrdVO">
   select ord_code, acc_code, acc_name, to_date(ord_date,'YYYY-MM-DD'), to_date(ord_due_date,'YYYY-MM-DD'), ord_progress, emp_num, ord_note 
   from bns_order
  </select>
  
<!-- 주문서 등록 -->
  <insert id="insertOrdList" parameterType ="com.pen.app.bns.vo.BnsOrdVO">
  insert into bns_order values('bns_ord'||LPAD(ord_seq.nextval, 3, '0'),#{accCode},#{accName},#{ordDate},#{ordDueDate},#{ordProgress},#{empNum},#{ordNote})
  from bns_order
  </insert>
  
  
  <!-- 거래처 전체 조회 -->
  <select id="getAccList" resultType="BnsAccVO">
   select acc_code, acc_name 
   from com_code_account
  </select>
  
  <!-- 제품 전체 조회 -->
  <select id="getProdList" resultType="BnsProdVO">
   select prod_code, prod_name 
   from com_code_prod
  </select>
  
</mapper>
