<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="/plugins/jquery/jquery.min.js"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<style>
.modaltitle {
	text-align: center;
}

.modalbtn {
	text-align: center;
}

.process {
	display: inline;
}

.container-fluid {
	text-align: left !important;
}

.ordbtn {
	float: right;
	margin-bottom: 1px;
}

.ordbtn button {
	margin-right: 2px;
}

.ordReg {
	margin-top: 30px;
}

.form-control {
	width: 150px;
}
</style>
</head>
<body>
<div layout:fragment="title">
		<h1>계약서 관리</h1>
	</div>

	<div layout:fragment="content">
	
	<p>
	<button id="pageReset">초기화</button>
	</p>
	
	진행구분 <label class="process">진행 <input type="checkbox"
			checked="checked"> <span class="checkmark"></span>
		</label> <label class="process">완료 <input type="checkbox"> <span
			class="checkmark"></span>
		</label> <label class="process">전체 <input type="checkbox"> <span
			class="checkmark"></span>
		</label>
	
		<p>
			거래처명 <input type="text" id="accountlist-text"
				style="background-color: #e2e1e1" readonly>
			<button id="accountList" class="fa-solid fa-magnifying-glass"
				data-toggle="modal" data-target=".bd-account-modal-lg"></button>
		</p>
		<p>
			계약일자 <input type="date" id="orddate-text"> - <input type="date" id="orddate-text">
		</p>	
		<p>
			만료일자 <input type="date" id="ordduedate-text"> - <input type="date" id="ordduedate-text"> <button id="searchOrd">조회</button>
		</p>
		<div class="ordbtn">
			<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-ordList-modal-lg">계약서등록</button>
			<button id="BtnOrdCancle" class="btn btn-outline-secondary">계약서취소</button>
		</div>

		<br>
		
		<!-- 본문 조회 그리드 -->
		<div id="grid"></div>
		
<!--=========================== 모달 ===============================-->
	<!-- 본문 내 거래처리스트 모달 -->
		<div class="modal fade bd-account-modal-lg" id="accountListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">

				<div class="modal-content">
					<h1 class="modaltitle">거래처 목록</h1>
					<p>
						거래처명 <input type="text" id="searchacc-text">
						<button id="searchacc" type="submit"
							class="fa-solid fa-magnifying-glass"></button>
					<div id="accountGrid"></div>

					<div class="modalbtn">
						<button id="searchacc-btn" data-toggle="modal"
							data-target=".bd-account-modal-lg">확인</button>
						<button>취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 본문 내 거래처리스트 모달 끝 -->
		
		<!-- 계약서 등록 모달 -->
		<div id="modalProdReg" class="modal fade bd-ordList-modal-lg"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">계약서 등록</h1>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<br>

					<div class="registerform">
						<div class="productReginput" style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">계약코드
								</label> <input type="text" id="modalOrdCode" class="form-control"
									name="ordCode" value="" readonly>
							</div>
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">담당자명
								</label> <input type="text" id="ordempname" class="form-control"
									name="empName" th:value="${#authentication.principal.username}"
									readonly>
							</div>

							<input type="hidden" th:value="${userVO.empNum}" id="ordempnum"
								class="form-control" name="empCode" readonly>

							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">거래처명
									<button type="button" class="fa-solid fa-magnifying-glass"
										data-toggle="modal" data-target=".bd-smallaccount-modal-sm"></button>
								</label> <input id="ordaccname" type="text" class="form-control"
									name="accName" readonly>
							</div>
						</div>
						<div style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<!-- <label for="recipient-name" class="col-form-label">거래처코드 </label> -->
								<input type="hidden" id="ordacccode" class="form-control"
									name="accCode" readonly>
							</div>
						</div>
						<div style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">계약일자
								</label> <input id="modalOrdDate" type="text" class="form-control"
									name="ordDate" readonly placeholder="현재날짜">
							</div>
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">만료일자
								</label> <input id="modalOrdDueDate" type="date" class="form-control"
									name="ordDueDate">
							</div>
						</div>

						<input type="hidden" id="modalOrdNote" class="form-control"
							name="ordNote"></input> <br>
						<hr>
						<h2>계약상세</h2>
						<br> <label>제품리스트</label>
						<button type="button" class="fa-solid fa-magnifying-glass"
							data-toggle="modal" data-target=".bd-smallproduct-modal-sm"></button>
						<button style="float: right; margin-right: 5px;"
							id="ordProdDelete">삭제</button>
			<!-- 계약서 등록 제품추가 그리드 위치 -->
						<div id="addProdgrid"></div>
						
						<div class="modalbtn">
							<button id="ordregsubmit" type="submit" class="btn btn-primary">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
				</div>
				</div>
				
		<!--  계약서 등록 모달 끝 -->
<!-- ================================ 모달끝 ==================================-->
		
	
	
	<script>
	const token = $('meta[name="_csrf"]').attr("content");
	const header = $('meta[name="_csrf_header"]').attr("content");
	
	
	//초기화 버튼 클릭 시
	$('#pageReset').on('click',function(){
		
		/* $.ajax({
			url : "/bns/ordListAjax",
			method : "GET",
			dataType : "JSON",
			success : function(result){
				grid.resetData(result);
			}
		}); */
		
	})
	
	//본문의 거래처리스트 돋보기
	$.ajax({
		url : "/bns/accList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			account_Grid.resetData(result);
			account_Grid.refreshLayout();
		}
	});
	
	//본문 내 거래처리스트 그리드 생성
   var account_Grid = new tui.Grid({
     el: document.getElementById('accountGrid'),
     scrollX: false,
     scrollY: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '거래처코드',
         name: 'accCode'
       },
       {
         header: '거래처명',
         name: 'accName'
       }
   
     ]
   });
   
   //본문 내 거래처 리스트 그리드 뜨고 모달창뜨게
   $(function(){
	   	$('#accountListModal').on('shown.bs.modal', function(){
	   		account_Grid.refreshLayout();
	   	})
	   })
	
   //본문 내 거래처 리스트 내 버튼클릭 시 
	    $("#searchacc").on('click', function(){
   	const result = $("#searchacc-text").val()
		$("#searchacc-text").val('');
   	
   	//거래처 리스트 검색 아작스
   	$.ajax({
  		 url : "/bns/accKeyList",
  	     method : "GET",
  	     data : {'result' : result},
  	     success : function(result){
  	     account_Grid.resetData(result);
  	     account_Grid.refreshLayout();
  	     },
  	     error: function(reject){
  	    	 console.log(reject)
  	     }

  });
  })
   	
  	//거래처 리스트 그리드 클릭 시 
   	account_Grid.on('click', ev=> {
    

     const focusCell = account_Grid.getFocusedCell()

     let dataRow = account_Grid.getRow(ev.rowKey);

     $('#accountlist-text').val(dataRow.accName);
     
     $("#searchacc-btn").click(function(){
   	  
   	  $.ajax({
   	 		url : "/bns/accList",
   	 		method : "GET",
   	 		dataType : "JSON",
   	 		success : function(result){
   	 			account_Grid.resetData(result);
   	 			account_Grid.refreshLayout();
   	 		}
   	 	});
   	 $('#accountListModal').modal('hide');

   	  
     })
   })   
   	
   //계약서 등록모달 내 제품추가 그리드생성
   	var addProdgrid = new tui.Grid({
             el: document.getElementById('addProdgrid'),
             scrollX: false,
             scrollY: false,
             rowHeaders: [
                 {
                   type: 'rowNum'
                 },
                 {
                   type: 'checkbox'
                   
                 }	
               ],
             columns: [
            	
               {
                 header: '제품명',
                 name: 'prodName'
               },
               {
                 header: '제품코드',
                 name: 'prodCode'
               },
               {
                 header: '주문량',
                 name: 'contDetQuan',
                 editor:'text'
               },
               {
                   header: '단가',
                   name: 'contDetPrice',
                   editor:'text'
                 },
               {
                 header: '주문금액',
                 name: 'contDetTotPrice'
               },
               {
                   header: '납기주기',
                   name: 'contDetRelease',
                   editor:'text'
                 },
                 {
                     header: '납기주기',
                     name: 'contDetRelease',
                     editor:'text'
                   }
             ]
             /*    summary: {
            	   height: 40,
            	    position: 'bottom',
             columnContent: {
            	 conDetQuan: {
                   template: function(valueMap) {
                     return `TOTAL: ${valueMap.sum}`;
                   }
                 },
                 conDetPrice: {
                   template: function(valueMap) {
                     return `AVERAGE: ${valueMap.avg}원`;
                   }
                 },
                 conDetTotPrice: {
                     template: function(valueMap) {
                       return `TOTAL: ${valueMap.sum}원`;
                     }
                   }
               }
             }   */ 
            	});
   	
		   //단가X주문량=주문금액 계산
		   	addProdgrid.on('editingFinish', function(ev){
		    	  let row = addProdgrid.getRow(ev.rowKey);
		    	  if((ev.columnName=="conDetQuan" || ev.columnName=="conDetPrice")&&row.conDetQuan&&row.conDetPrice){
		    		  addProdgrid.setValue(ev.rowKey, "conDetTotPrice", row.conDetQuan*row.conDetPrice, false)
		    	  }
		    	  
		      }) 
   	
   	
   	
   	
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
</body>
</html>