<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>ordList</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<style>

.modaltitle{
text-align : center;
}
.modalbtn{
text-align : center;
}
.process{
display : inline;
}

.container-fluid{
text-align : left !important;
}

.ordbtn{
float : right;
margin-bottom : 1px;
}
.ordbtn button{
margin-right : 2px;
}
.ordReg{
margin-top: 30px;
}
</style>

<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> <!-- 그리드 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script> <!-- 모달 -->
</head>


<body>

<div layout:fragment = "title">
<h1>주문서 관리</h1> 
</div>

<div layout:fragment = "content">

<p><button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target=".bd-ordList-modal-lg">주문서<br>등록하기</button></p>


<!-- 주문서등록 modal -->
<div class="modal fade bd-ordList-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <div class="modal-header">
      <h1 class= "modal-title">주문서 등록</h1>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>      
      </div>
      
      <form method="get" action ="/insertOrdList">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">주문코드 </label>
            <input type="text" class="form-control" name="ordCode" value="" readonly>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">제품명 <button type="button" class="fa-solid fa-magnifying-glass" data-toggle="modal" data-target=".bd-smallproduct-modal-sm"></button> </label>
            <input id="ordprodname" type="text" class="form-control" name="prodName" readonly>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">제품코드 </label>
            <input type="text" id="ordprodcode" class="form-control" name="prodCode" readonly>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">주문량 </label>
            <input type="text" class="form-control" name="ordDetQuan">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">단가 </label>
            <input type="text" class="form-control" name="ordDetPrice">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">거래처명 <button type="button"class="fa-solid fa-magnifying-glass" data-toggle="modal" data-target=".bd-smallaccount-modal-sm"></button> </label>
            <input id="ordaccname" type="text" class="form-control" name="accName" readonly>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">거래처코드 </label>
            <input type="text" id="ordacccode" class="form-control" name="accCode" readonly>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">주문일자 </label>
            <input type="text" class="form-control" name="ordDate" readonly placeholder="현재날짜">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">납기일자 </label>
            <input type="text" class="form-control" name="ordDueDate">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">담당자명 </label>
            <input type="text" class="form-control" name="empName">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">비고 </label>
            <textarea class="form-control" name="ordNote"></textarea>
          </div>
        <div class = "modalbtn"><button type="submit" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        </div>
       </form>
       
       <!-- 주문코드 자동입력 -->
       <script>
       $.ajax({
    		url : "/bns/ordCode",
    		method : "GET",
    		dataType : "JSON",
    		success : function(result){
    			console.log(result);
    			$('input[name=ordCode]').attr('value',result[0].ordCode);
    			$('input[name=ordDate]').attr('value',result[0].ordDate);
    			
    			
    		}
    	});
       
       </script>
       
       
<!-- 주문서 등록내의 거래처리스트모달 -->
<div class="modal fade bd-smallaccount-modal-sm" id = "accountRegModal"tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <h2 class= "modaltitle">거래처 목록</h2>
    <p>거래처명 <input id="searchaccreg-text" type = "text"> <button id="searchaccreg" class="fa-solid fa-magnifying-glass"></button></p>
      <div id="accountRegGrid"></div>
      <div class = "modalbtn"><button id="modalregsubmit" data-toggle="modal" data-target=".bd-smallaccount-modal-sm">확인</button><button>취소</button></div>
    </div>
  </div>
</div>



<script src="/plugins/jquery/jquery.min.js"></script>
<script>
 	$.ajax({
 		url : "/bns/accList",
 		method : "GET",
 		dataType : "JSON",
 		success : function(result){
 			accountReg_Grid.resetData(result);
 			accountReg_Grid.refreshLayout();
 		}
 	});
    var accountReg_Grid = new tui.Grid({
      el: document.getElementById('accountRegGrid'),
      scrollX: false,
      scrollY: false,
      rowHeaders: ['checkbox'],
      columns: [
        {
          header: '거래처코드',
          name: 'accCode'
        },
        {
          header: '거래처명',
          name: 'accName'
        }
    
      ]
    });
    
    
    //그리드 먼저 나타내고 모달창
    $(function(){
    	$('#accountRegModal').on('shown.bs.modal', function(){
    		accountReg_Grid.refreshLayout();
    	})
    })
    
        $("#searchaccreg").on('click', function(){
    	const result = $("#searchaccreg-text").val()
		$("#searchaccreg-text").val('');
    	
    	$.ajax({
    		 url : "/bns/accKeyList",
    	     method : "GET",
    	     data : {'result' : result},
    	     success : function(result){
    	     accountReg_Grid.resetData(result);
    	     accountReg_Grid.refreshLayout();
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
    	     }
  
    });
    })
    
    accountReg_Grid.on('click', ev=> {
      

      const focusCell = accountReg_Grid.getFocusedCell()
     

      let dataRow = accountReg_Grid.getRow(ev.rowKey);
      
      $('#ordaccname').val(dataRow.accName);
      $('#ordacccode').val(dataRow.accCode);
      
      $('#modalregsubmit').click(function(){
    	  
    	  $.ajax({
  	 		url : "/bns/accList",
  	 		method : "GET",
  	 		dataType : "JSON",
  	 		success : function(result){
  	 			accountReg_Grid.resetData(result);
  	 			accountReg_Grid.refreshLayout();
  	 		}
  	 	});
    	  
    	  $('#accountRegModal').modal('hide');
      })
    })   
    
    
    
    
</script>

<!-- 주문서 등록내의 거래처리스트모달 끝 -->

<!-- 주문서 등록내의 제품리스트모달 -->
<div class="modal fade bd-smallproduct-modal-sm" id = "productRegModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <h2 class= "modaltitle">제품리스트</h2>
    <p>제품명 <input id="searchprodreg-text"type = "text"> <button id="searchprodreg"type = "submit" class="fa-solid fa-magnifying-glass"></button></p>
      <div id="productRegGrid"></div>
      <div class = "modalbtn"><button id = "modalsubmitbtn" data-toggle="modal" data-target=".bd-smallproduct-modal-sm"type="button" >확인</button><button>취소</button></div>
    </div>
  </div>
</div>
      
      
      
      
    </div>
  </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script>
 	$.ajax({
 		url : "/bns/prodList",
 		method : "GET",
 		dataType : "JSON",
 		success : function(result){
 			productReg_Grid.resetData(result);
 			productReg_Grid.refreshLayout();
 		}
 	});
    var productReg_Grid = new tui.Grid({
      el: document.getElementById('productRegGrid'),
      scrollX: false,
      scrollY: false,
      rowHeaders: ['checkbox'],
      columns: [
        {
          header: '제품코드',
          name: 'prodCode'
        },
        {
          header: '제품명',
          name: 'prodName'
        }
    
      ]
    });
    $(function(){
    	$('#productRegModal').on('shown.bs.modal', function(){
    		productReg_Grid.refreshLayout();
    	})
    })
    
        $("#searchprodreg").on('click', function(){
    	const result = $("#searchprodreg-text").val()
		$("#searchprodreg-text").val('');
    	
    	$.ajax({
    		 url : "/bns/prodKeyList",
    	     method : "GET",
    	     data : {'result' : result},
    	     success : function(result){
    	     productReg_Grid.resetData(result);
    	     productReg_Grid.refreshLayout();
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
    	     }
  
    });
    })
    
    productReg_Grid.on('click', ev=> {
      

      const focusCell = productReg_Grid.getFocusedCell()
     

      let dataRow = productReg_Grid.getRow(ev.rowKey);
      
      $('#ordprodname').val(dataRow.prodName);
      $('#ordprodcode').val(dataRow.prodCode);
      
      $('#modalsubmitbtn').click(function(){
    
    	  
    	  
    	  
    	  $.ajax({
    	 		url : "/bns/prodList",
    	 		method : "GET",
    	 		dataType : "JSON",
    	 		success : function(result){
    	 			productReg_Grid.resetData(result);
    	 			productReg_Grid.refreshLayout();
    	 		}
    	 	});
    	  
    	  
    	  $('#productRegModal').modal('hide');
    	  
    	})
    	
    	
      })
    
    
    
    
</script>
<!-- 주문서 등록내의 제품리스트 모달 끝 -->

<!-- 주문서 등록 모달 끝 -->



  진행구분 <label class="process">진행
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  
  <label class="process">완료
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  
  <label class="process">전체
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
 

<p>거래처명 <input type ="text" id="accountlist-text"> <button id="accountList" class="fa-solid fa-magnifying-glass" data-toggle="modal" data-target=".bd-account-modal-lg" ></button></p>  
<p>제품명 <input type ="text" id="productlist-text"> <button id="productList"class="fa-solid fa-magnifying-glass" data-toggle="modal" data-target=".bd-product-modal-lg"></button></p>
<p>주문일자 - 납기일자 <input type="date" id="orddate-text"><input type ="date" id="ordduedate-text"> <button id="searchOrd">조회</button> <button>초기화</button></p>
<div class = "ordbtn">
<button >주문서 취소</button>
</div>
<br>

<!-- 거래처리스트 modal -->
<div class="modal fade bd-account-modal-lg" id="accountListModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1 class= "modaltitle">거래처 목록</h1>
      <p>거래처명 <input type = "text" id="searchacc-text"> <button id = "searchacc"type = "submit" class="fa-solid fa-magnifying-glass"></button>
      
      <div id="accountGrid"></div>
      
      <div class = "modalbtn"><button id ="searchacc-btn" data-toggle="modal" data-target=".bd-account-modal-lg">확인</button> <button>취소</button></div>
      </div>
  </div>
</div>
      
<script src="/plugins/jquery/jquery.min.js"></script>
<script>
 	$.ajax({
 		url : "/bns/accList",
 		method : "GET",
 		dataType : "JSON",
 		success : function(result){
 			account_Grid.resetData(result);
 			account_Grid.refreshLayout();
 		}
 	});
 	
    var account_Grid = new tui.Grid({
      el: document.getElementById('accountGrid'),
      scrollX: false,
      scrollY: false,
      rowHeaders: ['checkbox'],
      columns: [
        {
          header: '거래처코드',
          name: 'accCode'
        },
        {
          header: '거래처명',
          name: 'accName'
        }
    
      ]
    });
    $(function(){
    	$('#accountListModal').on('shown.bs.modal', function(){
    		account_Grid.refreshLayout();
    	})
    })
    
    
    $("#searchacc").on('click', function(){
    	const result = $("#searchacc-text").val()
		$("#searchacc-text").val('');
    	
    	$.ajax({
    		 url : "/bns/accKeyList",
    	     method : "GET",
    	     data : {'result' : result},
    	     success : function(result){
    	     account_Grid.resetData(result);
    	     account_Grid.refreshLayout();
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
    	     }
  
    });
    })
    
    account_Grid.on('click', ev=> {
     

      const focusCell = account_Grid.getFocusedCell()

      let dataRow = account_Grid.getRow(ev.rowKey);

      $('#accountlist-text').val(dataRow.accName);
      
      $("#searchacc-btn").click(function(){
    	  
    	  $.ajax({
    	 		url : "/bns/accList",
    	 		method : "GET",
    	 		dataType : "JSON",
    	 		success : function(result){
    	 			account_Grid.resetData(result);
    	 			account_Grid.refreshLayout();
    	 		}
    	 	});
    	 $('#accountListModal').modal('hide');
 
    	  
      })
    })   
    
    
</script>
    
<!-- 거래처리스트 모달 끝 -->

<!-- 제품 리스트 modal -->
<div class="modal fade bd-product-modal-lg" id = "productListModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1 class= "modaltitle">제품 목록</h1>
      
      <p>제품명 <input id="searchprod-text" type = "text"> <button type = "submit" id="searchprod" class="fa-solid fa-magnifying-glass"></button>
     
      <div id="productGrid"></div>
       <div class = "modalbtn"><button id="modalsubmit" data-toggle="modal" data-target=".bd-product-modal-lg">확인</button> <button>취소</button></div>
    </div>
  </div>
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script>
 	$.ajax({
 		url : "/bns/prodList",
 		method : "GET",
 		dataType : "JSON",
 		success : function(result){
 			product_Grid.resetData(result);
 			product_Grid.refreshLayout();
 		}
 	});
    var product_Grid = new tui.Grid({
      el: document.getElementById('productGrid'),
      scrollX: false,
      scrollY: false,
      rowHeaders: ['checkbox'],
      columns: [
        {
          header: '제품코드',
          name: 'prodCode'
        },
        {
          header: '제품명',
          name: 'prodName'
        }
    
      ]
    });
    $(function(){
    	$('#productListModal').on('shown.bs.modal', function(){
    		product_Grid.refreshLayout();
    	})
    })
    
    <!-- 제품조회검색 아작스 -->
    $("#searchprod").on('click', function(){
    	const result = $("#searchprod-text").val()
		$("#searchprod-text").val('');
    	
    	$.ajax({
    		 url : "/bns/prodKeyList",
    	     method : "GET",
    	     data : {'result' : result},
    	     success : function(result){
    	     product_Grid.resetData(result);
    	     product_Grid.refreshLayout();
    	     },
    	     error: function(reject){
    	    	 console.log(reject)
    	     }
  
    });
    })
    
        product_Grid.on('click', ev=> {
      console.log(ev.rowKey)
      console.log(ev.columns)

      const focusCell = product_Grid.getFocusedCell()
      console.log(focusCell)

      let dataRow = product_Grid.getRow(ev.rowKey);
      console.log(dataRow);

     
      $('#productlist-text').val(dataRow.prodName);
      
      $('#modalsubmit').click(function(){
    	  $('#productListModal').modal('hide');
    	  
    	  $.ajax({
     		 url : "/bns/prodList",
     	     method : "GET",
     	     dataType : "JSON",
     	     success : function(result){
     	     product_Grid.resetData(result);
     	     product_Grid.refreshLayout();
     	     }
     	     
   
     });
    	  
      })
    })  
    
</script>
<!-- 제품 리스트 모달 끝 -->

    






<!----------------------------------------------- -그리드시작-------------------------------------------- -->
<div id="grid"></div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script>
 	$.ajax({
 		url : "/bns/ordListAjax",
 		method : "GET",
 		dataType : "JSON",
 		success : function(result){
 			grid.resetData(result);
 		}
 	});
 	
 	
 	$("#searchOrd").on('click', function(){
 		let accName = $('#accountlist-text').val();
 		let prodName = $('#productlist-text').val();
 		let ordDate = ${'#orddate-text').val();
	    let ordDueDate = ${'#ordduedate-text').val(); 	
 		let data1 = {'accName':accName,'prodName':prodName,'ordDate':ordDate,'ordDueDate':ordDueDate};
 		
 		
 	$.ajax({
 		url : "/bns/ordListconAjax",
 		method : "GET",
 		data : data1,
 		dataType : "JSON",
 		success : function(result){
 			grid.resetData(result);
 		}
 	});
 	})
 	
 	
    var grid = new tui.Grid({
      el: document.getElementById('grid'),
      scrollX: false,
      scrollY: false,
      rowHeaders: ['checkbox'],
      columns: [
        {
          header: '주문코드',
          name: 'ordCode'
        },
        {
          header: '거래처코드',
          name: 'accCode'
        },
        {
          header: '거래처명',
          name: 'accName'
        },
        {
            header: '제품명',
            name: 'prodName'
          },
        {
          header: '주문일자',
          name: 'ordDate'
        },
        {
          header: '납기일자',
          name: 'ordDueDate'
        },
        {
            header: '진행상황',
            name: 'ordProgress'
          },
        {
            header: '담당자명',
            name: 'empName'
          },
        {
            header: '비고',
            name: 'ordNote'
          }
    
      ]
    });
    <!----------------------------------------- 그리드끝 ----------------------------------------->
    
    
    </script>
  
</div>
</body>
</html>