<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>
<meta charset="UTF-8">
<title>ordList</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/plugins/jquery/jquery.min.js"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<style>
.modaltitle {
	text-align: center;
}

.modalbtn {
	text-align: center;
}

.process {
	display: inline;
}

.container-fluid {
	text-align: left !important;
}

.ordbtn {
	float: right;
	margin-bottom: 1px;
}

.ordbtn button {
	margin-right: 2px;
}

.ordReg {
	margin-top: 30px;
}

.form-control {
	width: 150px;
}
</style>

</head>

<body>
	<div layout:fragment="title">
		<h1>주문서 관리</h1>
	</div>

	<div layout:fragment="content">
		<p>
			<button id="pageReset">초기화</button>
		</p>
		진행구분 <label class="process">진행 <input type="checkbox"
			checked="checked"> <span class="checkmark"></span>
		</label> <label class="process">완료 <input type="checkbox"> <span
			class="checkmark"></span>
		</label> <label class="process">전체 <input type="checkbox"> <span
			class="checkmark"></span>
		</label>
		<p>
			거래처명 <input type="text" id="accountlist-text"
				style="background-color: #e2e1e1" readonly>
			<button id="accountList" class="fa-solid fa-magnifying-glass"
				data-toggle="modal" data-target=".bd-account-modal-lg"></button>
		</p>
		<!-- <p>
			제품명 <input type="text" id="productlist-text"
				style="background-color: #e2e1e1">
			<button id="productList" class="fa-solid fa-magnifying-glass"
				data-toggle="modal" data-target=".bd-product-modal-lg"></button>
		</p> -->
		<p>
			주문일자 - 납기일자 <input type="date" id="orddate-text"><input
				type="date" id="ordduedate-text">
			<button id="searchOrd">조회</button>

		</p>
		<div class="ordbtn">
			<button type="button" class="btn btn-outline-secondary"
				data-toggle="modal" data-target=".bd-ordList-modal-lg">주문서
				등록</button>
			<button id="BtnOrdCancle" class="btn btn-outline-secondary">주문서
				취소</button>
		</div>

		<br>

		<!------------------------------ 본문 모달 ------------------------------------->
		<!-- 거래처리스트 모달 -->
		<div class="modal fade bd-account-modal-lg" id="accountListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">

				<div class="modal-content">
					<h1 class="modaltitle">거래처 목록</h1>
					<p>
						거래처명 <input type="text" id="searchacc-text">
						<button id="searchacc" type="submit"
							class="fa-solid fa-magnifying-glass"></button>
					<div id="accountGrid"></div>

					<div class="modalbtn">
						<button id="searchacc-btn" data-toggle="modal"
							data-target=".bd-account-modal-lg">확인</button>
						<button>취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 거래처리스트 모달 끝 -->
		<!-- 제품 리스트 모달 -->
		<div class="modal fade bd-product-modal-lg" id="productListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<h1 class="modaltitle">제품 목록</h1>

					<p>
						제품명 <input id="searchprod-text" type="text">
						<button type="submit" id="searchprod"
							class="fa-solid fa-magnifying-glass"></button>
					<div id="productGrid"></div>
					<div class="modalbtn">
						<button id="modalsubmit" data-toggle="modal"
							data-target=".bd-product-modal-lg">확인</button>
						<button>취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 제품 리스트 모달 끝 -->

		<!------------------------------ 본문 모달끝 ------------------------------------->
		<!-- 본문 조회 그리드 -->
		<div id="grid"></div>
		<!--------------------------- 주문서등록 modal --------------------------------------->
		<div id="modalProdReg" class="modal fade bd-ordList-modal-lg"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">주문서 등록</h1>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<br>

					<div class="registerform">
						<div class="productReginput" style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">주문코드
								</label> <input type="text" id="modalOrdCode" class="form-control"
									name="ordCode" value="" readonly>
							</div>
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">담당자명
								</label> <input type="text" id="ordempname" class="form-control"
									name="empName" th:value="${#authentication.principal.username}"
									readonly>
							</div>

							<input type="hidden" th:value="${userVO.empNum}" id="ordempnum"
								class="form-control" name="empCode" readonly>

							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">거래처명
									<button type="button" class="fa-solid fa-magnifying-glass"
										data-toggle="modal" data-target=".bd-smallaccount-modal-sm"></button>
								</label> <input id="ordaccname" type="text" class="form-control"
									name="accName" readonly>
							</div>
						</div>
						<div style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<!-- <label for="recipient-name" class="col-form-label">거래처코드 </label> -->
								<input type="hidden" id="ordacccode" class="form-control"
									name="accCode" readonly>
							</div>
						</div>
						<div style="display: flex;">
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">주문일자
								</label> <input id="modalOrdDate" type="text" class="form-control"
									name="ordDate" readonly placeholder="현재날짜">
							</div>
							<div style="float: left; margin-right: 10px">
								<label for="recipient-name" class="col-form-label">납기일자
								</label> <input id="modalOrdDueDate" type="date" class="form-control"
									name="ordDueDate">
							</div>
						</div>

						<input type="hidden" id="modalOrdNote" class="form-control"
							name="ordNote"></input> <br>
						<hr>
						<h2>주문상세</h2>
						<br> <label>제품리스트</label>
						<button type="button" class="fa-solid fa-magnifying-glass"
							data-toggle="modal" data-target=".bd-smallproduct-modal-sm"></button>
						<button style="float: right; margin-right: 5px;"
							id="ordProdDelete">삭제</button>
						<div id="addProdgrid"></div>
						<div class="modalbtn">
							<button id="ordregsubmit" type="submit" class="btn btn-primary">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</div>

					<!-- 주문서 등록내의 거래처리스트모달 -->
					<div class="modal fade bd-smallaccount-modal-sm"
						id="accountRegModal" tabindex="-1" role="dialog"
						aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<h2 class="modaltitle">거래처 목록</h2>
								<p>
									거래처명 <input id="searchaccreg-text" type="text">
									<button id="searchaccreg" class="fa-solid fa-magnifying-glass"></button>
								</p>
								<div id="accountRegGrid"></div>
								<div class="modalbtn">
									<button id="modalregsubmit" data-toggle="modal"
										data-target=".bd-smallaccount-modal-sm">확인</button>
									<button>취소</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 주문서 등록내의 거래처리스트모달 끝 -->

					<!-- 주문서 등록내의 제품리스트모달 -->
					<div class="modal fade bd-smallproduct-modal-sm"
						id="productRegModal" tabindex="-1" role="dialog"
						aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<h2 class="modaltitle">제품리스트</h2>
								<p>
									제품명 <input id="searchprodreg-text" type="text">
									<button id="searchprodreg" type="submit"
										class="fa-solid fa-magnifying-glass"></button>
								</p>
								<div id="productRegGrid"></div>
								<div class="modalbtn">
									<button id="modalsubmitbtn" data-toggle="modal"
										data-target=".bd-smallproduct-modal-sm" type="button">확인</button>
									<button>취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 주문서 등록내의 제품리스트 모달 끝 -->
		<!-- 주문서 등록 모달 끝 -->


		<!--------------------------- 주문서수정 modal --------------------------------------->
		<div id="modalProdMod" class="modal fade bd-ordList-modal-lg"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">주문서 수정</h1>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<br>
					<div class="modal-body">
						<div class="registerform">
							<div class="productReginput" style="display: flex;">
								<div style="float: left; margin-right: 10px">
									<label for="recipient-name" class="col-form-label">주문코드
									</label> <input type="text" id="modalOrdModCode" class="form-control"
										name="ordCodeMod" value="" readonly>
								</div>
								<div style="float: left; margin-right: 10px">
									<label for="recipient-name" class="col-form-label">담당자명
									</label> <input type="text" id="ordempname" class="form-control"
										name="empName"
										th:value="${#authentication.principal.username}" readonly>
								</div>

								<input type="hidden" th:value="${userVO.empNum}" id="ordempnum"
									class="form-control" name="empCode" readonly>

								<div style="float: left; margin-right: 10px">
									<label for="recipient-name" class="col-form-label">거래처명

									</label> <input id="ordaccModname" type="text" class="form-control"
										name="accNameMod" readonly>
								</div>
							</div>
							<div style="display: flex;">
								<div style="float: left; margin-right: 10px">
									<!-- <label for="recipient-name" class="col-form-label">거래처코드 </label> -->
									<input type="hidden" id="ordaccModcode" class="form-control"
										name="accCodeMod" readonly>
								</div>
							</div>
							<div style="display: flex;">
								<div style="float: left; margin-right: 10px">
									<label for="recipient-name" class="col-form-label">주문일자
									</label> <input id="modalModOrdDate" type="text" class="form-control"
										name="ordDateMod" readonly placeholder="현재날짜">
								</div>
								<div style="float: left; margin-right: 10px">
									<label for="recipient-name" class="col-form-label">납기일자
									</label> <input id="modalModOrdDueDate" type="date"
										class="form-control" name="ordDueDateMod">
								</div>
							</div>
							<label for="recipient-name" class="col-form-label">비고</label> <input
								id="modalModOrdNote" class="form-control" name="ordNote"></input>
							<br>
							<hr>
							<h2>주문상세</h2>
							<br> <label>제품리스트</label>
							<button type="button" class="fa-solid fa-magnifying-glass"
								data-toggle="modal" data-target=".bd-smallproductMod-modal-sm"></button>
							<button style="float: right; margin-right: 5px;"
								id="ordProdDelete2">삭제</button>
							<div id="modProdgrid"></div>
							<div class="modalbtn">
								<button id="ordmodsubmit" type="submit" class="btn btn-primary">수정</button>
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">취소</button>
							</div>
						</div>
					</div>

					<div class="modal fade bd-smallproductMod-modal-sm"
						id="productModModal" tabindex="-1" role="dialog"
						aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<h2 class="modaltitle">제품리스트</h2>
								<p>
									제품명 <input id="searchprodmod-text" type="text">
									<button id="searchprodmod" type="submit"
										class="fa-solid fa-magnifying-glass"></button>
								</p>
								<div id="productRegGrid2"></div>
								<div class="modalbtn">
									<button id="modalsubmitbtn2" data-toggle="modal"
										data-target=".bd-smallproductMod-modal-sm" type="button">확인</button>
									<button>취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 주문서 수정내의 제품리스트 모달 끝 -->
		<!-- 주문서 수정 모달 끝 -->


		<!--------------------------------------------------------- 스크립트 ------------------------------------------->
		<script>
		
		//초기화 버튼 클릭 시
		$('#pageReset').on('click',function(){
			
			$.ajax({
				url : "/bns/ordListAjax",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					grid.resetData(result);
				}
			});
			
		})
		
		
		
		const token = $('meta[name="_csrf"]').attr("content");
		const header = $('meta[name="_csrf_header"]').attr("content");
		
		
		$('#ordProdDelete').on('click' ,function(){
			
			addProdgrid.removeCheckedRows(true)
			
		});
		
		
		
		   //주문서 등록모달 내 제품추가 그리드생성
		 var addProdgrid = new tui.Grid({
             el: document.getElementById('addProdgrid'),
             scrollX: false,
             scrollY: false,
             rowHeaders: [
                 {
                   type: 'rowNum'
                 },
                 {
                   type: 'checkbox'
                   
                 }	
               ],
             columns: [
            	
               {
                 header: '제품명',
                 name: 'prodName'
               },
               {
                 header: '제품코드',
                 name: 'prodCode'
               },
               {
                 header: '주문량',
                 name: 'ordDetQuan',
                 editor:'text'
               },
               {
                   header: '단가',
                   name: 'ordDetPrice',
                   editor:'text'
                 },
               {
                 header: '주문금액',
                 name: 'ordDetTotPrice'
                 
               }
             ],
               summary: {
            	   height: 40,
            	    position: 'bottom',
             columnContent: {
            	 ordDetQuan: {
                   template: function(valueMap) {
                     return `TOTAL: ${valueMap.sum}`;
                   }
                 },
                 ordDetPrice: {
                   template: function(valueMap) {
                     return `AVERAGE: ${valueMap.avg}원`;
                   }
                 },
                 ordDetTotPrice: {
                     template: function(valueMap) {
                       return `TOTAL: ${valueMap.sum}원`;
                     }
                   }
               }
             }  
            	});
		   
		   //단가X주문량=주문금액 계산
          addProdgrid.on('editingFinish', function(ev){
       	  let row = addProdgrid.getRow(ev.rowKey);
       	  if((ev.columnName=="ordDetQuan" || ev.columnName=="ordDetPrice")&&row.ordDetQuan&&row.ordDetPrice){
       		  addProdgrid.setValue(ev.rowKey, "ordDetTotPrice", row.ordDetQuan*row.ordDetPrice, false)
       	  }
       	  
         }) 
         
         
         //주문서 등록 모달창의 등록 버튼클릭시
		$('#ordregsubmit').on('click' ,function(){
			let checked = addProdgrid.getCheckedRows();
			checked.forEach(ele=>{
				ele.ordCode = $('#modalOrdCode').val();
				ele.empName = $('#ordempname').val();
				ele.empNum = $('#ordempnum').val();
				ele.accName = $('#ordaccname').val();
				ele.accCode = $('#ordacccode').val();
				ele.ordDate = $('#modalOrdDate').val();
				ele.ordDueDate = $('#modalOrdDueDate').val();
				ele.ordNote = $('#modalOrdNote').val();
			})
			console.log(checked)
			
			//등록아작스
			$.ajax({
			url : "/bns/insertOrdList",
			method : "POST",
			contentType : "application/json",
			data : JSON.stringify({ list : checked}),
			dataType : "JSON",
			beforeSend: function (xhr) {
	            xhr.setRequestHeader(header, token);
	          },
			success : function(result){
				/* addProdgrid.resetData(result);
		        addProdgrid.refreshLayout(); */
		        
		   		//전체 조회페이지 아작스
		   		$.ajax({
					url : "/bns/ordListAjax",
					method : "GET",
					dataType : "JSON",
					success : function(result){
						grid.resetData(result);
					}
				});
		        
				}
			});
			
		   	$('#modalProdReg').modal('hide');
			
		   	
			})
		
			
         //주문서 등록 모달창 띄웠을때 제품추가 그리드 뜨게
		$(function(){
		   	$('#modalProdReg').on('shown.bs.modal', function(){
		   		addProdgrid.refreshLayout();
		   	})
		   })

//주문코드 자동입력				
      $.ajax({
   		url : "/bns/ordCode",
   		method : "GET",
   		dataType : "JSON",
   		success : function(result){
   			console.log(result);
   			$('input[name=ordCode]').attr('value',result[0].ordCode);
   			$('input[name=ordDate]').attr('value',result[0].ordDate);
   		}
   	});


//등록 모달창 안 거래처리스트 
$.ajax({
		url : "/bns/accList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			accountReg_Grid.resetData(result);
			accountReg_Grid.refreshLayout();
		}
	});
   var accountReg_Grid = new tui.Grid({
     el: document.getElementById('accountRegGrid'),
     scrollX: false,
     scrollY: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '거래처코드',
         name: 'accCode'
       },
       {
         header: '거래처명',
         name: 'accName'
       }
   
     ]
   });
   //그리드 먼저 나타내고 모달창
   $(function(){
   	$('#accountRegModal').on('shown.bs.modal', function(){
   		accountReg_Grid.refreshLayout();
   	})
   })
       $("#searchaccreg").on('click', function(){
   	const result = $("#searchaccreg-text").val()
		$("#searchaccreg-text").val('');
   	
   	$.ajax({
   		 url : "/bns/accKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     accountReg_Grid.resetData(result);
   	     accountReg_Grid.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
   });
   })
   accountReg_Grid.on('click', ev=> {
     
     const focusCell = accountReg_Grid.getFocusedCell()
    
     let dataRow = accountReg_Grid.getRow(ev.rowKey);
     
     $('#ordaccname').val(dataRow.accName);
     $('#ordacccode').val(dataRow.accCode);
     
     $('#modalregsubmit').click(function(){
   	  
   	  $.ajax({
 	 		url : "/bns/accList",
 	 		method : "GET",
 	 		dataType : "JSON",
 	 		success : function(result){
 	 			accountReg_Grid.resetData(result);
 	 			accountReg_Grid.refreshLayout();
 	 		}
 	 	});
   	  
   	  $('#accountRegModal').modal('hide');
     })
   })   
   
//등록 모달창 안 제품리스트
$.ajax({
		url : "/bns/prodList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			productReg_Grid.resetData(result);
			productReg_Grid.refreshLayout();
			productReg_Grid2.resetData(result);
			productReg_Grid2.refreshLayout();

		}
	});
   
   var productReg_Grid = new tui.Grid({
     el: document.getElementById('productRegGrid'),
     scrollX: false,
     scrollY: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '제품코드',
         name: 'prodCode'
       },
       {
         header: '제품명',
         name: 'prodName'
       }
     ]
   });
   
   var productReg_Grid2 = new tui.Grid({
	     el: document.getElementById('productRegGrid2'),
	     scrollX: false,
	     scrollY: false,
	     rowHeaders: ['rowNum'],
	     columns: [
	       {
	         header: '제품코드',
	         name: 'prodCode'
	       },
	       {
	         header: '제품명',
	         name: 'prodName'
	       }
	     ]
	   });
   
   $(function(){
   	$('#productRegModal').on('shown.bs.modal', function(){
   		productReg_Grid.refreshLayout();
   	})
   })
   
    $(function(){
   	$('#productModModal').on('shown.bs.modal', function(){
   		productReg_Grid2.refreshLayout();
   	})
   })
   
   
       $("#searchprodreg").on('click', function(){
   	const result = $("#searchprodreg-text").val()
		$("#searchprodreg-text").val('');
   	
   	
   	
   	$.ajax({
   		 url : "/bns/prodKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     productReg_Grid.resetData(result);
   	     productReg_Grid.refreshLayout();
   	  productReg_Grid2.resetData(result);
	     productReg_Grid2.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
 
   });
   })
   
   productReg_Grid.on('click', ev=> {
     const focusCell = productReg_Grid.getFocusedCell()

     let dataRow = productReg_Grid.getRow(ev.rowKey);
     delete dataRow.rowKey;

   	addProdgrid.appendRow(dataRow,{
 		  focus:true
 	  });
     $('#ordprodname').val(dataRow.prodName);
     $('#ordprodcode').val(dataRow.prodCode);
     
     $('#modalsubmitbtn').click(function(){
   
   	  $.ajax({
   	 		url : "/bns/prodList",
   	 		method : "GET",
   	 		dataType : "JSON",
   	 		success : function(result){
   	 			productReg_Grid.resetData(result);
   	 			productReg_Grid.refreshLayout();
   	 		}
   	 	});
   	  
   	  $('#productRegModal').modal('hide');
   	})
     })
     
      productReg_Grid2.on('click', ev=> {
    	  console.log(ev);
     let dataRow = productReg_Grid2.getRow(ev.rowKey);
	console.log(dataRow)
     delete dataRow.rowKey;
   	modProdgrid.appendRow(dataRow,{
 		  focus:true
 	  });
     
     $('#modalsubmitbtn2').click(function(){
   
   	  $.ajax({
   	 		url : "/bns/prodList",
   	 		method : "GET",
   	 		dataType : "JSON",
   	 		success : function(result){
   	 			productReg_Grid2.resetData(result);
   	 			productReg_Grid2.refreshLayout();
   	 		}
   	 	});
   	  
   	  $('#productModModal').modal('hide');
   	})
     })



//거래처 리스트
$.ajax({
		url : "/bns/accList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			account_Grid.resetData(result);
			account_Grid.refreshLayout();
		}
	});
   
 //본문 내 거래처리스트 그리드 생성
   var account_Grid = new tui.Grid({
     el: document.getElementById('accountGrid'),
     scrollX: false,
     scrollY: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '거래처코드',
         name: 'accCode'
       },
       {
         header: '거래처명',
         name: 'accName'
       }
   
     ]
   });
   
 //본문 내 거래처 리스트 그리드 뜨고 모달창뜨게
   $(function(){
   	$('#accountListModal').on('shown.bs.modal', function(){
   		account_Grid.refreshLayout();
   	})
   })
   
   //본문 내 거래처 리스트 내 버튼클릭 시 
   $("#searchacc").on('click', function(){
   	const result = $("#searchacc-text").val()
		$("#searchacc-text").val('');
   	
   	
  //거래처 리스트 검색 아작스
   	$.ajax({
   		 url : "/bns/accKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     account_Grid.resetData(result);
   	     account_Grid.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
 
   });
   })
   
   //거래처 리스트 그리드 클릭 시 
   account_Grid.on('click', ev=> {
    

     const focusCell = account_Grid.getFocusedCell()

     let dataRow = account_Grid.getRow(ev.rowKey);

     $('#accountlist-text').val(dataRow.accName);
     
     $("#searchacc-btn").click(function(){
   	  
   	  $.ajax({
   	 		url : "/bns/accList",
   	 		method : "GET",
   	 		dataType : "JSON",
   	 		success : function(result){
   	 			account_Grid.resetData(result);
   	 			account_Grid.refreshLayout();
   	 		}
   	 	});
   	 $('#accountListModal').modal('hide');

   	  
     })
   })   

//제품명 리스트
$.ajax({
		url : "/bns/prodList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			product_Grid.resetData(result);
			product_Grid.refreshLayout();
		}
	});
   var product_Grid = new tui.Grid({
     el: document.getElementById('productGrid'),
     scrollX: false,
     scrollY: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '제품코드',
         name: 'prodCode'
       },
       {
         header: '제품명',
         name: 'prodName'
       }
   
     ]
   });
   $(function(){
   	$('#productListModal').on('shown.bs.modal', function(){
   		product_Grid.refreshLayout();
   	})
   })
   
   <!-- 제품조회검색 아작스 -->
   $("#searchprod").on('click', function(){
   	const result = $("#searchprod-text").val()
		$("#searchprod-text").val('');
   	
   	$.ajax({
   		 url : "/bns/prodKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     product_Grid.resetData(result);
   	     product_Grid.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
 
   });
   })
   
       product_Grid.on('click', ev=> {
     console.log(ev.rowKey)
     console.log(ev.columns)

     const focusCell = product_Grid.getFocusedCell()
     console.log(focusCell)

     let dataRow = product_Grid.getRow(ev.rowKey);
     console.log(dataRow);

    
     $('#productlist-text').val(dataRow.prodName);
     
     $('#modalsubmit').click(function(){
   	  $('#productListModal').modal('hide');
   	  
   	  $.ajax({
    		 url : "/bns/prodList",
    	     method : "GET",
    	     dataType : "JSON",
    	     success : function(result){
    	     product_Grid.resetData(result);
    	     product_Grid.refreshLayout();
    	     }
    	     
  
    });
   	  
     })
   })  






//주문서 조건검색
$.ajax({
		url : "/bns/ordListAjax",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			grid.resetData(result);
		}
	});
	
	
	$("#searchOrd").on('click', function(){
		let accName = $('#accountlist-text').val();
		let prodName = $('#productlist-text').val();
		let ordDate = $('#orddate-text').val();
	    let ordDueDate = $('#ordduedate-text').val(); 	
		let data1 = {'accName':accName,'prodName':prodName,'ordDate':ordDate,'ordDueDate':ordDueDate};
		
		
	$.ajax({
		url : "/bns/ordListconAjax",
		method : "GET",
		data : data1,
		dataType : "JSON",
		success : function(result){
			grid.resetData(result);
		}
	});
	})
	
	
   var grid = new tui.Grid({
	   bodyHeight : 400,
     el: document.getElementById('grid'),
     scrollX: false,
     rowHeaders: [
         {
           type: 'rowNum'
         },
         {
           type: 'checkbox'
           
         }	
       ],
     columns: [
       {
         header: '주문코드',
         name: 'ordCode'
       },
       {
         header: '거래처코드',
         name: 'accCode'
       },
       {
         header: '거래처명',
         name: 'accName',
         sortable: true,
         filter: 'select'
       },
       {
         header: '주문일자',
         name: 'ordDate',
         sortable: true
       },
       {
         header: '납기일자',
         name: 'ordDueDate',
         sortable: true	
       },
       {
           header: '진행상황',
           name: 'ordProgress',
           filter: 'select'
         },
       {
           header: '담당자명',
           name: 'empName'
         },
       {
           header: '비고',
           name: 'ordNote'
         }
   
     ]
   });
	
	
	
	
	
 	grid.on('dblclick', (ev) => {
	if(ev.columnName == 'ordCode'){
		$('#modalProdMod').modal('show');
		
		let row = grid.getRow(ev.rowKey)
		
		$('input[name=ordCodeMod]').attr('value',row.ordCode);
		$('input[name=accNameMod]').attr('value',row.accName);
		$('input[name=ordDateMod]').attr('value',row.ordDate);
		$('input[name=ordDueDateMod]').attr('value',row.ordDueDate);
		$('input[name=ordNote]').attr('value',row.ordNote);
	/* 	console.log(row.ordCode);
		console.log(row.accCode);
		console.log(row.accName);
		console.log(row.prodName);
		console.log(row.ordDate);
		console.log(row.ordDueDate);
		console.log(row.ordProgress);
		console.log(row.empName);
		console.log(row.ordNote); */
		
		$.ajax({
			url : "/bns/prodListModAjax",
			method : "GET",
			data : {result : row.ordCode},
			dataType : "JSON",
			success : function(result){
				modProdgrid.resetData(result);
			}
		});
	}
		})
 	
	
			//수정모달창의 제품그리드
		 var modProdgrid = new tui.Grid({
			 bodyHeight : 200,
             el: document.getElementById('modProdgrid'),
             scrollX: false,
             
             rowHeaders: [
                 {type: 'rowNum',},
                 { type: 'checkbox'}	
               			],
             columns: [
            	
               {
                 header: '제품명',
                 name: 'prodName'
                 
               },
               {
                 header: '제품코드',
                 name: 'prodCode'
               },
               {
                 header: '주문량',
                 name: 'ordDetQuan',
                 editor:'text'
               },
               {
                   header: '단가',
                   name: 'ordDetPrice',
                   editor:'text'
                 },
               {
                 header: '주문금액',
                 name: 'ordDetTotPrice'
               }
             ],
               summary: {
            	   height: 40,
            	    position: 'bottom',
             columnContent: {
            	 ordDetQuan: {
                   template: function(valueMap) {
                     return `TOTAL: ${valueMap.sum}`;
                   }
                 },
                 ordDetPrice: {
                   template: function(valueMap) {
                     return `AVERAGE: ${valueMap.avg}원`;
                   }
                 },
                 ordDetTotPrice: {
                     template: function(valueMap) {
                       return `TOTAL: ${valueMap.sum}원`;
                     }
                   }
               }
             }  
            	});
 	
 	
 	
		 //총 주문금액 계산
          modProdgrid.on('editingFinish', function(ev){
       	  let row = modProdgrid.getRow(ev.rowKey);
       	  if((ev.columnName=="ordDetQuan" || ev.columnName=="ordDetPrice")&&row.ordDetQuan&&row.ordDetPrice){
       		  modProdgrid.setValue(ev.rowKey, "ordDetTotPrice", row.ordDetQuan*row.ordDetPrice, false)
       	  }
       	  
         }) 
         
         
         //주문수정 모달창의 삭제 버튼 눌렀을 때
         $('#ordProdDelete2').on('click',function(){
			modProdgrid.removeCheckedRows(true)
			let deleted = modProdgrid.getModifiedRows().deletedRows;
			
			console.log(deleted)
        	 
			if(deleted.length>0){
				
				$.ajax({
					url : "/bns/delOrdDetList",
					method : "POST",
					contentType : "application/json",
					data : JSON.stringify({ list : deleted}),
					dataType : "JSON",
					beforeSend: function (xhr) {
			            xhr.setRequestHeader(header, token);
			          },
					success : function(result){
						modProdgrid.resetData(result);
				        modProdgrid.refreshLayout();
					}
					});
			}
        	 
        	 
         })
         
        
         //수정버튼 눌렀을 때
		$('#ordmodsubmit').on('click' ,function(){
			let checked = modProdgrid.getCheckedRows();
			let modified = modProdgrid.getModifiedRows();
			console.log(modified)
			let none = modified.updatedRows.length+modified.createdRows.length+modified.deletedRows.length == 0;
			
			console.log(none)
			if(none){
				alert('수정된 항목이 없습니다.');
			}else{
			checked.forEach(ele=>{
				ele.ordCode = $('#modalOrdModCode').val();
				ele.empName = $('#ordempname').val();
				ele.empNum = $('#ordempnum').val();
				ele.accName = $('#ordaccname').val();
				ele.accCode = $('#ordacccode').val();
				ele.ordDate = $('#modalModOrdDate').val();
				ele.ordDueDate = $('#modalModOrdDueDate').val();
				ele.ordNote = $('#modalModOrdNote').val();
			})
			console.log(checked)
			
			$.ajax({
			url : "/bns/modOrdList",
			method : "POST",
			contentType : "application/json",
			data : JSON.stringify({ list : checked}),
			dataType : "JSON",
			beforeSend: function (xhr) {
	            xhr.setRequestHeader(header, token);
	          },
			success : function(result){
				modProdgrid.resetData(result);
		        modProdgrid.refreshLayout();
			}
			});
			
		   	$('#modalProdMod').modal('hide');
		   	
			}
			})
		
			
         //모달 띄우고 그리드 보여줄 때
		$(function(){
		   	$('#modalProdMod').on('shown.bs.modal', function(){
		   		modProdgrid.refreshLayout();
		   	})
		   })
		  
		
		
		/* console.log(ev)
	      const focusCell = grid.getFocusedCell()
	      console.log(focusCell)

	      let dataRow = grid.getRow(ev.rowKey);
	      console.log(dataRow); */
	
	
    </script>


	</div>
</body>
</html>