<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="/plugins/jquery/jquery.min.js"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<style>
.container-fluid {
	text-align: left !important;
}
</style>
</head>
<body>
<div layout:fragment="title">
		<h1>출고 관리</h1>
	</div>
	<div layout:fragment="content">
	<h2 id="nowCont">계약현황</h2>
	<h2 id="nowOrd" style="display: none">주문현황</h2>
	<input type="radio" name="type" id="contractBtn" value="contract" checked> 계약서
	<input style ="margin-left : 10px;"type="radio" name="type" id="orderBtn" value="order"> 주문서
	<div id="beforeReleaseContGrid"></div>
	<div id="beforeReleaseOrdGrid" style="display: none"></div>
	<br>
	<h2>출고등록</h2>
	<button style="float:right;">출고 등록</button>
	<div id="afterReleaseGrid"></div>
	<script>
	
		//출고전 계약서 그리드
		 $.ajax({
				url : "/bns/beforeReleaseContListAjax",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					beforeReleaseContGrid.resetData(result);
				}
			});
	 var beforeReleaseContGrid = new tui.Grid({
		 bodyHeight : 200,
	     el: document.getElementById('beforeReleaseContGrid'),
	     scrollX: false,
	     rowHeaders: [{type:'rowNum'}],
	     columns: [
	       {
	         header: '계약상세코드',
	         name: 'contDetCode'
	       },
	       {
	         header: '계약코드',
	         name: 'contCode'
	       },
	       {
	         header: '거래처명',
	         name: 'accName'
	       },
	       {
	         header: '제품코드',
	         name: 'prodCode'
		    },
	       {
	         header: '제품명',
	         name: 'prodName'
		    },
	       {
	         header: '주문량',
	         name: 'contDetQuan'
	       },
	       {
	         header: '납기일자',
	         name: 'contDetRelease'
	       }
	     ]
	   });
	 
	 //출고전 주문서그리드
	 $.ajax({
			url : "/bns/beforeReleaseOrdListAjax",
			method : "GET",
			dataType : "JSON",
			success : function(result){
				beforeReleaseOrdGrid.resetData(result);
			}
		});
	var beforeReleaseOrdGrid = new tui.Grid({
		bodyHeight : 200,
	     el: document.getElementById('beforeReleaseOrdGrid'),
	     scrollX: false,
	     rowHeaders: [{type:'rowNum'}],
	     columns: [
	       {
	         header: '주문상세코드',
	         name: 'ordDetCode'
	       },
	       {
	         header: '주문코드',
	         name: 'ordCode'
	       },
	       {
	         header: '거래처명',
	         name: 'accName'
	       },
	       {
	         header: '제품코드',
	         name: 'prodCode'
		    },
	       {
	         header: '제품명',
	         name: 'prodName'
		    },
	       {
	         header: '주문량',
	         name: 'ordDetQuan'
	       },
	       {
	         header: '납기일자',
	         name: 'ordDueDate'
	       }
	     ]
	   });
		
	//출고등록 LOT리스트 그리드
	   var afterReleaseGrid = new tui.Grid({
		   bodyHeight : 200,
		     el: document.getElementById('afterReleaseGrid'),
		     scrollX: false,
		     rowHeaders: [{type: 'checkbox'},{type:'rowNum'}],
		     columns: [
		       {
		         header: '완제품LOT번호',
		         name: 'prdtLot'
		       },
		       {
		         header: '완제품명',
		         name: 'prdtNm'
		       },
			    {
		         header: '재고량',
		         name: 'bnsStoreQuan'
			    },
			    {
		         header: '출고량',
		         name: 'bnsReleaseQuan',
		         editor: 'text'
			    },
			    {
		         header: '입고일자',
		         name: 'bnsStoreDate'
		       },
		       {
		         header: '출고일자',
		         name: 'sys'
		       },
		       {
		         header: '입고 담당자명',
		         name: 'empName'
		       },
		       {
		         header: '비고',
		         name: 'bnsReleaseNote',
		         editor: 'text'
		       }
		     ]
		   });
	   //라디오 버튼 클릭시 그리드 변경
	      let grid = beforeReleaseContGrid;
          $("input[name=type]").on("change", (e) => {
			let radioVal = $("input[name=type]:checked").val();
			let beforeReleaseCont = $("#beforeReleaseContGrid");
            let beforeReleaseOrd = $("#beforeReleaseOrdGrid");
            let nowCont = $("#nowCont");
            let nowOrd = $("#nowOrd");
			if (radioVal == "contract") {
                grid = beforeReleaseContGrid;
                nowOrd.hide();
               beforeReleaseOrd.hide();
               nowCont.show();
               beforeReleaseCont.show();
                grid.refreshLayout();
              } else if (radioVal == "order") {
                grid = beforeReleaseOrdGrid;
                nowOrd.show();
                nowCont.hide();
                beforeReleaseCont.hide();
                beforeReleaseOrd.show();
                grid.refreshLayout();
              } 
			
					//afterReleaseGrid 초기화
          })
          
          //계약상황 첫번째 열 더블클릭 시 밑의 그리드로 정보 이동
           beforeReleaseContGrid.on('dblclick', ev=> {
         	  if(ev.columnName == 'contDetCode'){
        			let row = beforeReleaseContGrid.getRow(ev.rowKey);
        			console.log(row.prodCode);
        			 $.ajax({
        					url : "/bns/LotReleaseListAjax",
        					method : "GET",
        					data : {result : row.prodCode},
        					dataType : "JSON",
        					success : function(result){
        						afterReleaseGrid.resetData(result);
        					}
        				});
          } 
          }) 
          
          //주문상황 첫번째 열 더블클릭 시 밑의 그리드로 정보 이동
           beforeReleaseOrdGrid.on('dblclick', ev=> {
         	  if(ev.columnName == 'ordDetCode'){
        			let row = beforeReleaseOrdGrid.getRow(ev.rowKey);
        			console.log(row.prodCode);
        			 $.ajax({
        					url : "/bns/LotReleaseListAjax",
        					method : "GET",
        					data : {result : row.prodCode},
        					dataType : "JSON",
        					success : function(result){
        						afterReleaseGrid.resetData(result);
        					}
        				});
          } 
          }) 
           
           
	</script>
	</div>
</body>
</html>