<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js"
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="/plugins/jquery/jquery.min.js"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<style>
 .container-fluid {
	text-align: left !important;
} 
.modaltitle {
	text-align: center;
}

.modalbtn {
	text-align: center;
}
.modal-content{
text-align:center;
}

.tui-grid-cell.cell-red{
background-color : #ffe4e4;
}
.form-control {
	width: 150px;
}
input.form-control{
display:inline-block;
}
.modaltitle {
	text-align: center;
}

.modalbtn {
	text-align: center;
}
</style>
</head>
<body>
<div layout:fragment="title">
		<h1>출고 관리</h1>
	</div>
	<div layout:fragment="content">
	<h5 id="nowCont" class="font-weight-bold">계약건 출고대기현황</h5>
	<h5 id="nowOrd" class="font-weight-bold" style="display: none">주문건 출고대기현황</h5>
	<input type="radio" name="type" id="contractBtn" value="contract" checked> <label for="contractBtn">계약서</label>
	<input style ="margin-left : 10px;"type="radio" name="type" id="orderBtn" value="order"> <label for="orderBtn">주문서</label>
	<!-- <span style="float:right; margin-right:30px;" >납기기한이 5일이내 일 경우 : 빨간색</span> -->
	
	<!-- 계약건 조건검색폼 -->
	<form id="searchform">
	<div class="row">
	<div class= "col-3">
	<label>제품명</label> <input  class="form-control" type="text" id="productlist-text"
				style="background-color: #e2e1e1; width:230px" name="prodName" readonly>
		 <button style="height:38px;margin-bottom:3px" type="button" id="productList" class="fa-solid fa-magnifying-glass btn btn-primary" data-toggle="modal" data-target=".bd-product-modal-lg"></button>
	</div>
	<div class= "col-3">
	<label>계약코드</label> <input class="form-control" type="text" id="contCodeList-text"
				style="background-color: #e2e1e1; width:230px" name="contCode" readonly>
		 <button style="height:38px;margin-bottom:3px" type="button" id="contCodeList" class="fa-solid fa-magnifying-glass btn btn-primary" data-toggle="modal" data-target=".bd-contCode-modal-lg"></button>
	</div>
	<div class= "col-3">
	<label>납기일자</label> <input class="form-control" type="date" id="contDetRelease-text" name="contDetRelease"> - <input class="form-control" type="date" id="contDetRelease1-text" name="contDetRelease1">
	</div>
	<div class= "col-3 row justify-content-end" style="padding-bottom:10px;">
	<button style="width:80px; margin-right:10px;"type="button" id="releaseList"class="btn btn-primary">조회</button>
	<button style="width:80px;" type="reset"  id="pageReset"  class="btn btn-primary">초기화</button>
	</div>
	</div>
	</form>
	<!-- 주문건 조건검색폼 -->
	<form id="searchform1" style="display:none">
	<div class="row">
	<div class= "col-3">
	<label>제품명</label> <input class="form-control" type="text" id="productlist-text1"
				style="background-color: #e2e1e1; width:230px" name="prodName" readonly>
		 <button style="height:38px;margin-bottom:3px" type="button" id="productList1" class="fa-solid fa-magnifying-glass btn btn-primary" data-toggle="modal" data-target=".bd-product1-modal-lg"></button>
	</div>
	<div class= "col-3">
	<label>주문코드</label> <input class="form-control" type="text" id="ordCode-text"
				style="background-color: #e2e1e1; width:230px" name="ordCode" readonly>
		 <button style="height:38px;margin-bottom:3px" type="button" id="ordCodeList" class="fa-solid fa-magnifying-glass btn btn-primary" data-toggle="modal" data-target=".bd-ordCode-modal-lg"></button>
	</div>
	<div class= "col-3">
	<label>납기일자</label> <input class="form-control" type="date" id="ordDetRelease-text" name="ordDueDate"> - <input class="form-control" type="date" id="ordDetRelease1-text" name="ordDueDate1">
	</div>
	<div class= "col-3 row justify-content-end" style="padding-bottom:10px;">
	<button  type="button" style="width:80px; margin-right:10px;" id="releaseList1" class="btn btn-primary">조회</button>
	<button style="width:80px;" type="reset"  id="pageReset"  class="btn btn-primary">초기화</button>
	</div>
	</div>
	</form>
	<!-- 계약상세건 -->
	<div id="beforeReleaseContGrid"></div>
	<!-- 주문상세건 -->
	<div id="beforeReleaseOrdGrid" style="display: none"></div>
	<br>
	<h5 class="font-weight-bold" >출고등록</h5>
	<button id="releaseRegBtn" style="float:right ; margin-bottom:10px;" class="btn btn-primary">출고 등록</button>
	<div id="afterReleaseGrid"></div>
	
	<!-- 제품명 모달 -->
	<div class="modal fade bd-product-modal-lg" id="productListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="p-3 modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle"></h1>
					<p>
						<label>제품명</label> <input id="searchprod-text" type="text">
						<button type="button" id="searchprod"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="productGrid"></div>
					<div class="modalbtn">
						<button type="button" class="btn btn-primary" id="modalsubmit" data-toggle="modal"
							data-target=".bd-product-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 제품명 모달 끝 -->
		<!-- 제품명 모달1 -->
	<div class="modal fade bd-product1-modal-lg" id="productListModal1"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="p-3 modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle">제품 목록</h1>
					<p>
						제품명 <input id="searchprod-text1" type="text">
						<button type="button" id="searchprod1"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="productGrid1" ></div>
					<div class="modalbtn">
						<button type="button" class="btn btn-primary" id="modalsubmit1" data-toggle="modal"
							data-target=".bd-product1-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 제품명 모달1 끝 -->
		<!-- 계약코드 모달 -->
	<div class="modal fade bd-contCode-modal-lg" id="contCodeListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="p-3 modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle"></h1>
					<p>
						<label>계약코드</label> <input id="searchcontCode-text" type="text">
						<button type="button" id="searchcontCode"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="contCodeGrid"></div>
					<div class="modalbtn">
						<button type="button" class="btn btn-primary" id="modalsubmit3" data-toggle="modal"
							data-target=".bd-contCode-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 계약코드 모달 끝 -->
		<!-- 주문코드 모달 -->
	<div class="modal fade bd-ordCode-modal-lg" id="ordCodeListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="p-3 modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle"></h1>
					<p>
						<label>주문코드</label> <input id="searchordCode-text" type="text">
						<button type="button" id="searchordCode"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="ordCodeGrid"></div>
					<div class="modalbtn">
						<button type="button" class="btn btn-primary" id="modalsubmit4" data-toggle="modal"
							data-target=".bd-ordCode-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 주문코드 모달 끝 -->
	
	
	
	<script>
	
	const token = $('meta[name="_csrf"]').attr("content");
	const header = $('meta[name="_csrf_header"]').attr("content");
	
		//출고전 계약서 그리드
		 $.ajax({
				url : "/bns/beforeReleaseContListAjax",
				method : "GET",
				dataType : "JSON",
				success : function(result){
					beforeReleaseContGrid.resetData(result);
					//현재날짜
					beforeReleaseContGrid.getData().forEach((ele, index)=>{
					 let today = new Date(); 
					 let releaseDay = new Date(ele.contDetRelease);
					 let diffDay = releaseDay.getTime() - today.getTime();
					 let diffDays = Math.ceil(diffDay / (1000 * 3600 * 24));
					 console.log(diffDays)
					 	if(diffDays<=5){
						beforeReleaseContGrid.addCellClassName(index,'contDetCode','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'contCode','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'accName','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'prodCode','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'prodName','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'contDetQuan','cell-red');
						beforeReleaseContGrid.addCellClassName(index,'contDetRelease','cell-red');
					 	}
					})
				}
			});
		
	 var beforeReleaseContGrid = new tui.Grid({
		 bodyHeight : 200,
	     el: document.getElementById('beforeReleaseContGrid'),
	     scrollX: false,
	     pageOptions: {
	  	    useClient: true,	// front에서만 페이징 하는 속성
	  	    perPage: 10
	  	  },
	     rowHeaders: [{type:'rowNum'}],
	     columns: [
	       {
	         header: '계약상세코드',
	         name: 'contDetCode',
	         sortable: true
	       },
	       {
	         header: '계약코드',
	         name: 'contCode',
	         sortable: true
	       },
	       {
	         header: '거래처명',
	         name: 'accName',
	         sortable: true,
	         filter: 'select'
	       },
	       {
	         header: '제품코드',
	         name: 'prodCode',
	         sortable: true,
	         filter: 'select'
		    },
	       {
	         header: '제품명',
	         name: 'prodName'
		    },
	       {
	         header: '총주문량',
	         name: 'contDetQuan'
	       },
	       {
	         header: '납기일자',
	         name: 'contDetRelease',
	         sortable: true
	       }
	     ]
	   });
	 
	 //출고전 주문서그리드
	 $.ajax({
			url : "/bns/beforeReleaseOrdListAjax",
			method : "GET",
			dataType : "JSON",
			success : function(result){
				beforeReleaseOrdGrid.resetData(result);
				
				beforeReleaseOrdGrid.getData().forEach((ele, index)=>{
					 let today = new Date(); 
					 let releaseDay = new Date(ele.ordDueDate);
					 let diffDay = releaseDay.getTime() - today.getTime();
					 let diffDays = Math.ceil(diffDay / (1000 * 3600 * 24));
					 console.log(diffDays)
					 	if(diffDays<=5){
					 		beforeReleaseOrdGrid.addCellClassName(index,'ordDetCode','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'ordCode','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'accName','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'prodCode','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'prodName','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'ordDetQuan','cell-red');
					 		beforeReleaseOrdGrid.addCellClassName(index,'ordDueDate','cell-red');
					 	}
					})
			}
		});
	var beforeReleaseOrdGrid = new tui.Grid({
		bodyHeight : 200,
	     el: document.getElementById('beforeReleaseOrdGrid'),
	     scrollX: false,
	     pageOptions: {
	  	    useClient: true,	// front에서만 페이징 하는 속성
	  	    perPage: 10
	  	  },
	     rowHeaders: [{type:'rowNum'}],
	     columns: [
	       {
	         header: '주문상세코드',
	         name: 'ordDetCode'
	       },
	       {
	         header: '주문코드',
	         name: 'ordCode'
	       },
	       {
	         header: '거래처명',
	         name: 'accName'
	       },
	       {
	         header: '제품코드',
	         name: 'prodCode'
		    },
	       {
	         header: '제품명',
	         name: 'prodName'
		    },
	       {
	         header: '주문량',
	         name: 'ordDetQuan'
	       },
	       {
	         header: '납기일자',
	         name: 'ordDueDate'
	       }
	     ]
	   });
		
	//출고등록 LOT리스트 그리드
	   var afterReleaseGrid = new tui.Grid({
		   bodyHeight : 100,
		     el: document.getElementById('afterReleaseGrid'),
		     scrollX: false,
		     /* pageOptions: {
		  	    useClient: true,	// front에서만 페이징 하는 속성
		  	    perPage: 10
		  	  }, */
		     rowHeaders: [{type: 'checkbox'},{type:'rowNum'}],
		     columns: [
		       {
		         header: '완제품LOT번호',
		         name: 'prdtLot'
		       },
		       {
		         header: '완제품명',
		         name: 'prdtNm'
		       },
			    {
		         header: '재고량',
		         name: 'cnt'
			    },
			    {
		         header: '출고량',
		         name: 'bnsReleaseQuan',
		         editor: 'text'
			    },
			    {
		         header: '입고일자',
		         name: 'bnsStoreDate'
		       },
		       {
		         header: '출고일자',
		         name: 'sys',
		         hidden:true
		       },
		       {
		         header: '입고 담당자명',
		         name: 'empName',
		         hidden:true
		       },
		       {
		         header: '비고',
		         name: 'bnsReleaseNote',
		         editor: 'text'
		       }
		       ],summary:{
		    	   height:50,
		    	   position:'bottom'
		       }
		   });
	   //라디오 버튼 클릭시 그리드 변경
	      let grid = beforeReleaseContGrid;
          $("input[name=type]").on("change", (e) => {
			let radioVal = $("input[name=type]:checked").val();
			let beforeReleaseCont = $("#beforeReleaseContGrid");
            let beforeReleaseOrd = $("#beforeReleaseOrdGrid");
            let nowCont = $("#nowCont");
            let nowOrd = $("#nowOrd");
            let searchform = $("#searchform");
            let searchform1 = $("#searchform1");
			if (radioVal == "contract") {
                grid = beforeReleaseContGrid;
               nowCont.show();
               beforeReleaseCont.show();
               searchform.show();
                nowOrd.hide();
               beforeReleaseOrd.hide();
               searchform1.hide();
                grid.refreshLayout();
                
              } else if (radioVal == "order") {
                grid = beforeReleaseOrdGrid;
                nowOrd.show();
                beforeReleaseOrd.show();
                searchform1.show();
                nowCont.hide();
                beforeReleaseCont.hide();
                searchform.hide();
                grid.refreshLayout();
                
              } 
			
					//afterReleaseGrid 초기화
          })
          
          let targetRow;
          //계약상황 첫번째 열 클릭 시 밑의 그리드로 정보 이동
           beforeReleaseContGrid.on('click', ev=> {
         	  if(ev.columnName == 'contDetCode'){
        			let row = beforeReleaseContGrid.getRow(ev.rowKey);
        			
        			targetRow = row;
        			console.log(targetRow);
        			afterReleaseGrid.setSummaryColumnContent('bnsReleaseQuan', {
        				  template(summary) {
        				    return '출고 필요량 : ' + targetRow.contReqQuan + '<br>출고량 : ' + summary.sum;
        				  }
        				});
        			console.log(row);
        			lotReleaseList();
        			 
          } 
          })
          
          function lotReleaseList(){
        	   $.ajax({
					url : "/bns/LotReleaseListAjax",
					method : "GET",
					data : {result : targetRow.prodCode},
					dataType : "JSON",
					success : function(result){
						afterReleaseGrid.resetData(result);
					}
				});
          }
          
          //주문상황 첫번째 열 클릭 시 밑의 그리드로 정보 이동
           beforeReleaseOrdGrid.on('click', ev=> {
         	  if(ev.columnName == 'ordDetCode'){
        			let row = beforeReleaseOrdGrid.getRow(ev.rowKey);
					
        			targetRow = row;
        			
        			afterReleaseGrid.setSummaryColumnContent('bnsReleaseQuan', {
        				  template(summary) {
        				    return '출고 필요량 : ' + targetRow.ordReqQuan + '<br>출고량 : ' + summary.sum;
        				    
        				  }
        				});
        			console.log(row.prodCode);
        			 $.ajax({
        					url : "/bns/LotReleaseListAjax",
        					method : "GET",
        					data : {result : row.prodCode},
        					dataType : "JSON",
        					success : function(result){
        						afterReleaseGrid.resetData(result);
        					}
        				});
          } 
          }) 
          
          
          //출고등록 버튼 클릭 시
           $('#releaseRegBtn').on('click' ,function(){
        	   console.log(afterReleaseGrid.getSummaryValues('bnsReleaseQuan').sum)
        	   console.log(targetRow.ordReqQuan)
        	   let radioVal = $("input[name=type]:checked").val();
        	   if (radioVal == "contract") {
        	    if(afterReleaseGrid.getSummaryValues('bnsReleaseQuan').sum>targetRow.contReqQuan){
   				alert(" 입력한 출고량이 필요 주문량보다 많습니다 ");
   				return;
   				}
        	    else if(afterReleaseGrid.getSummaryValues('bnsReleaseQuan').sum == 0){
      				alert("출고량을 입력하세요 ");
      				return;
      			}
        	   }
        	   
        	   else{
        	    if(afterReleaseGrid.getSummaryValues('bnsReleaseQuan').sum>targetRow.ordReqQuan){
      				alert(" 입력한 출고량이 필요 주문량보다 많습니다 ");
      				return;
      				}
        	    else if(afterReleaseGrid.getSummaryValues('bnsReleaseQuan').sum == 0){
      				alert("출고량을 입력하세요 ");
      				return;
      			}
        	   }
      				
      			
        	   
			let checked = afterReleaseGrid.getCheckedRows();
			console.log(checked);
			console.log(targetRow);
			
			checked.forEach(ele=>{
				ele.contDetCode = targetRow.contDetCode;
				ele.ordDetCode = targetRow.ordDetCode;
				ele.prdtCode = targetRow.prodCode;
				ele.accName = targetRow.accName;
				ele.bnsReleaseDate = ele.sys;
				ele.empNum = '[[${#authentication.principal.empNum}]]';
			})
			console.log(checked)
			
			 $.ajax({
					url : "/bns/insertReleaseList",
					method : "POST",
					contentType : "application/json",
					data : JSON.stringify({ list : checked}),
					dataType : "JSON",
					beforeSend: function (xhr) {
			            xhr.setRequestHeader(header, token);
			          },
					success : function(result){
						afterReleaseGrid.resetData([]);
						afterReleaseGrid.setSummaryColumnContent('bnsReleaseQuan', '');
					}
					});
					
		
					
					 	
			
      			
           })
				//////////////////////////////본문의 제품명 모달 관련
	//모달내 제품리스트 그리드 생성
	
var product_Grid = new tui.Grid({
bodyHeight : 200,
 el: document.getElementById('productGrid'),
 scrollX: false,
 rowHeaders: ['rowNum'],
 columns: [
   {
     header: '제품코드',
     name: 'prodCode'
   },
   {
     header: '제품명',
     name: 'prodName'
   }

 ]
});
       //주문건 모달창 제품그리드   
var product_Grid1 = new tui.Grid({
 bodyHeight : 200,
  el: document.getElementById('productGrid1'),
  scrollX: false,
  rowHeaders: ['rowNum'],
  columns: [
    {
      header: '제품코드',
      name: 'prodCode'
    },
    {
      header: '제품명',
      name: 'prodName'
    }

  ]
 });
  //본문의 제품명 돋보기 클릭 했을 때
  //계약건
   	$("#productList").on('click', function(){
  //모달내 제품리스트 아작스
   	$.ajax({
   		url : "/bns/prodList",
   		method : "GET",
   		dataType : "JSON",
   		success : function(result){
   			product_Grid.resetData(result);
   			product_Grid.refreshLayout();
   		}
   	});
   });
  //주문건
   	$("#productList1").on('click', function(){
   	  //모달내 제품리스트 아작스
   	   	$.ajax({
   	   		url : "/bns/prodList",
   	   		method : "GET",
   	   		dataType : "JSON",
   	   		success : function(result){
   	   			product_Grid1.resetData(result);
   	   			product_Grid1.refreshLayout();
   	   		}
   	   	});
   	   });
   	
	   //모달창 내  제품명 돋보기 클릭 했을 때
	   //계약건
	   $("#searchprod").on('click', function(){
   	const result = $("#searchprod-text").val()
		$("#searchprod-text").val('');
   	//모달창 내 제품검색 아작스
	   	$.ajax({
	   		 url : "/bns/prodKeyList",
	   	     method : "GET",
	   	     data : {'result' : result},
	   	     success : function(result){
	   	     product_Grid.resetData(result);
	   	     product_Grid.refreshLayout();
	   	     },
	   	     error: function(reject){
	   	    	 console.log(reject)
	   	     }
   		});
	   })
	   
	    //주문건
	   $("#searchprod1").on('click', function(){
   	const result = $("#searchprod-text1").val()
		$("#searchprod-text1").val('');
   	//모달창 내 제품검색 아작스
	   	$.ajax({
	   		 url : "/bns/prodKeyList",
	   	     method : "GET",
	   	     data : {'result' : result},
	   	     success : function(result){
	   	 	 product_Grid1.resetData(result);
	   	     product_Grid1.refreshLayout();
	   	     },
	   	     error: function(reject){
	   	    	 console.log(reject)
	   	     }
   		});
	   })
	//모달 내 제품리스트 그리드 뜨고 모달창 뜨게
	//계약건
$(function(){
	$('#productListModal').on('shown.bs.modal', function(){
		product_Grid.refreshLayout();
	})
})
	   //주문건
$(function(){
	$('#productListModal1').on('shown.bs.modal', function(){
		product_Grid1.refreshLayout();
	})
})
	   //제품리스트 모달 내 그리드 선택 시 본문의 input창으로 자동입력
	   //계약건
	product_Grid.on('click', ev=> {
    console.log(ev.rowKey)
    console.log(ev.columns)
    const focusCell = product_Grid.getFocusedCell()
    console.log(focusCell)
    let dataRow = product_Grid.getRow(ev.rowKey);
    console.log(dataRow);
	//본문의 input창 제품명 입력
    $('#productlist-text').val(dataRow.prodName);
    $('#modalsubmit').click(function(){
  	  $('#productListModal').modal('hide');
  	  $.ajax({
   		 url : "/bns/prodList",
   	     method : "GET",
   	     dataType : "JSON",
   	     success : function(result){
   	     product_Grid.resetData(result);
   	     product_Grid.refreshLayout();
   	     }
   });
    })
  })
  //주문건
  product_Grid1.on('click', ev=> {
    console.log(ev.rowKey)
    console.log(ev.columns)
    const focusCell = product_Grid1.getFocusedCell()
    console.log(focusCell)
    let dataRow = product_Grid1.getRow(ev.rowKey);
    console.log(dataRow);
	//본문의 input창 제품명 입력
    $('#productlist-text1').val(dataRow.prodName);
    $('#modalsubmit1').click(function(){
  	  $('#productListModal1').modal('hide');
  	  $.ajax({
   		 url : "/bns/prodList",
   	     method : "GET",
   	     dataType : "JSON",
   	     success : function(result){
   	     product_Grid1.resetData(result);
   	     product_Grid1.refreshLayout();
   	     }
   });
    })
  })
           
    //계약의 조회버튼 클릭 시 
	    document.getElementById('releaseList').addEventListener('click',function(){
  		/* if($('input[name=type]:checked').val()== 'contract'){ */
	    	$.ajax({
	    		url : "/bns/releaseContListconAjax",
	    		method : "GET",
	    		data : $('#searchform').serialize(),
	    		dataType : "JSON",
	    		success : function(result){
	    			beforeReleaseContGrid.resetData(result);
	    			
	    			beforeReleaseContGrid.getData().forEach((ele, index)=>{
						 let today = new Date(); 
						 let releaseDay = new Date(ele.contDetRelease);
						 let diffDay = releaseDay.getTime() - today.getTime();
						 let diffDays = Math.ceil(diffDay / (1000 * 3600 * 24));
						 console.log(diffDays)
						 	if(diffDays<=5){
							beforeReleaseContGrid.addCellClassName(index,'contDetCode','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'contCode','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'accName','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'prodCode','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'prodName','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'contDetQuan','cell-red');
							beforeReleaseContGrid.addCellClassName(index,'contDetRelease','cell-red');
						 	}
						})
	    		}
	    	});
  		})
  		/* else{ */
  			
	     //주문의 조회버튼 클릭 시 
  			document.getElementById('releaseList1').addEventListener('click',function(){
	    	$.ajax({
	    		url : "/bns/releaseOrdListconAjax",
	    		method : "GET",
	    		data : $('#searchform1').serialize(),
	    		dataType : "JSON",
	    		success : function(result){
	    			beforeReleaseOrdGrid.resetData(result);
	    			
	    			beforeReleaseOrdGrid.getData().forEach((ele, index)=>{
						 let today = new Date(); 
						 let releaseDay = new Date(ele.ordDueDate);
						 let diffDay = releaseDay.getTime() - today.getTime();
						 let diffDays = Math.ceil(diffDay / (1000 * 3600 * 24));
						 console.log(diffDays)
						 	if(diffDays<=5){
						 		beforeReleaseOrdGrid.addCellClassName(index,'ordDetCode','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'ordCode','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'accName','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'prodCode','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'prodName','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'ordDetQuan','cell-red');
						 		beforeReleaseOrdGrid.addCellClassName(index,'ordDueDate','cell-red');
						 	}
						})
	    		}
	    	});
  		})
	    
  		
 var contCode_Grid = new tui.Grid({
bodyHeight : 200,
 el: document.getElementById('contCodeGrid'),
 scrollX: false,
 rowHeaders: ['rowNum'],
 columns: [
   {
     header: '계약코드',
     name: 'contCode'
   },
   {
     header: '거래처명',
     name: 'accName'
   },
   {
     header: '제품명',
     name: 'prodName'
   }

 ]
});
   	$("#contCodeList").on('click', function(){
  //모달내 제품리스트 아작스
   	$.ajax({
   		url : "/bns/contCodesList",
   		method : "GET",
   		dataType : "JSON",
   		success : function(result){
   			contCode_Grid.resetData(result);
   			contCode_Grid.refreshLayout();
   		}
   	});
   });

	   //모달창 내  계약코드 돋보기 클릭 했을 때
	   //계약건
	   $("#searchcontCode").on('click', function(){
   	const result = $("#searchcontCode-text").val()
		$("#searchcontCode-text").val('');
   	//모달창 내 제품검색 아작스
	   	$.ajax({
	   		 url : "/bns/contCodesKeyList",
	   	     method : "GET",
	   	     data : {'result' : result},
	   	     success : function(result){
	   	     contCode_Grid.resetData(result);
	   	     contCode_Grid.refreshLayout();
	   	     },
	   	     error: function(reject){
	   	    	 console.log(reject)
	   	     }
   		});
	   })

	//모달 내 제품리스트 그리드 뜨고 모달창 뜨게
	//계약건
$(function(){
	$('#contCodeListModal').on('shown.bs.modal', function(){
		contCode_Grid.refreshLayout();
	})
})

	   //제품리스트 모달 내 그리드 선택 시 본문의 input창으로 자동입력
	   //계약건
	contCode_Grid.on('click', ev=> {
   
    const focusCell = contCode_Grid.getFocusedCell()
    let dataRow = contCode_Grid.getRow(ev.rowKey);
    console.log(dataRow.contCode);
	//본문의 input창 제품명 입력
   $('#contCodeList-text').val(dataRow.contCode); 
    $('#modalsubmit3').click(function(){
  	  $('#contCodeListModal').modal('hide');
  	  $.ajax({
   		 url : "/bns/contCodesList",
   	     method : "GET",
   	     dataType : "JSON",
   	     success : function(result){
   	     contCode_Grid.resetData(result);
   	     contCode_Grid.refreshLayout();
   	     }
   });
    })
  })
  
   var ordCode_Grid = new tui.Grid({
bodyHeight : 200,
 el: document.getElementById('ordCodeGrid'),
 scrollX: false,
 rowHeaders: ['rowNum'],
 columns: [
   {
     header: '주문코드',
     name: 'ordCode'
   },
   {
     header: '거래처명',
     name: 'accName'
   },
   {
     header: '제품명',
     name: 'prodName'
   }

 ]
});
   	$("#ordCodeList").on('click', function(){
  //모달내 주문코드리스트 아작스
   	$.ajax({
   		url : "/bns/ordCodesList",
   		method : "GET",
   		dataType : "JSON",
   		success : function(result){
   			ordCode_Grid.resetData(result);
   			ordCode_Grid.refreshLayout();
   		}
   	});
   });

	   //모달창 내  계약코드 돋보기 클릭 했을 때
	   //주문건
	   $("#searchordCode").on('click', function(){
   	const result = $("#searchordCode-text").val()
		$("#searchordCode-text").val('');
   	//모달창 내 제품검색 아작스
	   	$.ajax({
	   		 url : "/bns/ordCodesKeyList",
	   	     method : "GET",
	   	     data : {'result' : result},
	   	     success : function(result){
	   	     ordCode_Grid.resetData(result);
	   	     ordCode_Grid.refreshLayout();
	   	     },
	   	     error: function(reject){
	   	    	 console.log(reject)
	   	     }
   		});
	   })

	//모달 내 제품리스트 그리드 뜨고 모달창 뜨게
	//주문건
$(function(){
	$('#ordCodeListModal').on('shown.bs.modal', function(){
		ordCode_Grid.refreshLayout();
	})
})

	   //제품리스트 모달 내 그리드 선택 시 본문의 input창으로 자동입력
	   //주문건
	ordCode_Grid.on('click', ev=> {
   
    const focusCell = ordCode_Grid.getFocusedCell()
    let dataRow = ordCode_Grid.getRow(ev.rowKey);
    console.log(dataRow.ordCode);
	//본문의 input창 제품명 입력
   $('#ordCodeList-text').val(dataRow.ordCode); 
    $('#modalsubmit4').click(function(){
  	  $('#ordCodeListModal').modal('hide');
  	  $.ajax({
   		 url : "/bns/ordCodesList",
   	     method : "GET",
   	     dataType : "JSON",
   	     success : function(result){
   	     ordCode_Grid.resetData(result);
   	     ordCode_Grid.refreshLayout();
   	     }
   });
    })
  })
  
           //그리드 한글로
	      tui.Grid.setLanguage("ko");
	</script>
	</div>
</body>
</html>