<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/template}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/56e7c5522c.js"
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="/plugins/jquery/jquery.min.js"></script>

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<style>
.container-fluid {
	text-align: left !important;
}
</style>
</head>
<body>
<div layout:fragment="title">
		<h1>출고내역 조회</h1>
	</div>
	
	
	
		<div layout:fragment="content">
		<form id="searchform">
	<p>
	제품명 <input type="text" id="productlist-text"
				style="background-color: #e2e1e1" name="prdtNm" readonly>
		 <button type="button" id="productList" class="fa-solid fa-magnifying-glass btn btn-primary" data-toggle="modal" data-target=".bd-product-modal-lg"></button>
	</p>
	<p>
		거래처명 <input type="text" id="accountlist-text"
			style="background-color: #e2e1e1" name="accName" readonly>
		<button type="button" id="accountList" class="fa-solid fa-magnifying-glass btn btn-primary"
			data-toggle="modal" data-target=".bd-account-modal-lg"></button>
	</p>
	<p>
	출고일자 <input type="date" name="bnsReleaseDate"> - <input type="date" name="bnsReleaseDate1"> <button type="button" id="searchRelease" class = "btn btn-primary">조회</button>
	</p>
	</form>
	<!-- 본문 출고 그리드 -->
	<div id="ReleaseGrid"></div>
	<!-- 본문 출고 그리드 끝 -->
		<!-- 제품명 모달 -->
	<div class="modal fade bd-product-modal-lg" id="productListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle">제품 목록</h1>
					<p>
						제품명 <input id="searchprod-text" type="text">
						<button type="button" id="searchprod"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="productGrid"></div>
					<div class="modalbtn">
						<button  class="btn btn-primary" id="modalsubmit" data-toggle="modal"
							data-target=".bd-product-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 제품명 모달 끝 -->
	<!-- 거래처리스트 모달 -->
		<div class="modal fade bd-account-modal-lg" id="accountListModal"
			tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">

				<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
					<h1 class="modaltitle">거래처 목록</h1>
					<p>
						거래처명 <input type="text" id="searchacc-text">
						<button id="searchacc" type="submit"
							class="fa-solid fa-magnifying-glass btn btn-primary"></button>
					<div id="accountGrid"></div>

					<div class="modalbtn">
						<button class="btn btn-primary" id="searchacc-btn" data-toggle="modal"
							data-target=".bd-account-modal-lg">확인</button>
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 거래처리스트 모달 끝 -->
<script>


const token = $('meta[name="_csrf"]').attr("content");
const header = $('meta[name="_csrf_header"]').attr("content");

$(document).ready(function(){
$.ajax({
	url : "/bns/searchReleaseListAjax",
	method : "GET",
	dataType : "JSON",
	success : function(result){
		ReleaseGrid.resetData(result);
	}
});
	
	//출고내역 그리드 생성
var ReleaseGrid = new tui.Grid({	
   bodyHeight : 500,
     el: document.getElementById('ReleaseGrid'),
     scrollX: false,
     pageOptions: {
	  	    useClient: true,	// front에서만 페이징 하는 속성
	  	    perPage: 10
	  	  },
     rowHeaders: [{type: 'checkbox'},{type:'rowNum'}],
     columns: [
       {
         header: '출고번호',
         name: 'bnsReleaseCode'
       },
       {
         header: '완제품LOT',
         name: 'prdtLot'
  	    },
       {
           header: '거래처명',
           name: 'accName'
  	    },
       {
         header: '완제품명',
         name: 'prdtNm'
       },
       {
         header: '출고량',
         name: 'bnsReleaseQuan'
	    },
       {
         header: '출고일자',
         name: 'bnsReleaseDate'
       },
       {
   	  	 header: '담당자명',
          name: 'empName'
         },
       {
       	 header: '비고',
         name: 'bnsReleaseNote'
       }
     ]
   }); 
	
//////////////////////////////본문의 제품명 모달 관련
//모달내 제품리스트 그리드 생성
var product_Grid = new tui.Grid({
bodyHeight : 200,
el: document.getElementById('productGrid'),
scrollX: false,
rowHeaders: ['rowNum'],
columns: [
{
 header: '제품코드',
 name: 'prodCode'
},
{
 header: '제품명',
 name: 'prodName'
}

]
});
//본문의 제품명 돋보기 클릭 했을 때
	$("#productList").on('click', function(){
//모달내 제품리스트 아작스
	$.ajax({
		url : "/bns/prodList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			product_Grid.resetData(result);
			product_Grid.refreshLayout();
		}
	});
});
   //모달창 내  제품명 돋보기 클릭 했을 때
   $("#searchprod").on('click', function(){
	const result = $("#searchprod-text").val()
	$("#searchprod-text").val('');
	//모달창 내 제품검색 아작스
   	$.ajax({
   		 url : "/bns/prodKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     product_Grid.resetData(result);
   	     product_Grid.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
		});
   })
//모달 내 제품리스트 그리드 뜨고 모달창 뜨게
$(function(){
$('#productListModal').on('shown.bs.modal', function(){
	product_Grid.refreshLayout();
})
})
   //제품리스트 모달 내 그리드 선택 시 본문의 input창으로 자동입력
product_Grid.on('click', ev=> {
console.log(ev.rowKey)
console.log(ev.columns)
const focusCell = product_Grid.getFocusedCell()
console.log(focusCell)
let dataRow = product_Grid.getRow(ev.rowKey);
console.log(dataRow);
//본문의 input창 제품명 입력
$('#productlist-text').val(dataRow.prodName);
$('#modalsubmit').click(function(){
	  $('#productListModal').modal('hide');
	  $.ajax({
		 url : "/bns/prodList",
	     method : "GET",
	     dataType : "JSON",
	     success : function(result){
	     product_Grid.resetData(result);
	     product_Grid.refreshLayout();
	     }
});
})
}) 

/* 본문의 거래처 모달창 */
//거래처 리스트
$.ajax({
		url : "/bns/accList",
		method : "GET",
		dataType : "JSON",
		success : function(result){
			account_Grid.resetData(result);
			account_Grid.refreshLayout();
		}
	});
   
 //본문 내 거래처리스트 그리드 생성
   var account_Grid = new tui.Grid({
	   bodyHeight : 200,
     el: document.getElementById('accountGrid'),
     scrollX: false,
     rowHeaders: ['rowNum'],
     columns: [
       {
         header: '거래처코드',
         name: 'accCode'
       },
       {
         header: '거래처명',
         name: 'accName'
       }
   
     ]
   });
   
 //본문 내 거래처 리스트 그리드 뜨고 모달창뜨게
   $(function(){
   	$('#accountListModal').on('shown.bs.modal', function(){
   		account_Grid.refreshLayout();
   	})
   })
   
   //본문 내 거래처 리스트 내 버튼클릭 시 
   $("#searchacc").on('click', function(){
   	const result = $("#searchacc-text").val()
		$("#searchacc-text").val('');
   	
   	
  //거래처 리스트 검색 아작스
   	$.ajax({
   		 url : "/bns/accKeyList",
   	     method : "GET",
   	     data : {'result' : result},
   	     success : function(result){
   	     account_Grid.resetData(result);
   	     account_Grid.refreshLayout();
   	     },
   	     error: function(reject){
   	    	 console.log(reject)
   	     }
 
   });
   })
   
   //거래처 리스트 그리드 클릭 시 
   account_Grid.on('click', ev=> {
    

     const focusCell = account_Grid.getFocusedCell()

     let dataRow = account_Grid.getRow(ev.rowKey);

     $('#accountlist-text').val(dataRow.accName);
     
     $("#searchacc-btn").click(function(){
   	  
   	  $.ajax({
   	 		url : "/bns/accList",
   	 		method : "GET",
   	 		dataType : "JSON",
   	 		success : function(result){
   	 			account_Grid.resetData(result);
   	 			account_Grid.refreshLayout();
   	 		}
   	 	});
   	 $('#accountListModal').modal('hide');

   	  
     })
   })   


       //본문의 조회버튼 클릭 시 
	    document.getElementById('searchRelease').addEventListener('click',function(){
	    	$.ajax({
	    		url : "/bns/releaseSearchListconAjax",
	    		method : "GET",
	    		data : $('#searchform').serialize(),
	    		dataType : "JSON",
	    		success : function(result){
	    			ReleaseGrid.resetData(result);
	    		}
	    	});
	    })

})
</script>

</div>
</body>
</html>