<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<div id="grid"></div>



<script>
const gridData = [
    {
      c1: '1992/03/25',
      c2: '12/06/2019',
      c3: '2014-04-16',
      c4: '2019-11-19 09:00 AM',
      c5: '2019-11-19 09:00 AM',
      c6: '2019-01',
      c7: '2019'
    }
  ];

  const grid = new tui.Grid({
    el: document.getElementById('grid'),
    scrollX: false,
    scrollY: false,
    data: gridData,
    columns: [
      {
        header: 'DatePicker (Default)',
        name: 'c1',
        editor: 'datePicker'
      },
      {
        header: 'DatePicker (Using options)',
        name: 'c2',
        editor: {
          type: 'datePicker',
          options: {
            format: 'dd/MM/yyyy'
          }
        }
      },
      {
        header: 'DatePicker (selectableRanges)',
        name: 'c3',
        editor: {
          type: 'datePicker' 
        }
      },
      {
        header: 'Date-TimePicker',
        name: 'c4',
        editor: {
          type: 'datePicker',
          options: {
            format: 'yyyy-MM-dd HH:mm A',
            timepicker: true
          }
        }
      },
      {
        header: 'Date-TimePicker With tab',
        name: 'c5',
        editor: {
          type: 'datePicker',
          options: {
            format: 'yyyy-MM-dd HH:mm A',
            timepicker: {
              layoutType: 'tab',
              inputType: 'spinbox'
            }
          }
        }
      },
      {
        header: 'MonthPicker',
        name: 'c6',
        editor: {
          type: 'datePicker',
          options: {
            format: 'yyyy-MM',
            type: 'month'
          }
        }
      },
      {
        header: 'YearPicker',
        name: 'c7',
        editor: {
          type: 'datePicker',
          options: {
            format: 'yyyy',
            type: 'year'
          }
        }
      }
    ]
  });

    </script>