<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <style>
      tr .modified {
        background-color: rgba(255, 255, 0, 0.3);
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">거래처 정보 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="accName">거래처명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="accName" name="accName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="accSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-4">
          <div class="col-auto">
            <label for="" class="col-form-label">조회 구분 :</label>
          </div>
          <div class="col-auto">
            <select class="form-control" name="accType" id="accType">
              <option value="전체">전체</option>
            </select>
          </div>
        </div>
        <div class="row col-4 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="add" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" id="delete" style="height: 38px">삭제</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div class="modal fade itemsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="innerGrid"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
      <div id="grid"></div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;

          // 거래처구분
          let accTypeList = [];
          $.ajax({
            url: "/admin/getAccTypeList",
            dataType: "JSON",
          })
            .done((r) => {
              r.forEach((ele) => {
                accTypeList.push({ text: ele, value: ele });
                $("#accType").append($(`<option value="${ele}">${ele}</option>`));
              });
            })
            .fail((e) => {
              alert("데이터를 불러오는중 에러가 발생했습니다.");
            });
          //전화번호 정규식
          const telRegex = /^\d{2,3}-\d{3,4}-\d{4}$/;

          //그리드폼 시작
          const grid = new tui.Grid({
            el: document.getElementById("grid"),
            data: {
              contentType: "application/json",
              api: {
                readData: {
                  url: "/admin/getAccountList",
                  method: "GET",
                },
                modifyData: {
                  url: "/admin/accModifyAjax",
                  method: "POST",
                  withCredentials: true,
                },
              },
            },
            bodyHeight: 680,
            scrollX: false,
            rowHeaders: [{ type: "checkbox", header: ` ` }],
            columns: [
              {
                header: "거래처코드",
                name: "accCode",
                align: "center",
              },
              {
                header: "거래처명",
                name: "accName",
                editor: "text",
                align: "center",
              },
              {
                header: "거래처구분",
                name: "accType",
                editor: {
                  type: "select",
                  options: {
                    listItems: accTypeList,
                  },
                },
                align: "center",
              },
              {
                header: "주소",
                name: "accAddress",
                align: "center",
                editor: "text",
              },
              {
                header: "연락처",
                name: "accTel",
                editor: "text",
                align: "center",
                validation: {
                  regExp: telRegex,
                },
              },
              {
                header: "거래품목",
                name: "accItem",
                align: "center",
              },
            ],
          });

          const innerGrid = new tui.Grid({
            el: document.getElementById("innerGrid"),
            bodyHeight: 550,
            scrollX: false,
            rowHeaders: ["rowNum"],
            columns: [
              {
                header: "항목코드",
                name: "itemCode",
                align: "center",
              },
              {
                header: "항목명",
                name: "itemName",
                align: "center",
              },
              {
                header: "규격",
                name: "itemStd",
                align: "center",
              },
              {
                header: "단위",
                name: "itemUnit",
                align: "center",
              },
            ],
          });
          //그리드 폼 끝

          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          grid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          grid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              alert("데이터가 저장되었습니다.");
            } else if (result == "Fail") {
              alert("데이터 저장중 에러가 발생했습니다.");
            }
          });

          //수정된 행 색칠 시작
          grid.on("afterChange", (e) => {
            console.log(e.changes);
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          //수정된 행 색칠 끝

          // 조회 버튼 부착 시작
          grid.on("onGridUpdated", (e) => {
            grid.getData().forEach((row) => {
              let cell = $("td[data-column-name='accItem'][data-row-key=" + row.rowKey + "]");
              let btn = $(
                '<button class="btn btn-primary viewItems" id="viewItems' +
                  row.rowKey +
                  '" data-row-key="' +
                  row.rowKey +
                  '" type="button" style="width:100%">조회</button>'
              );
              cell.html(btn);
            });
            $(".viewItems").click((e) => {
              let row = grid.getRow(e.target.dataset.rowKey);
              $(".modal-title").text(row.accName);
              $.ajax({ url: "/admin/getItemListWithAccCode", data: { accCode: row.accCode } })
                .done((r) => {
                  innerGrid.resetData(r);
                })
                .fail((e) => {
                  alert("데이터를 받아오는중 에러가 발생했습니다.");
                });
              $(".itemsModal").modal("show");
            });
            // 조회 버튼 부착 끝
          });
          //tui grid의 언어세팅
          tui.Grid.setLanguage("ko");

          //그리드 세팅 끝

          //저장기능 시작
          $("#save").click(() => {
            //유효성 검사 시작
            let vd = grid.validate(); // grid 만들때 설정한 validation 옵션에 걸리는 행들
            let teln = 0; // 행 안의 empTel이 문제인 경우의 수
            if (vd.length != 0) {
              vd.forEach((arr) => {
                arr.errors.forEach((col) => {
                  if (col.columnName == "accTel") {
                    teln++;
                  }
                });
              });
              if (teln) {
                //teln이 0이 아니면
                alert(
                  "전화번호의 형식이 잘못되었습니다.\n[010-0000-0000 또는 02-000-0000 의 형식으로 입력해주십시오.]"
                );
              }
              //유효성 검사 끝
            } else {
              //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
              grid.finishEditing();
              grid.request("modifyData");
            }
          });

          //저장기능 끝

          //비어있을때 조회 function
          function getAllWithType() {
            $.ajax({
              url: "/admin/getAccListWithType",
              method: "POST",
              data: { accType: $("#accType").val() },
              beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
              },
            })
              .done((r) => {
                grid.resetData(r);
              })
              .fail((e) => {
                alert("데이터를 불러오는 중 에러가 발생했습니다.");
              });
          }
          //거래처명 조회 기능 grid.readData
          $("#accSearchBtn").click(() => {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true

            let accName = $("#accName");
            if (noChange) {
              // 변경점이 없다면
              // 거래처명 input의 value로 조회해서 grid를 다시 그림
              if (accName.val() != "") {
                $.ajax({
                  url: "/admin/searchAccAjax",
                  method: "POST",
                  dataType: "JSON",
                  data: JSON.stringify({ accName: accName.val(), accType: $("#accType").val() }),
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                  },
                  contentType: "application/json",
                }).done((r) => {
                  grid.resetData(r);
                });
                // 거래처명 input이 비어있으면 타입별 모두 조회
              } else {
                getAllWithType();
              }
            } else {
              // 변경점이 있다면 confirm 창을 띄운다.
              if (confirm("조회시 변경된 데이터가 소실됩니다. 조회하겠습니까?")) {
                // 거래처명 input의 value로 조회해서 grid를 다시 그림
                if (accName.val() != "") {
                  $.ajax({
                    url: "/admin/searchAccAjax",
                    method: "POST",
                    dataType: "JSON",
                    data: JSON.stringify({ accName: accName.val(), accType: $("#accType").val() }),
                    beforeSend: function (xhr) {
                      xhr.setRequestHeader(header, token);
                    },
                    contentType: "application/json",
                  }).done((r) => {
                    grid.resetData(r);
                  });
                  // 거래처명 input이 비어있으면 타입별 모두 조회
                } else {
                  getAllWithType();
                  nextNum = null;
                }
              }
            }
            accName.val("");
          });
          //거래처명 조회기능 끝

          //거래처 추가 시작
          let nextNum; //
          $("#add").click((e) => {
            if (!nextNum) {
              // 코드를 가져온적이 없으면 새로 가져옴
              $.ajax({
                url: "/admin/getAccCode",
                async: false,
              }).done((r) => {
                nextNum = r;
              });
            } else {
              // 코드를 이미 가져왔다면 코드에 1을 추가함
              let word = nextNum.substr(0, 4);
              let num = parseInt(nextNum.substr(4)) + 1 + "";
              nextNum = word + num.padStart(5, "0");
            }
            grid.appendRow({ accCode: nextNum }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
            grid.addRowClassName(grid.getFocusedCell().rowKey, "modified"); // 색칠
          });
          //거래처 추가 끝

          //거래처 삭제 시작
          $("#delete").click((e) => {
            if (grid.getCheckedRowKeys().length == 0) {
              alert("삭제할 행을 체크해주십시오.");
            } else {
              grid.removeCheckedRows(true);
              setTimeout(() => {
                grid.getData().forEach((row) => {
                  let cell = $("td[data-column-name='accItem'][data-row-key=" + row.rowKey + "]");
                  let btn = $(
                    '<button class="btn btn-primary" id="viewItems' +
                      row.rowKey +
                      '" data-row-key="' +
                      row.rowKey +
                      '" type="button" style="width:100%">조회</button>'
                  );
                  cell.html(btn);
                });
              });
            }
          });
          //거래처 삭제 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
              grid.restore();
              nextNum = null;
            }
          });
          //초기화 버튼 끝

          $(".itemsModal").on("shown.bs.modal", (e) => {
            innerGrid.refreshLayout();
          });
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
