<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
    <style>
      #comCodeGrid .tui-grid-cell-current-row > td {
        background-color: #00a9ff33;
      }
      #comCodeGrid .tui-grid-body-container {
        cursor: pointer;
      }
      #comCodeGrid .tui-grid-layer-focus-border {
        display: none;
      }
      tr .modified {
        background-color: rgba(255, 255, 0, 0.3);
      }

      .swalAlert {
        top: 60px !important;
      }
      .swal2-popup.swal2-toast .swal2-title {
        margin-top: 11px !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">공통 코드 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="codeName">코드명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="codeName" name="codeName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="comCodeSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-8 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="add" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" id="delete" style="height: 38px">삭제</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="row col-4">
          <div class="col" id="comCodeGrid"></div>
        </div>
        <div class="row col-8">
          <div class="col-1"></div>
          <div class="col-11" id="innerCodeGrid"></div>
        </div>
      </div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          // Alert API
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 1500,
            customClass: { container: "swalAlert" },
            showConfirmButton: false,
          });

          tui.Grid.applyTheme("default", {
            cell: {
              selectedHeader: { background: "none" }, // 드래그했을때 헤더도 드래그 x
              disabled: { background: "#f4f4f4", text: "#333" }, // 비활성컬럼 색깔 수정
            },
          });

          tui.Grid.setLanguage("ko");

          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;

          //그리드폼 시작
          const comCodeGrid = new tui.Grid({
            el: document.getElementById("comCodeGrid"),
            contextMenu: null,
            data: {
              api: {
                readData: {
                  url: "/admin/getComCodeList",
                  method: "GET",
                },
              },
            },
            bodyHeight: 700,
            scrollX: false,
            columns: [
              {
                header: "공통코드",
                name: "comCode",
                align: "center",
              },
              {
                header: "공통코드명",
                name: "codeName",
                align: "center",
              },
            ],
          });
          const innerCodeGrid = new tui.Grid({
            el: document.getElementById("innerCodeGrid"),
            contextMenu: null,
            bodyHeight: 680,
            scrollX: false,
            rowHeaders: ["checkbox"],
            data: {
              contentType: "application/json",
              api: {
                readData: {
                  url: "#",
                  method: "GET",
                },
                modifyData: {
                  url: "/admin/iCodeModifyAjax",
                  method: "POST",
                  withCredentials: true,
                },
              },
              initialRequest: false,
            },
            columns: [
              {
                header: "공통코드",
                name: "comCode",
                align: "center",
              },
              {
                header: "세부코드",
                name: "comInnerCode",
                align: "center",
                editor: "text",
                validation: {
                  unique: true,
                },
              },
              {
                header: "세부코드명",
                name: "innerCodeName",
                align: "center",
                editor: "text",
              },
              {
                header: "세부코드설명",
                name: "innerCodeDetail",
                align: "center",
                editor: "text",
                width: 450,
              },
            ],
          });
          //그리드 폼 끝
          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          innerCodeGrid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          innerCodeGrid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              innerCodeGrid.resetOriginData();
              innerCodeGrid.restore();
              Toast.fire({
                icon: "success", //success, error, warning, info, question
                title: "데이터가 저장되었습니다.",
                width: 400,
              });
            } else if (result == "Fail") {
              Toast.fire({
                icon: "error", //success, error, warning, info, question
                title: "데이터 저장 중 에러가 발생했습니다.",
                width: 400,
              });
            }
          });

          //수정된 행 색칠 시작
          innerCodeGrid.on("afterChange", (e) => {
            let c = e.changes[0];
            innerCodeGrid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          //수정된 행 색칠 끝
          innerCodeGrid.disableColumn("comInnerCode"); // 컬럼 비활성
          //그리드 세팅 끝

          //이름으로 조회 기능 시작
          function searchFunc() {
            let codeName = $("#codeName");
            if (codeName.val() != "") {
              $.ajax({
                url: "/admin/getComCodeWithName",
                dataType: "JSON",
                data: { codeName: codeName.val() },
              }).done((r) => {
                comCodeGrid.resetData(r);
              });
              // 코드명 input이 비어있으면 모두 조회
            } else {
              comCodeGrid.readData();
            }
            codeName.val("");
          }
          $("#comCodeSearchBtn").click((e) => searchFunc());
          $("#codeName").keyup((e) => {
            if (e.keyCode == 13) searchFunc();
          });
          // 이름으로 조회기능 끝

          //공통코드 그리드 클릭시 세부코드 조회
          let comCode;
          comCodeGrid.on("click", (e) => {
            if (e.rowKey === undefined) {
              return;
            }
            let tmp = innerCodeGrid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true
            comCode = comCodeGrid.getRow(e.rowKey).comCode;
            if (noChange) {
              $.ajax({
                url: "/admin/getInnerCodeList",
                data: { comCode: comCode },
              })
                .done((r) => {
                  innerCodeGrid.resetData(r);
                })
                .fail((e) => {
                  Toast.fire({
                    icon: "error", //success, error, warning, info, question
                    title: "데이터를 불러오는 중 에러가 발생했습니다.",
                    width: 400,
                  });
                });
            } else {
              if (confirm("저장되지않은 데이터가 소실됩니다. 조회하시겠습니까?")) {
                $.ajax({
                  url: "/admin/getInnerCodeList",
                  data: { comCode: comCode },
                })
                  .done((r) => {
                    innerCodeGrid.resetData(r);
                  })
                  .fail((e) => {
                    Toast.fire({
                      icon: "error", //success, error, warning, info, question
                      title: "데이터를 불러오는 중 에러가 발생했습니다.",
                      width: 400,
                    });
                  });
              }
            }
          });

          //저장기능 시작
          $("#save").click(() => {
            if (!comCode) {
              Toast.fire({
                icon: "warning", //success, error, warning, info, question
                title: "공통코드를 먼저 선택해주십시오.",
                width: 400,
              });
            } else {
              let vd = innerCodeGrid.validate(); // grid 만들때 설정한 validation 옵션에 걸리는 행들
              let unique = 0; // 행 안의 세부코드가 문제인 경우의 수
              if (vd.length != 0) {
                vd.forEach((arr) => {
                  arr.errors.forEach((col) => {
                    if (col.columnName == "comInnerCode") {
                      unique++;
                    }
                  });
                });
                if (unique) {
                  // unique가 0이 아니면
                  Toast.fire({
                    icon: "warning", //success, error, warning, info, question
                    title: "중복 세부코드가 존재합니다.",
                    width: 400,
                  });
                }
              }
              //유효성 검사 끝
              //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
              innerCodeGrid.finishEditing();
              if (innerCodeGrid.isModified()) {
                innerCodeGrid.request("modifyData");
              } else {
                Toast.fire({
                  icon: "info", //success, error, warning, info, question
                  title: "변경사항이 없습니다.",
                  width: 400,
                });
              }
            }
          });

          //저장기능 끝

          //추가 버튼 시작
          $("#add").click((e) => {
            if (!comCode) {
              Toast.fire({
                icon: "warning", //success, error, warning, info, question
                title: "공통코드를 먼저 선택해주십시오.",
                width: 400,
              });
            } else {
              innerCodeGrid.appendRow({ comCode: comCode }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
              let rowKey = innerCodeGrid.getFocusedCell().rowKey;
              innerCodeGrid.addRowClassName(rowKey, "modified");
              innerCodeGrid.enableCell(rowKey, "comInnerCode"); // 비활성 컬럼이지만 새로 추가된 셀은 활성화
            }
          });
          //추가 버튼 끝

          //삭제 버튼 시작
          $("#delete").click((e) => {
            if (!comCode) {
              Toast.fire({
                icon: "warning", //success, error, warning, info, question
                title: "공통코드를 먼저 선택해주십시오.",
                width: 400,
              });
            } else {
              if (innerCodeGrid.getCheckedRowKeys().length == 0) {
                Toast.fire({
                  icon: "warning", //success, error, warning, info, question
                  title: "삭제할 행을 선택해주십시오.",
                });
              } else {
                innerCodeGrid.removeCheckedRows(true);
              }
            }
          });
          //삭제 버튼 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (!comCode) {
              Toast.fire({
                icon: "warning", //success, error, warning, info, question
                title: "공통코드를 먼저 선택해주십시오.",
                width: 400,
              });
            } else {
              if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
                innerCodeGrid.restore();
              }
            }
          });
          //초기화 버튼 끝
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
