<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <style>
      .tui-grid-cell-current-row > td {
        background-color: #00a9ff33;
      }
      #comCodeGrid .tui-grid-body-container {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">공통 코드 조회</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="CodeName">코드명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="codeName" name="codeName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="comCodeSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-8"></div>
      </div>
      <div class="row justify-content-center">
        <div class="row col-4">
          <div class="col" id="comCodeGrid"></div>
        </div>
        <div class="row col-8">
          <div class="col-1"></div>
          <div class="col-11" id="innerCodeGrid"></div>
        </div>
      </div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;

          //그리드 세팅 시작
          tui.Grid.applyTheme("default", {
            cell: { selectedHeader: { background: "none" }, focused: { border: "transparent !important" } }, // 드래그했을때 헤더도 드래그 x , focus border x
          });
          tui.Grid.setLanguage("ko", {
            display: {
              noData: "데이터가 없습니다.",
            },
          });
          //그리드 세팅 끝
          //그리드폼 시작
          const comCodeGrid = new tui.Grid({
            el: document.getElementById("comCodeGrid"),
            data: {
              api: {
                readData: {
                  url: "/admin/getComCodeList",
                  method: "GET",
                },
              },
            },
            bodyHeight: 680,
            scrollX: false,
            columns: [
              {
                header: "공통코드",
                name: "comCode",
                align: "center",
              },
              {
                header: "공통코드명",
                name: "codeName",
                align: "center",
              },
            ],
          });
          const InnerCodeGrid = new tui.Grid({
            el: document.getElementById("innerCodeGrid"),
            bodyHeight: 680,
            scrollX: false,
            columns: [
              {
                header: "공통코드",
                name: "comCode",
                align: "center",
              },
              {
                header: "세부코드",
                name: "comInnerCode",
                align: "center",
              },
              {
                header: "세부코드명",
                name: "innerCodeName",
                align: "center",
              },
              {
                header: "세부코드설명",
                name: "innerCodeDetail",
                align: "center",
                width: 450,
              },
            ],
          });
          //그리드 폼 끝

          //사원명 조회 기능 grid.readData
          $("#comCodeSearchBtn").click(() => {
            let codeName = $("#codeName");
            if (codeName.val() != "") {
              $.ajax({
                url: "/admin/getComCodeWithName",
                dataType: "JSON",
                data: { codeName: codeName.val() },
              }).done((r) => {
                comCodeGrid.resetData(r);
              });
              // 사원명 input이 비어있으면 모두 조회
            } else {
              comCodeGrid.readData();
            }
            codeName.val("");
          });
          // //사원명 조회기능 끝

          //공통코드 그리드 클릭시 세부코드 조회
          comCodeGrid.on("click", (e) => {
            let comCode = comCodeGrid.getRow(e.rowKey).comCode;
            $.ajax({
              url: "/admin/getInnerCodeList",
              data: { comCode: comCode },
            })
              .done((r) => {
                InnerCodeGrid.resetData(r);
              })
              .fail((e) => {
                alert("데이터를 불러오는 중 에러가 발생했습니다.");
              });
          });
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
