<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css" />
    <style>
      tr .modified {
        background-color: rgba(255, 255, 0, 0.3);
      }
      .swalAlert {
        top: 60px !important;
      }
      .swal2-popup.swal2-toast .swal2-title {
        margin-top: 11px !important;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">품목 정보 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="">조회항목 </label>
          </div>
          <div class="row col-9">
            <div class="col-4">
              <input type="radio" id="mat" name="type" value="mat" style="margin-right: 5px" checked />
              <label class="col-form-label" for="mat">자재</label>
            </div>
            <div class="col-4">
              <input type="radio" id="semi" name="type" value="semi" style="margin-right: 5px" />
              <label class="col-form-label" for="semi">반제품</label>
            </div>
            <div class="col-4">
              <input type="radio" id="prod" name="type" value="prod" style="margin-right: 5px" />
              <label class="col-form-label" for="prod">완제품</label>
            </div>
          </div>
        </div>
        <div class="row col-8"></div>
      </div>
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="itemName">품목명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="itemName" name="itemName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="itemSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-8 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="add" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div id="matGrid"></div>
      <div id="semiGrid" style="display: none"></div>
      <div id="prodGrid" style="display: none"></div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          // Alert API
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 1500,
            customClass: { container: "swalAlert" },
            showConfirmButton: false,
          });

          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;
          // datasource 시작
          const matDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getMatList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/matModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          const semiDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getSemiList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/semiModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          const prodDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getProdList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/prodModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          //datasource 끝

          //그리드폼 시작
          const matGrid = new tui.Grid({
            el: document.getElementById("matGrid"),
            contextMenu: null,
            data: matDataSource,
            bodyHeight: 650,
            scrollX: false,
            rowHeaders: ["rowNum"],
            columns: [
              {
                header: "자재코드",
                name: "matCode",
                align: "center",
              },
              {
                header: "자재명",
                name: "matName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "matStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "matUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "안전재고",
                name: "matSfst",
                align: "center",
                editor: "text",
                formatter({ value }) {
                  return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                },
              },
              {
                header: "사용여부",
                name: "matUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          const semiGrid = new tui.Grid({
            el: document.getElementById("semiGrid"),
            contextMenu: null,
            data: semiDataSource,
            bodyHeight: 650,
            rowHeaders: ["rowNum"],
            scrollX: false,
            columns: [
              {
                header: "반제품코드",
                name: "semiCode",
                align: "center",
              },
              {
                header: "반제품명",
                name: "semiName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "semiStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "semiUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "사용여부",
                name: "semiUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          const prodGrid = new tui.Grid({
            el: document.getElementById("prodGrid"),
            contextMenu: null,
            data: prodDataSource,
            rowHeaders: ["rowNum"],
            bodyHeight: 650,
            scrollX: false,
            columns: [
              {
                header: "완제품코드",
                name: "prodCode",
                align: "center",
              },
              {
                header: "완제품명",
                name: "prodName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "prodStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "prodUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "안전재고",
                name: "prodSfst",
                align: "center",
                editor: "text",
                formatter({ value }) {
                  return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                },
              },
              {
                header: "사용여부",
                name: "prodUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          //그리드 폼 끝

          //라디오 버튼 누를시 타겟 grid 변경
          let grid = matGrid;
          let radioVal = "mat";
          $("input[name=type]").on("change", (e) => {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true
            let mat = $("#matGrid");
            let semi = $("#semiGrid");
            let prod = $("#prodGrid");
            if (noChange) {
              radioVal = $("input[name=type]:checked").val();
              if (radioVal == "mat") {
                grid = matGrid;
                semi.hide();
                prod.hide();
                mat.show();
                grid.refreshLayout();
              } else if (radioVal == "semi") {
                grid = semiGrid;
                mat.hide();
                prod.hide();
                semi.show();
                grid.refreshLayout();
              } else {
                grid = prodGrid;
                mat.hide();
                semi.hide();
                prod.show();
                grid.refreshLayout();
              }
            } else {
              if (confirm("조회항목 변경시 저장되지않은 데이터가 소실됩니다. 변경하시겠습니까?")) {
                radioVal = $("input[name=type]:checked").val();
                grid.restore();
                if (radioVal == "mat") {
                  grid = matGrid;
                  semi.hide();
                  prod.hide();
                  mat.show();
                  grid.refreshLayout();
                } else if (radioVal == "semi") {
                  grid = semiGrid;
                  mat.hide();
                  prod.hide();
                  semi.show();
                  grid.refreshLayout();
                } else {
                  grid = prodGrid;
                  mat.hide();
                  semi.hide();
                  prod.show();
                  grid.refreshLayout();
                }
                nextNum = null;
              } else {
                $(this).prop("checked", false);
                $('input[name=type][value="' + radioVal + '"]').prop("checked", true);
              }
            }
          });
          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          matGrid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });
          semiGrid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });
          prodGrid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          matGrid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              Toast.fire({
                icon: "success", //success, error, warning, info, question
                title: "데이터가 저장되었습니다.",
                width: 400,
              });
            } else if (result == "Fail") {
              Toast.fire({
                icon: "error", //success, error, warning, info, question
                title: "데이터 저장 중 에러가 발생했습니다.",
                width: 400,
              });
            }
          });
          semiGrid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              Toast.fire({
                icon: "success", //success, error, warning, info, question
                title: "데이터가 저장되었습니다.",
                width: 400,
              });
            } else if (result == "Fail") {
              Toast.fire({
                icon: "error", //success, error, warning, info, question
                title: "데이터 저장 중 에러가 발생했습니다.",
                width: 400,
              });
            }
          });
          prodGrid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              Toast.fire({
                icon: "success", //success, error, warning, info, question
                title: "데이터가 저장되었습니다.",
                width: 400,
              });
            } else if (result == "Fail") {
              Toast.fire({
                icon: "error", //success, error, warning, info, question
                title: "데이터 저장 중 에러가 발생했습니다.",
                width: 400,
              });
            }
          });
          //tui grid의 언어세팅
          tui.Grid.setLanguage("ko");

          //수정된 행 색칠 시작
          matGrid.on("afterChange", (e) => {
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          semiGrid.on("afterChange", (e) => {
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          prodGrid.on("afterChange", (e) => {
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          //수정된 행 색칠 끝

          //그리드 세팅 끝

          //저장기능 시작
          $("#save").click(() => {
            //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
            grid.finishEditing();
            if (grid.isModified()) {
              grid.request("modifyData");
            } else {
              Toast.fire({
                icon: "info", //success, error, warning, info, question
                title: "변경사항이 없습니다.",
                width: 400,
              });
            }
          });
          //저장기능 끝

          //품목 조회 기능 grid.readData
          function searchFunc() {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true
            let itemName = $("#itemName");
            let url;
            let type = $("input[name=type]:checked").val();
            if (type == "mat") {
              url = "Mat";
            } else if (type == "semi") {
              url = "Semi";
            } else {
              url = "Prod";
            }
            if (noChange) {
              // 변경점이 없다면
              // 품목 input의 value로 조회해서 grid를 다시 그림
              if (itemName.val() != "") {
                $.ajax({
                  url: "/admin/get" + url + "WithName",
                  dataType: "JSON",
                  data: { itemName: itemName.val() },
                }).done((r) => {
                  grid.resetData(r);
                });
                // 품목명 input이 비어있으면 모두 조회
              } else {
                grid.readData();
              }
            } else {
              // 변경점이 있다면 confirm 창을 띄운다.
              if (confirm("조회시 저장되지않은 데이터가 소실됩니다. 조회하겠습니까?")) {
                // 품목 input의 value로 조회해서 grid를 다시 그림
                if (itemName.val() != "") {
                  $.ajax({
                    url: "/admin/get" + url + "WithName",
                    dataType: "JSON",
                    data: { itemName: itemName.val() },
                  }).done((r) => {
                    grid.resetData(r);
                  });
                  // 품목 input이 비어있으면 모두 조회
                } else {
                  grid.readData();
                  nextNum = null;
                }
              }
            }
            itemName.val("");
          }
          $("#itemSearchBtn").click(() => searchFunc());
          $("#itemName").keyup((e) => {
            if (e.keyCode == 13) {
              searchFunc();
            }
          });
          //품목 조회기능 끝

          //품목 추가 시작
          let nextNum; // EMPCODE
          $("#add").click((e) => {
            let url;
            let type = $("input[name=type]:checked").val();
            // if (!nextNum) {
            //   // 코드를 가져온적이 없으면 새로 가져옴
            //   if (type == "mat") {
            //     url = "Mat";
            //   } else if (type == "semi") {
            //     url = "Semi";
            //   } else {
            //     url = "Prod";
            //   }
            //   $.ajax({
            //     url: "/admin/get" + url + "Code",
            //     async: false,
            //   }).done((r) => {
            //     nextNum = r;
            //   });
            // } else {
            //   // 코드를 이미 가져왔다면 코드에 1을 추가함
            //   let word;
            //   let num;
            //   if (type == "mat") {
            //     word = nextNum.substr(0, 4);
            //     num = parseInt(nextNum.substr(4)) + 1 + "";
            //   } else {
            //     word = nextNum.substr(0, 5);
            //     num = parseInt(nextNum.substr(5)) + 1 + "";
            //   }
            //   nextNum = word + num.padStart(5, "0");
            // }
            switch (type) {
              case "mat":
                // grid.appendRow({ matCode: nextNum, matUse: "Y" }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
                grid.appendRow({ matUse: "Y", matSfst: 0 }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
                break;
              case "semi":
                // grid.appendRow({ semiCode: nextNum, semiUse: "Y" }, { focus: true });
                grid.appendRow({ semiUse: "Y" }, { focus: true });
                break;
              case "prod":
                // grid.appendRow({ prodCode: nextNum, prodUse: "Y" }, { focus: true });
                grid.appendRow({ prodUse: "Y", prodSfst: 0 }, { focus: true });
            }
            grid.addRowClassName(grid.getFocusedCell().rowKey, "modified");
          });
          //품목 추가 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
              grid.restore();
              nextNum = null;
            }
          });
          //초기화 버튼 끝
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
