<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  </head>
  <body>
    <div layout:fragment="title">품목 정보 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="">조회항목 : </label>
          </div>
          <div class="row col-9">
            <div class="col-4">
              <input type="radio" id="mat" name="type" value="mat" style="margin-right: 5px" checked />
              <label class="col-form-label" for="mat">자재</label>
            </div>
            <div class="col-4">
              <input type="radio" id="semi" name="type" value="semi" style="margin-right: 5px" />
              <label class="col-form-label" for="semi">반제품</label>
            </div>
            <div class="col-4">
              <input type="radio" id="prod" name="type" value="prod" style="margin-right: 5px" />
              <label class="col-form-label" for="prod">완제품</label>
            </div>
          </div>
        </div>
        <div class="row col-8"></div>
      </div>
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="empName">품목명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="empName" name="empName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="userSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-8 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="addEmp" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" id="delete" style="height: 38px">삭제</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div id="matGrid"></div>
      <div id="semiGrid" style="display: none"></div>
      <div id="prodGrid" style="display: none"></div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;
          // datasource 시작
          const matDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getMatList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/matModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          const semiDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getSemiList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/semiModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          const prodDataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/getProdList",
                method: "GET",
              },
              modifyData: {
                url: "/admin/prodModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          //datasource 끝

          //그리드폼 시작
          const matGrid = new tui.Grid({
            el: document.getElementById("matGrid"),
            data: matDataSource,
            bodyHeight: 630,
            scrollX: false,
            rowHeaders: ["rowNum"],
            columns: [
              {
                header: "자재코드",
                name: "matCode",
                align: "center",
              },
              {
                header: "자재명",
                name: "matName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "matStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "matUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "안전재고",
                name: "matSfst",
                align: "center",
                editor: "text",
              },
              {
                header: "사용여부",
                name: "matUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          const semiGrid = new tui.Grid({
            el: document.getElementById("semiGrid"),
            data: semiDataSource,
            bodyHeight: 630,
            scrollX: false,
            columns: [
              {
                header: "반제품코드",
                name: "semicode",
                align: "center",
              },
              {
                header: "반제품명",
                name: "semiName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "semiStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "semiUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "사용여부",
                name: "semiUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          const prodGrid = new tui.Grid({
            el: document.getElementById("prodGrid"),
            data: prodDataSource,
            bodyHeight: 630,
            scrollX: false,
            columns: [
              {
                header: "완제품코드",
                name: "prodCode",
                align: "center",
              },
              {
                header: "완제품명",
                name: "prodName",
                editor: "text",
                align: "center",
              },
              {
                header: "규격",
                name: "prodStd",
                editor: "text",
                align: "center",
              },
              {
                header: "단위",
                name: "prodUnit",
                editor: "text",
                align: "center",
              },
              {
                header: "안전재고",
                name: "prodSfst",
                align: "center",
                editor: "text",
              },
              {
                header: "사용여부",
                name: "prodUse",
                editor: {
                  type: "radio",
                  options: {
                    listItems: [
                      {
                        text: "Y",
                        value: "Y",
                      },
                      { text: "N", value: "N" },
                    ],
                  },
                },
                align: "center",
              },
            ],
          });
          //그리드 폼 끝

          //라디오 버튼 누를시 타겟 grid 변경
          let grid = matGrid;
          $("input[name=type]").on("change", (e) => {
            console.log($("input[name=type]:checked").val());
          });
          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          grid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          grid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              alert("데이터가 저장되었습니다.");
            } else if (result == "Fail") {
              alert("데이터 저장중 에러가 발생했습니다.");
            }
          });

          //tui grid의 언어세팅
          tui.Grid.setLanguage("ko");

          //그리드 세팅 끝

          //저장기능 시작
          $("#save").click(() => {
            //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
            grid.finishEditing();
            grid.request("modifyData");
          });
          //저장기능 끝

          //사원명 조회 기능 grid.readData
          $("#userSearchBtn").click(() => {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true
            let empName = $("#empName");
            if (noChange) {
              // 변경점이 없다면
              // 사원명 input의 value로 조회해서 grid를 다시 그림
              if (empName.val() != "") {
              } else {
                grid.restore();
              }
            } else {
              // 변경점이 있다면 confirm 창을 띄운다.
              if (confirm("조회시 변경된 데이터가 소실됩니다. 조회하겠습니까?")) {
                // 사원명 input의 value로 조회해서 grid를 다시 그림
                if (empName.val() != "") {
                  $.ajax({
                    url: "/admin/getUserWithNameAjax",
                    dataType: "JSON",
                    data: { empName: empName.val() },
                  }).done((r) => {
                    grid.resetData(r);
                  });
                  // 사원명 input이 비어있으면 모두 조회
                } else {
                  grid.restore();
                  nextNum = null;
                }
              }
            }
          });
          //사원명 조회기능 끝

          //사원 추가 시작
          let nextNum; // EMPCODE
          $("#addEmp").click((e) => {
            //오늘 날짜 가져오기 시작
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var format = year + "-" + ("00" + month.toString()).slice(-2) + "-" + ("00" + day.toString()).slice(-2);
            //오늘 날짜 가져오기 끝
            if (!nextNum) {
              // 코드를 가져온적이 없으면 새로 가져옴
              $.ajax({
                url: "/admin/getEmpCode",
                async: false,
              }).done((r) => {
                nextNum = r;
              });
            } else {
              // 코드를 이미 가져왔다면 코드에 1을 추가함
              let word = nextNum.substr(0, 4);
              let num = parseInt(nextNum.substr(4)) + 1 + "";
              nextNum = word + num.padStart(4, "0");
            }
            grid.appendRow({ empNum: nextNum, hireDate: format }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
          });
          //사원 추가 끝

          //사원 삭제 시작
          $("#delete").click((e) => {
            if (grid.getCheckedRowKeys().length == 0) {
              alert("삭제할 행을 체크해주십시오.");
            } else {
              grid.removeCheckedRows(true);
            }
          });
          //사원 삭제 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
              grid.restore();
              nextNum = null;
            }
          });
          //초기화 버튼 끝
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
