<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Pen Service</title>
    <style>
      input {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">정보 변경</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div style="width: 720px; margin: 0 auto">
        <div class="card card-outline">
          <div class="card-body">
            <form action="/modify" method="post" id="modForm">
              <div class="form-group row">
                <label class="text-right col-4 col-form-label" for="empId">아이디</label>
                <input
                  type="text"
                  class="form-control col-4"
                  style="float: none; margin: 0 auto 10px auto"
                  id="id"
                  name="id"
                  placeholder="아이디 입력"
                  readonly
                  th:value="${#authentication.principal.empId}"
                />
                <div class="col-4"></div>
              </div>
              <div class="form-group row">
                <label class="text-right col-4 col-form-label" for="password1">비밀번호</label>
                <input
                  type="password"
                  class="form-control col-4"
                  style="float: none; margin: 0 auto 10px auto"
                  id="password1"
                  name="empPw"
                  placeholder="변경시 입력"
                />
                <div class="col-4 text-danger text-left align-middle">
                  <p style="margin-bottom: 0px; line-height: 38px">6자 이상</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="text-right col-4 col-form-label" for="password2">비밀번호 확인</label>
                <input
                  type="password"
                  class="form-control col-4"
                  style="float: none; margin: 0 auto 10px auto"
                  id="password2"
                  placeholder="변경시 입력"
                />
                <div class="col-4"></div>
              </div>
              <div class="form-group row">
                <label class="text-right col-4 col-form-label" for="tel">연락처</label>
                <input
                  type="tel"
                  class="form-control col-4"
                  style="float: none; margin: 0 auto 10px auto"
                  id="tel"
                  name="empTel"
                  placeholder="연락처 입력"
                  aria-describedby="emailHelp"
                  th:value="${#authentication.principal.empTel}"
                />
                <div class="col-4"></div>
              </div>
              <small id="emailHelp" class="form-text text-muted">비밀번호를 입력하지 않아도 변경됩니다.</small>
              <hr />
              <p>비밀번호 분실시 담당자에게 연락<br />연락처 : 010-0000-0000</p>
              <button type="submit" class="btn btn-primary">변경</button>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
          </div>
        </div>
      </div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          $("#modForm").submit((e) => {
            let pw1 = $("#password1");
            let pw2 = $("#password2");
            let tel = $("#tel");
            if (tel.val() == "") {
              alert("연락처를 입력해주세요");
              tel.focus();
              return false;
            }
            if (pw1.val().length < 6 && pw1.val() != "") {
              alert("비밀번호는 6자 이상이어야 합니다.");
              pw1.focus();
              pw1.val("");
              return false;
            }
            if (pw1.val() != pw2.val()) {
              alert("비밀번호와 비밀번호 확인이 다릅니다.");
              pw1.val("");
              pw2.val("");
              pw1.focus();
              return false;
            }
          });
        });
      </script>
      <!-- jQuery -->
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
