<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 --> 
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  </head>
  <body>
    <div layout:fragment="title">사원 정보 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="container">
        <div class="row">
          <div class="col-1 text-right">
            <label class="col-form-label" for="empName">사원명</label>
          </div>
          <div class="col-3 col-lg-2">
            <input
              type="text"
              class="form-control"
              style="float: none; margin: 0 auto 10px auto"
              id="empName"
              name="empName"
              readonly
            />
          </div>
          <div>
            <button class="fa-solid fa-magnifying-glass btn btn-primary" style="height: 38px"></button>
          </div>
          <div class="col-3"></div>
          <div class="col-auto">
            <button class="btn btn-primary" style="height: 38px">비밀번호 수정</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" style="height: 38px">추가</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" style="height: 38px">초기화</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" style="height: 38px">삭제</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" style="height: 38px">저장</button>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {});
      </script>
      <!-- jQuery -->
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
