<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/template}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Pen Service</title>
    <script src="https://kit.fontawesome.com/56e7c5522c.js" crossorigin="anonymous"></script>
    <!-- 그리드 -->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <style>
      tr .modified {
        background-color: rgba(255, 255, 0, 0.3);
      }
    </style>
  </head>
  <body>
    <div layout:fragment="title">사원 정보 관리</div>
    <!-- 메인컨텐츠 -->
    <div layout:fragment="content">
      <div class="row justify-content-center" style="margin-bottom: 10px">
        <div class="row col-4">
          <div class="col-3">
            <label class="col-form-label" for="empName">사원명</label>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" id="empName" name="empName" placeholder="빈 칸이면 전체 조회" />
          </div>
          <div class="col-2">
            <button
              class="fa-solid fa-magnifying-glass btn btn-primary"
              id="userSearchBtn"
              style="height: 38px; float: left"
            ></button>
          </div>
        </div>
        <div class="row col-8 justify-content-end">
          <div class="col-auto">
            <button class="btn btn-primary" id="resetPw" style="height: 38px">비밀번호 초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="addEmp" style="height: 38px">추가</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger" id="delete" style="height: 38px">삭제</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="reset" style="height: 38px">초기화</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="save" style="height: 38px">저장</button>
          </div>
        </div>
      </div>
      <div id="grid"></div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script>
        $(function () {
          const token = $('meta[name="_csrf"]').attr("content");
          const header = $('meta[name="_csrf_header"]').attr("content");
          // 메인그리드시작;
          // datasource 시작
          const dataSource = {
            contentType: "application/json",
            api: {
              readData: {
                url: "/admin/userListAjax",
                method: "GET",
              },
              modifyData: {
                url: "/admin/userModifyAjax",
                method: "POST",
                withCredentials: true,
              },
            },
          };
          //datasource 끝

          //권한 select 박스 항목 받아오기 시작
          var authList = [];
          $.ajax({
            url: "/getAuthListAjax",
            method: "GET",
          })
            .done((r) => {
              r.forEach((ele) => {
                authList.push({ text: ele.authName, value: ele.authName });
              });
            })
            .fail((e) => {
              alert("권한 데이터를 받아오는중 에러가 발생했습니다.");
            });
          //권한 select 박스 항목 받아오기 끝

          //전화번호 정규식
          const telRegex = /^\d{2,3}-\d{3,4}-\d{4}$/;

          //그리드폼 시작
          const grid = new tui.Grid({
            el: document.getElementById("grid"),
            contextMenu: null,
            data: dataSource,
            bodyHeight: 700,
            scrollX: false,
            rowHeaders: [{ type: "checkbox", header: ` ` }],
            columns: [
              {
                header: "사원번호",
                name: "empNum",
                align: "center",
              },
              {
                header: "사원명",
                name: "empName",
                editor: "text",
                align: "center",
              },
              {
                header: "아이디",
                name: "empId",
                editor: "text",
                align: "center",
                validation: {
                  unique: true,
                },
              },
              {
                header: "입사일",
                name: "hireDate",
                editor: "datePicker",
                align: "center",
              },
              {
                header: "권한명",
                name: "authName",
                editor: { type: "select", options: { listItems: authList } },
                align: "center",
              },
              {
                header: "연락처",
                name: "empTel",
                editor: "text",
                align: "center",
                validation: {
                  regExp: telRegex,
                },
              },
            ],
          });
          //그리드 폼 끝

          //그리드 세팅 시작
          //서버에 연결전 토큰값 담는 method
          grid.on("beforeRequest", function (obj) {
            obj.xhr.setRequestHeader(header, token);
          });

          //데이터 저장 여부 alert
          grid.on("response", (e) => {
            let result = JSON.parse(e.xhr.response).data.contents;
            if (result == "Success") {
              grid.readData();
              alert("데이터가 저장되었습니다.");
            } else if (result == "Fail") {
              alert("데이터 저장중 에러가 발생했습니다.");
            }
          });

          //tui grid의 언어세팅
          tui.Grid.setLanguage("ko");

          //체크박스 하나만 적용 시작
          grid.on("check", function (e) {
            var checkRows = grid.getCheckedRowKeys();
            checkRows.forEach(function (key, idx) {
              if (key != e.rowKey) {
                grid.uncheck(key);
              }
            });
          });
          //체크박스 하나만 적용 끝
          //수정된 행 색칠 시작
          grid.on("afterChange", (e) => {
            let c = e.changes[0];
            grid.addCellClassName(c.rowKey, c.columnName, "modified");
          });
          //수정된 행 색칠 끝

          //그리드 세팅 끝

          //저장기능 시작
          $("#save").click(() => {
            //유효성 검사 시작
            let vd = grid.validate(); // grid 만들때 설정한 validation 옵션에 걸리는 행들
            let idn = 0; // 행 안의 empId가 문제인 경우의 수
            let teln = 0; // 행 안의 empTel이 문제인 경우의 수
            if (vd.length != 0) {
              vd.forEach((arr) => {
                arr.errors.forEach((col) => {
                  if (col.columnName == "empId") {
                    idn++;
                  } else {
                    teln++;
                  }
                });
              });
              if (idn) {
                // idn이 0이 아니면
                alert("중복되는 아이디가 존재합니다.");
              }
              if (teln) {
                //teln이 0이 아니면
                alert(
                  "전화번호의 형식이 잘못되었습니다.\n[010-0000-0000 또는 02-000-0000 의 형식으로 입력해주십시오.]"
                );
              }
              //유효성 검사 끝
            } else {
              //덜 닫힌 input창을 저장시키고 모든 변경사항을 서버로 전송
              grid.finishEditing();
              grid.request("modifyData");
            }
          });

          //저장기능 끝

          //사원명 조회 기능 grid.readData
          $("#userSearchBtn").click(() => {
            let tmp = grid.getModifiedRows(); // 변경된 행을 가져옴 (추가,삭제,수정)
            let noChange = tmp.updatedRows.length + tmp.createdRows.length + tmp.deletedRows.length == 0; // 변경된 행이 0개면 true

            let empName = $("#empName");
            if (noChange) {
              // 변경점이 없다면
              // 사원명 input의 value로 조회해서 grid를 다시 그림
              if (empName.val() != "") {
                $.ajax({
                  url: "/admin/getUserWithNameAjax",
                  dataType: "JSON",
                  data: { empName: empName.val() },
                }).done((r) => {
                  grid.resetData(r);
                });
                // 사원명 input이 비어있으면 모두 조회
              } else {
                grid.readData();
              }
            } else {
              // 변경점이 있다면 confirm 창을 띄운다.
              if (confirm("조회시 저장되지않은 데이터가 소실됩니다. 조회하겠습니까?")) {
                // 사원명 input의 value로 조회해서 grid를 다시 그림
                if (empName.val() != "") {
                  $.ajax({
                    url: "/admin/getUserWithNameAjax",
                    dataType: "JSON",
                    data: { empName: empName.val() },
                  })
                    .done((r) => {
                      grid.resetData(r);
                    })
                    .fail((e) => {
                      alert("데이터를 조회하는 중 에러가 발생했습니다.");
                    });
                  // 사원명 input이 비어있으면 모두 조회
                } else {
                  grid.readData();
                  nextNum = null;
                }
              }
            }
            empName.val("");
          });
          //사원명 조회기능 끝

          //비밀번호 초기화 시작
          $("#resetPw").click((e) => {
            if (grid.getCheckedRowKeys().length == 0) {
              alert("초기화 할 사원을 체크해주십시오.");
            } else {
              let chkData = grid.getCheckedRows()[0];
              $.ajax({
                url: "/admin/resetPassword",
                method: "POST",
                data: { empNum: chkData.empNum, empPw: chkData.empTel.substr(-4) },
                beforeSend: function (xhr) {
                  xhr.setRequestHeader(header, token);
                },
              }).done((r) => {
                alert(
                  `${chkData.empName} 님의 비밀번호가 초기화 되었습니다.\n초기화된 비밀번호는 연락처 끝 4자리입니다. `
                );
                grid.readData();
              });
            }
          });
          //비밀번호 초기화 끝

          //사원 추가 시작
          let nextNum; // EMPCODE
          $("#addEmp").click((e) => {
            //오늘 날짜 가져오기 시작
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var format = year + "-" + ("00" + month.toString()).slice(-2) + "-" + ("00" + day.toString()).slice(-2);
            //오늘 날짜 가져오기 끝
            if (!nextNum) {
              // 코드를 가져온적이 없으면 새로 가져옴
              $.ajax({
                url: "/admin/getEmpCode",
                async: false,
              }).done((r) => {
                nextNum = r;
              });
            } else {
              // 코드를 이미 가져왔다면 코드에 1을 추가함
              let word = nextNum.substr(0, 4);
              let num = parseInt(nextNum.substr(4)) + 1 + "";
              nextNum = word + num.padStart(4, "0");
            }
            grid.appendRow({ empNum: nextNum, hireDate: format }, { focus: true }); // 행을 추가하고 마우스 커서를 이동
            grid.addRowClassName(grid.getFocusedCell().rowKey, "modified");
          });
          //사원 추가 끝

          //사원 삭제 시작
          $("#delete").click((e) => {
            if (grid.getCheckedRowKeys().length == 0) {
              alert("삭제할 행을 체크해주십시오.");
            } else {
              grid.removeCheckedRows(true);
            }
          });
          //사원 삭제 끝

          //초기화 버튼 시작
          $("#reset").click((e) => {
            if (confirm("변경된 내용을 초기화 하시겠습니까?")) {
              grid.restore();
              nextNum = null;
            }
          });
          //초기화 버튼 끝
        });
      </script>
    </div>
    <!-- 메인컨텐츠 끝 -->
  </body>
</html>
